{% extends 'b2b/client/base.html.twig' %}


{% block title %}Community Manager | Email{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@3.0.0-rc.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}


    <div class="tab-pane active" id="email" role="tabpanel">
        <div
                class="col-md-12 tab-content-header bg-white d-flex justify-content-between align-items-center p-3 shadow-sm mail-box">
            <div class="d-flex align-items-center fz-20 text-darkblue"><i class="fas fa-envelope fz-30 mr-2"></i> Email
            </div>
{#            <div>#}
{#                <a href="javascript:;" class="btn btn-outline-darkblue rounded-circle mr-2 position-relative">#}
{#                    <span class="new-notification"></span>#}
{#                    <i class="far fa-bell"></i>#}
{#                </a>#}
{#                <a href="{{ url('b2b_client_mission_list') }}" class="btn btn-outline-darkblue btn-pill">{{ missionsCount }} missions en cours</a>#}
{#            </div>#}
            <div class="col-md-12 tab-content-header bg-white d-flex justify-content-between align-items-center p-3 shadow-sm">
                <div class="d-flex align-items-center fz-20 text-darkblue"><i class="fas fa-home fz-30 mr-2"></i> Accueil</div>
                {% embed 'b2b/shared/_notification_header.html.twig' with {'notifications':notifications} %}{% endembed %}
            </div>
        </div>

        <div class="tab-pane-content p-0 email-creation-content mial-box bg-white" data-simplebar id="emailContainer">

            <div class="email-options sticky-top p-3 bg-dashboard">
                <div class="mail-option">
                    <div class="inbox-option d-inline-flex mr-3">
{#                        <div class="chk-all d-inline-flex align-items-center">#}
{#                            <!-- <input type="checkbox" class="mail-checkbox mail-group-checkbox"> -->#}
{#                            <div class="custom-control custom-checkbox">#}
{#                                <input type="checkbox" class="custom-control-input check-all-emails" id="selectAll">#}
{#                                <label class="custom-control-label text-darkblue" for="selectAll"></label>#}
{#                            </div>#}
{#                            <div class="btn-group">#}
{#                                <div class="dropdown">#}
{#                                    <a data-toggle="dropdown" href="javascript:;" class="btn all" aria-expanded="false" id="emailOptions">#}
{#                                        All#}
{#                                        <i class="fas fa-chevron-down"></i>#}
{#                                    </a>#}
{#                                    <div class="dropdown-menu" aria-labelledby="emailOptions">#}
{#                                        <a class="dropdown-item text-darkgray fz-12 select-all-emails" href="javascript:;">All</a>#}
{#                                        <a class="dropdown-item text-darkgray fz-12 select-none" href="javascript:;">None</a>#}
{#                                        <a class="dropdown-item text-darkgray fz-12 select-read" href="javascript:;">Read</a>#}
{#                                        <a class="dropdown-item text-darkgray fz-12 select-unread" href="javascript:;">Unread</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="btn-group selected-email-options d-none" role="group" aria-label="selected-options">
                            <a href="javascript:;" class="btn btn-outline-normalgray" data-toggle="tooltip" data-placement="bottom"
                               title="Delete"><i class="fas fa-trash"></i></a>
                            <a href="javascript:;" class="btn btn-outline-normalgray" data-toggle="tooltip" data-placement="bottom"
                               title="Mark as read"><i class="fas fa-envelope-open"></i></a>
                            <a href="javascript:;" class="btn btn-outline-normalgray" data-toggle="tooltip" data-placement="bottom"
                               title="Mark as unread"><i class="fas fa-envelope"></i></a>
                        </div>
                    </div>
                    <div class="btn-group mr-3">
                        <a data-toggle="tooltip" title="{{ ('b2b.label.compose')| trans }}" data-placement="bottom" href="javascript:;"
                           class="btn btn-pink compose-email">
                            <i class="far fa-plus mr-2"></i> {{ ('b2b.label.compose')| trans }}
                        </a>
                    </div>
                    <div class="btn-group mr-3">
                        <a data-toggle="tooltip" title="{{ ('b2b.label.inbox')| trans }}" data-placement="bottom" href="/client/email/inbox"
                           class="btn btn-darkblue go-to-inbox">
                            <i class="fas fa-inbox mr-2"></i> {{ ('b2b.label.inbox')| trans }} <span class="badge bg-pink text-white fz-12">{{ receiverMails | length }}</span>
                        </a>


                        <a data-toggle="tooltip" title="{{ ('b2b.label.sent_box')| trans }}" data-placement="bottom" href="/client/email/send-emails"
                           class="btn btn-darkblue go-to-inbox">
                            <i class="fas fa-inbox mr-2"></i> {{ ('b2b.label.sent_box')| trans }} <span class="badge bg-pink text-white fz-12">{{ sendMails | length }}</span>
                        </a>
                        <!-- <div class="btn-group"> -->
                        <a data-toggle="tooltip" title="{{ ('b2b.label.refresh')| trans }}" data-placement="bottom" href="javascript:;" id="refresh" class="btn btn-darkblue">
                            <i class="fas fa-sync-alt"></i> {{ ('b2b.label.refresh')| trans }}
                        </a>
                        <!-- </div> -->
                        <!-- <a data-toggle="tooltip" title="Important" data-placement="bottom" href="javascript:;"
                            class="btn btn-darkblue">
                            <i class="far fa-bookmark mr-2"></i> Important
                        </a> -->
{#                        <a data-toggle="tooltip" title="Drafts" data-placement="bottom" href="javascript:;"#}
{#                           class="btn btn-darkblue">#}
{#                            <i class="fas fa-external-link-alt mr-2"></i> Drafts#}
{#                        </a>#}
                    </div>
{#                    <div class="btn-group">#}
{#                        <a data-toggle="tooltip" title="Trash" data-placement="bottom" href="javascript:;"#}
{#                           class="btn btn-darkgray">#}
{#                            <i class="fas fa-trash-alt mr-2"></i> Trash#}
{#                        </a>#}
{#                    </div>#}

                </div>
            </div>
            <!-- compose mail -->
            <div class="compose-email-container px-3 pb-3 bg-dashboard">
                <div class="card">
                    {{ form_start(form) }}
                        <!-- Mail header -->
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="text-darkblue mb-0">{{ ('b2b.label.compose_new_message')| trans }}</h5>
                            <button type="reset" class="btn btn-outline-textgray cancel-compose" data-toggle="tooltip" title="" data-original-title="{{ ('b2b.label.discard')| trans }}"><i class="fas fa-times mr-1"></i> {{ ('b2b.label.discard')| trans }}</button>
                        </div>
                        <!-- Mail header ends -->

                        <!-- Mail body -->
                        <div class="card-body">
                            <div class="form-group">
                                <!-- <label for="toEmailAddress" class="fz-14">To</label> -->
{#                                <input class="form-control fz-14" placeholder="To:" id="toEmailAddress">#}
                                {{ form_row(form.cm,{ 'attr': {'class': 'form-control fz-14'}}) }}
                            </div>
                            <div class="form-group">
                                <!-- <label for="emailSubject" class="fz-14">Subject</label> -->
{#                                <input class="form-control fz-14" placeholder="Subject:" id="emailSubject">#}
                                {{ form_row(form.Object,{ 'attr': {'class': 'form-control fz-14','placeholder': 'Titre email'}}) }}
                            </div>
                            <div class="form-group">
                                <label for="emailMessage" class="fz-14">Message:</label>
                                {{ form_row(form.messages.content,{'attr' : {'class' : 'form-control fz-14','rows' : '10','cols' : '30'}}) }}
                            </div>
                            <div class="">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01"><i class="fas fa-paperclip"></i></span>
                                    </div>
                                    <div class="custom-file">
                                        {{ form_row(form.messages.attachment,{'attr' : {'class' : 'custom-file-input','aria-describedby':'inputGroupFileAddon01'}}) }}
                                        <label class="custom-file-label mb-0 fz-14" for="ticket_messages_attachment" id="fileList">{{ ('b2b.label.attachment')| trans }}</label>
                                    </div>
                                </div>
{#                                <small>Max. 32MB</small>#}
                                <!-- <p class="help-block">Max. 32MB</p> -->
                            </div>
                        </div>
                        <!-- Mail body ends -->
                        <!-- Mail footer -->
                        <div class="card-footer">
                            <div class="float-right">
{#                                <button type="button" class="btn btn-textgray mr-2" data-toggle="tooltip" title="Draft"><i class="fas fa-pencil mr-1"></i> Draft</button>#}
                                <button type="submit" class="btn btn-pink send-message" data-toggle="tooltip" title="{{ ('b2b.label.send')| trans }}">{{ ('b2b.label.send')| trans }} <i class="fas fa-paper-plane ml-1"></i></button>
                            </div>
                            <button type="reset" class="btn btn-outline-textgray cancel-compose" data-toggle="tooltip" title="{{ ('b2b.label.discard')| trans }}"><i class="fas fa-times mr-1"></i> {{ ('b2b.label.discard')| trans }}</button>
                        </div>
                        <!-- Mail footer ends -->
                    {{ form_end(form,{render_rest:false}) }}
                </div>
            </div>
            <!-- compose mail ends -->

            <!-- view mail -->
            <div class="view-email-container small-email p-3 bg-dashboard" data-simplebar>
                <div id="preview-inbox"></div>
            </div>
            <!-- view mail ends -->

            <div class="inbox-body">
                <table class="table table-inbox table-hover email-table" id="emailTable">
                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>Sender</th>
                        <th>Message title</th>
                        <th>Attachment</th>
                        <th>Time of email</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mail in mails %}
                        <tr class="{% if mail.messages.last.status == 1 %}unread{% endif %}">
                            <td class="inbox-small-cells">
                               {{ mail.id }}
                            </td>
                            <td class="view-message  dont-show">{{ mail.client.firstName }}</td>
                            <td class="view-message ">{{ mail.Object }}</td>
                            <td class="view-message  inbox-small-cells">
                            {% set flag = true %}
                            {% for message in mail.messages %}
                                {% if flag %}
                                    {% if message.attachment is not empty %}
                                        {% set flag = false %}
                                            <i class="fa fa-paperclip"></i>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </td>
                            <td class="view-message text-right">{{  mail.createdAt | date('d-m-y h:i A') }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <!-- <aside class="lg-side">
            </aside> -->
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@3.0.0-rc.1/js/froala_editor.pkgd.min.js"></script>
    <script src="{{ absolute_url('/assets/js/froala-language.js') }}"></script>
    <script>

        var editor = new FroalaEditor('#ticket_messages_content',{
            key:'iTB2xA5C4C1C2uzbtA3mfdhnD5D4H4C2C3A6B5C2B4A4==',
            language: 'es'
        });

        $('#refresh').on('click',function () {
            location.reload();
        });

        $("#ticket_messages_attachment").on('change',function () {
            readURL(this);
        });

        function readURL(input) {
            if (input.files && input.files[0]) {

                var output = document.getElementById('fileList');
                $("#fileList").text(' ');

                for (var i = 0; i < input.files.length; ++i) {
                    output.innerHTML += input.files.item(i).name + '-';
                }

            }
        }

        $(".cancel-compose").on('click',function () {
            $("#ticket_messages_attachment").val(null);
            $("#fileList").text("{{ ('b2b.label.attachment')| trans }}");
        });
    </script>
{% endblock %}


