{% extends 'emails/b2b/base.html.twig' %}

{% block body %}


    <tr>
        <td valign="top" style="font-size:1px; line-height:1px;" height="40" class="height20">
            <!--[if gt mso 14]>&nbsp;<![endif]-->
        </td>
    </tr>
    <tr>
        <td valign="top" height="" class="text-darkgray text-left" style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; font-weight: bold; line-height: 1.6!important;" align="left">
            Bonjour {{ client.firstName }}
        </td>
    </tr>
    <tr>
        <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">
            <!--[if gt mso 14]>&nbsp;<![endif]-->
        </td>
    </tr>
    <tr>
        <td valign="top" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
            Bienvenue ! vous êtes désormais client de Pix.city Services !
        </td>
    </tr>
    <tr>
        <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">
            <!--[if gt mso 14]>&nbsp;<![endif]-->
        </td>
    </tr>
    <tr>
        <td valign="top" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
            Vous pouvez désormais vous connecter à votre nouvel espace client :<a href="{{ url('b2b_client_index') }}" >{{ url('b2b_client_index') }}</a>
        </td>
    </tr>
    <tr>
        <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">
            <!--[if gt mso 14]>&nbsp;<![endif]-->
        </td>
    </tr>
    <tr>
        <td valign="top" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
            Ce que vous pourrez faire  à partir de maintenant :
        </td>
    </tr>
    <tr>
        <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">
            <!--[if gt mso 14]>&nbsp;<![endif]-->
        </td>
    </tr>
    <tr>
        <td valign="top" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
            <table class="" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td valign="middle" height="" class="text-darkgray text-left" style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; width:15px; line-height: 1.6!important;" align="left" width="15">
                        • La simplicité:
                    </td>
                    <td valign="middle" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
                        Vous pouvez naviguer sur http://pixielanes.in/new/b2b/client-cm-wall.html pour trouver le city-maker de votre choix. Vous sélectionnez la région et la compétence que vous recherchez. Le moteur intelligent vous proposera une pré-sélection adaptée
                    </td>
                </tr>
                <tr>
                    <td valign="middle" height="" class="text-darkgray text-left" style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; width:15px; line-height: 1.6!important;" align="left" width="15">
                        • L’échange en direct :
                    </td>
                    <td valign="middle" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
                        Cliquez sur un pack et vous pourrez rentrer en contact gratuitement avec votre city-maker. Il pourra alors créer une mission personnalisée pour vous si vous souhaitez modifier les contours du pack proposé. N’hésitez pas à échanger avec lui / elle !

                    </td>
                </tr>
                <tr>
                    <td valign="middle" height="" class="text-darkgray text-left" style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; width:15px; line-height: 1.6!important;" align="left" width="15">
                        • Suivre le cours de vos missions :
                    </td>
                    <td valign="middle" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
                        Votre city-maker pourra éditer une mission si vous souhaitez en modifier certains éléments. Vous pourrez même annuler une mission si le city-maker en est d’accord si vous deviez le faire.
                    </td>
                </tr>
                <tr>
                    <td valign="middle" height="" class="text-darkgray text-left" style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; width:15px; line-height: 1.6!important;" align="left" width="15">
                        • Accéder à vos devis et factures :
                    </td>
                    <td valign="middle" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
                        Pix.City Services s’assure que le city-maker respecte ses obligations légales. Ce city-maker aura la possibilité de souscrire à une responsabilité civile professionnelle proposée par Pix.City Services pour être assuré pour la mission qu'il fera avec vous.
                    </td>
                </tr>
                <tr>
                    <td valign="middle" height="" class="text-darkgray text-left" style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; width:15px; line-height: 1.6!important;" align="left" width="15">
                        • Et bien d’autres fonctionnalités à découvrir ! :
                    </td>
                    <td valign="middle" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
                        Vous aurez un espace d’échanges de conservations avec votre city-maker. Vous pourrez conserver tous vos historiques. (Lien article FAQ pour comprendre).
                    </td>
                </tr>
                </tbody></table>
        </td>
    </tr>
    <tr>
    <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">
        <!--[if gt mso 14]>&nbsp;<![endif]-->
    </td>
    </tr>
    <tr>
        <td valign="top" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
            Que fait Pix.City Services pour vous ?
        </td>
    </tr>
    <tr>
        <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">
            <!--[if gt mso 14]>&nbsp;<![endif]-->
        </td>
    </tr>
    <tr>
        <td valign="top" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
            <table class="" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td valign="middle" height="" class="text-darkgray text-left" style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; width:15px; line-height: 1.6!important;" align="left" width="15">
                        • Sécurisation de la prestation :
                    </td>
                    <td valign="middle" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
                        Vous pouvez naviguer sur <a href="{{ url('b2b_client_search_index') }}">{{ url('b2b_client_search_index') }}</a> pour trouver le city-maker de votre choix. Vous sélectionnez la région et la compétence que vous recherchez. Le moteur intelligent vous proposera une pré-sélection adaptée
                    </td>
                </tr>
                <tr>
                    <td valign="middle" height="" class="text-darkgray text-left" style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; width:15px; line-height: 1.6!important;" align="left" width="15">
                        • Le pré-paiement :
                    </td>
                    <td valign="middle" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
                        Afin de rassurer votre city-maker, Pix.City Services vous demandera de prépayer la mission via un compte de cantonnement via notre partenaire Mango Pay. Le paiement ne sera déclenché qu’une fois la mission terminée, c’est-à-dire qu’une fois que le city-maker aura déclaré la mission terminée et que vous l’aurez acceptée aussi.

                    </td>
                </tr>
                </tbody></table>
        </td>
    </tr>

    <tr>
        <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">
            <!--[if gt mso 14]>&nbsp;<![endif]-->
        </td>
    </tr>
    <tr>
        <td valign="top" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
            Évidemment vous retrouverez plein d’explications sur notre FAQ
        </td>
    </tr>
    <tr>
        <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">
            <!--[if gt mso 14]>&nbsp;<![endif]-->
        </td>
    </tr>

    <tr>
        <td valign="top" height="" class="text-darkgray text-left" style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;" align="left">
            Connectez-vous vite sur votre profil et commencer l’aventure Pix.City Services !
        </td>
    </tr>
    <tr>
        <td align="center" style="font-family: 'Montserrat', sans-serif; font-size:16px; color:#103558;" valign="middle">
            <table width="288" class="inner-contents" border="0" cellspacing="0" cellpadding="0" align="center">
                <tbody><tr>
                    <!--[if lt IE 9 | mso]>
                    <td width="5" style="font-family:Arial; font-size:16px; color:#103558;" valign="middle"><img style="display:block; border:none;" src="http://pixielanes.in/new/images/cta-left.png" width="25" height="48" alt=""/></td>
                    <![endif]-->
                    <td bgcolor="#009cde" style="font-family: 'Montserrat', sans-serif; font-size:16px; color:#ffffff; background-color:#103558; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;" valign="middle">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                                <td style="font-family: 'Montserrat', sans-serif; font-size:16px; color:#FFFFFF;" valign="middle" align="center" height="48"><a style="display:block; text-decoration:none; color:#ffffff; padding:10px 0px 10px 0px; font-size: 16px;" href="{{ url('b2b_mission_list') }}" target="_blank">VOIR MISSION
                                        <img style="vertical-align: middle;" src="http://pixielanes.in/new/images/pix-city-services-02.png" alt=""></a></td>
                            </tr>
                            </tbody></table>
                    </td>
                    <!--[if lt IE 9 | mso]>
                    <td width="5" style="font-family:Arial; font-size:16px; color:#103558;" valign="middle"><img style="display:block; border:none;" src="http://pixielanes.in/new/images/cta-right.png" width="5" height="40" alt=""/></td>
                    <![endif]-->
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" style="font-size:1px; line-height:1px;" height="40" class="height20">
            <!--[if gt mso 14]>&nbsp;<![endif]-->
        </td>
    </tr>
{% endblock %}