{% extends 'v2/base.html.twig' %}

{% import "front/_shared/macros.html.twig" as macro %}
{% block body_class %}{{ parent() }} home bgPictos{% endblock %}

{% block meta_title %}{{ page.metaTitle }}{% endblock %}
{% block meta_description %}{{ page.metaDescription }}{% endblock %}
{% block body %}
    <div class="home">
        <!-- Banner : Ganesh testing-->
        <div class="banner-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex align-items-center banner-container">
                        <div class="row full-width">
                            <div class="col-md-6">
                                <p class="hash-title"><span>#</span>Localinfluence</p>
                                <p class="tagine">
                                    Site de rencontre d'influenceurs et de commerçants locaux.
                                </p>
                                <form class="form-inline" action="{{ path('front_search_index') }}" method="GET"
                                      id="searchForm">
                                    <input type="hidden" name="start" value="1"/>
                                    <input type="hidden" name="limit" value="10"/>
                                    <input class="form-control mr-sm-2" name="search" type="search"
                                           placeholder="Rechercher par restaurant ou région" aria-label="Search">
                                    <button class="btn btn-pink my-2 my-sm-0" type="" required="required"
                                            id="searchFormSubmitButton"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="scroll-downs">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner -->
        <!-- About illustration wrap starts -->
        {#        <div class="illustration-wrap">#}
        {#            <div class="container">#}
        {#                <div class="container-illustration-text">#}
        {#                    <h4>C'est La Saison	Des <img src="{{  absolute_url(asset('build/images/about-pink-hash.svg')) }}" alt="Hashtags"> Dans Votre Region ?</h4>#}
        {#                    <p>Devenez City-Maker Local* <img src="{{  absolute_url(asset('build/images/about-pixcity-logo.svg')) }}" alt="pix.city"></p>#}
        {#                    <p>*un local, un vrai influenceur qui fait rayonner sa région, sa ville en partageant ses endroits préférés.</p>#}
        {#                    <div class="row">#}
        {#                        <div class="col-md-4 mt-4">#}
        {#                            <a href="/devenez-city-maker" class="btn btn-pink btn-pill btn-block my-2 my-sm-0" target="_blank" title="Devenez City-maker / community manager local en partageant vos adresses et itinéraires sur Pix.city.">En savoir plus</a>#}

        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <div class="container-illustration">#}
        {#                    <img src="{{  absolute_url(asset('build/images/about-illustration.svg')) }}" alt="About Illustration" />#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="illustration-wrap bg-white">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-9 mx-auto text-center mb-4">
                        <h1 class="font-weight-bold">Vous gérez un commerce ou proposez un service en local ?</h1>
                        <h2 class="tag font-weight-light">Les influenceurs / community managers locaux de <img
                                    src="{{ absolute_url(asset('build/images/home-illus-logo.svg')) }}" alt="Pix.city">
                            peuvent gérer pour vous votre visibilité sur Instagram, Facebook et Google my business.</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img class="mb-2" src="{{ absolute_url(asset('build/images/home-illus-1.svg')) }}" height="127">
                        <p>Rencontre avec votre city-maker (community manager / influenceur local) pour démarrer le
                            partenariat.</p>
                        <p class="social-icons text-center">
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-facebook-square"></i>
                            <img src="{{ absolute_url(asset('build/images/gbusiness.png')) }}">
                        </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="mb-2" src="{{ absolute_url(asset('build/images/home-illus-2.svg')) }}" height="127">
                        <p>Création de contenu original : photo, texte, vidéo et animation de communauté par le
                            city-maker.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="mb-2" src="{{ absolute_url(asset('build/images/home-illus-3.svg')) }}" height="127">
                        <p>Contractualisation et Paiements sécurisés<br/>à travers notre plateforme.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 mx-auto">
                        <a href="{{ path('prestations_de_serviceindex') }}"
                           class="btn btn-pink btn-pill btn-block shadow">En savoir plus</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mx-auto mt-4 search-link">
                        <a href="{{ path('b2b_client_search_index') }}" class="btn btn-link btn-block"><i
                                    class="fas fa-search"></i> <span>Découvrir les city-makers</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About illustration wrap Ends -->
        <!-- Embedded Google map Wrap Starts -->
        <!--googleoff: all-->
        {% include "v2/_shared/map.html.twig" %}
        <!--googleon: all>
        <!-- Embedded Google map Wrap Ends -->
        <!-- Filter Cards Wrap Starts -->
        <div class="cards-wrap">
            <div class="container">
                <div id="cards" class="row list-of-cards m-t-50 no-autoscroll" data-api-route="/api/cards/v2/list">
                    <div class="col-md-12">
                        <h2>Les Cards du moment</h2>
                        <div class="row">
                            <div class="col-md-12 dropdown">
                                <a class="dropdown-toggle dnc" href="javascript:;" role="button" id="dropdownMenuLink"
                                   aria-haspopup="true" aria-expanded="false">
                                    Catégories <i class="fas fa-chevron-down"></i>
                                </a>
                                <div id="catsDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <ul id="filters" class="categories">
                                        <li class="btn btn-rollover btn-pink is-checked all" data-id="0"><span
                                                    class="text">Tout</span><i class="fas fa-th"></i></li>

                                        {% for category in categories %}
                                            {% for cat in category %}
                                                {% if cat.name is defined %}
{#                                                    <li class="btn btn-rollover btn-pink" data-id="{{ cat.id }}" data-slug="{{ cat.slug }}">#}
                                                    <li class="btn btn-rollover btn-pink">
                                                        <a href="/recherche/index?start=1&limit=10&search=&categories%5B%5D={{ cat.slug }}" style="color:#ed5485">
                                                            <span class="text">{{ cat.name }}</span><i class="fas {{ cat.icon }}"></i>
                                                        </a>
{#                                                        <span class="text">{{ cat.name }}</span><i class="fas {{ cat.icon }}"></i>#}

                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row cardsMrgn loader-container">
                            <div class="loader"></div>
                            <div id="cardsGrid" class="regionCards cards-grid cards-filter-result">
                                {% for card in cards %}
                                    {{ macro.cardSingle(card) }}
                                {% endfor %}
                                <div class="loadCards"></div>
                                <div class="col-xs-12 text-center">
                                    <a href="javascript:;" class="btn btn-green btn-rollover" id="showMoreCards"><span
                                                class="text">VOIR PLUS DE CARDS</span><i class="fas fa-plus-square"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="noResult" class="row no-results d-none">
                        <div class="col-md-12">
                            <p>
{#                                Aucune Card dans cette catégorie !#}
                            </p>
                            <div class="noCardIco"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Filter Cards Wrap Ends -->
        <div class="france-map-wrap">
            <div class="container">
                <div class="row">
                    <!-- SVG Map Starts-->
                    {% include "v2/_shared/homepage_map.html.twig" %}
                    <!-- SVG Map Ends-->
                    <!-- Top Cards Starts-->
                    <div class="container-top-cards col-md-6">
                        <p class="title">Top cards France</p>
                        <!--googleoff: index-->
                        <div class="dropdown-regions">
                            <a class="dropdown-toggle dnc dropdown-region" href="javascript:;" role="button"
                               id="dropdownMenuRegion" aria-haspopup="true" aria-expanded="false">
                                Regions <i class="fas fa-chevron-down"></i>
                            </a>
                            <div class="dropdown-menu shadow mb-3" id="regDropdown"
                                 aria-labelledby="dropdownMenuRegion">
                                {% for region in regions() %}
                                    <a class="dropdown-item" href="/{{ region.slug }}" target="_blank"
                                       title="{{ region.name }}">{{ region.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <!--googleon: index-->
                        <div id="cards" class="list-of-cards m-t-50 no-autoscroll">
                            <div id="cardsGrid" class="regionCards">

                                {% for card in popularCards %}
                                    <div class="top-card-block mb-4">

                                        {{ macro.cardSingle(card) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Top Cards Ends-->
                </div>
            </div>
        </div>
        <!-- City maker profile wrap Starts-->
        <div class="my-5 city-makers-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Devenez City-Maker !</h2>
                        <p>Partagez vos bonnes adresses et bons plans, améliorez votre popularité sur Instagram et
                            Facebook, monétisez votre influence et votre expertise.</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-around">
                    {% for user in pixies %}
                        {{ macro.cityMakerSingle(user) }}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <div class="col-md-5 profile-actions">
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <a href="/tous-nos-city-makers-locaux-france"
                                       title="tous-nos-city-makers-locaux-france"
                                       class="btn btn-rollover btn-gray btn-block"><span class="text">TOUS LES CITY-MAKERS</span><i
                                                class="fas fa-users"></i></a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/devenez-city-maker" title="devenez-city-maker"
                                       class="btn btn-rollover btn-outline-gray btn-block"><span class="text">DEVENIR CITY-MAKER</span><i
                                                class="fas fa-user-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- City maker profile wrap Ends-->
    </div>
    <div id="api-box" data-api-url="/api/maps/all-cards"
         data-api-search-url="/api/maps/find-all-card/" data-current-location="true" data-show-sidebar="true"
         data-auto-zoom="false" data-country-code="{{ country }}"
    ></div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDFjaLU8H-TpATXcUcDzKQ4w05pCQ5mAg&libraries=places"
            async defer></script>

    <script>
        var coordinates = {};
    </script>

    <script src="{{ asset('build/js/map.js') }}"></script>

{% endblock %}

{% block javascripts_footer %}

{% endblock %}
