{% extends 'admin/page.html.twig' %}

{% block content %}

    <ol class="breadcrumb breadcrumb-col-teal">
        <li><a href="{{ path('admin_dashboard_index') }}"><i class="material-icons">home</i> Accueil</a></li>
        {% if slider is defined %}
            <li><a href="{{ path('admin_pages_sliders_list') }}">{{ slider.name }}</a></li>
        {% endif %}
        {% block breadcrumb %}{% endblock %}
    </ol>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        {{ 'label.slides'|trans }}
                        {% if slider is defined %}
                            - {{ slider.name }}
                        {% endif %}
                    </h2>
                    <a href="{{ path('admin_pages_sliders_slides_new', {slider: slider.id}) }}" class="btn waves-effect pull-right"><i class="material-icons">add</i> <span>{{ 'action.add'|trans }}</span></a>
                </div>
                <div class="body">

                    {% block inner %}{% endblock %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}