<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{{ absolute_url(asset('build/b2b/js/app.js')) }}"></script>
<script src="{{ absolute_url(asset('build/js/dropzone.js')) }}"></script>
<style>
    /* Stackoverflow preview fix, please ignore */
    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        padding-right: .5rem !important;
        padding-left: .5rem !important;
    }

    /* Fixes dropdown menus placed on the right side */
    .ml-auto .dropdown-menu {
        left: auto !important;
        right: 0px;
    }

    .error{
        color: darkred;
    }
</style>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

    <a class="navbar-brand" href="#">Pix City {% if app.user is defined %} - {{ app.user }} {% endif %}</a>
    <!-- Links -->
    <ul class="nav navbar-nav">
        {% if app.user is defined and app.user is not null %}
            <li class="nav-item">
                {{ app.user.email }}
                <a class="nav-link" href="/client/logout">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('b2b_client_login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('b2b_client_auth_register') }}">Register</a>
            </li>
        {% endif %}
    </ul>
</nav>
<hr/>
<link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('build/css/simple-sidebar.css')) }}">
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Start Bootstrap </div>
        <div class="list-group list-group-flush">
            {% if app.user is not null and app.user.profilePhoto is not null %}
                <a href="#">
                    <img src="/uploads/clients/{{ app.user.id }}/{{ app.user.profilePhoto }}" class="img-thumbnail" />
                </a>
            {% else %}
            <a href="#">
                <img src="https://via.placeholder.com/200" class="img-thumbnail" />
            </a>
            {% endif %}
            <a href="{{ url('b2b_client_main_index') }}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            <a href="{{ url('b2b_client_search_index') }}" class="list-group-item list-group-item-action bg-light">Search</a>
            <a href="{{ url('b2b_client_mission_list') }}" class="list-group-item list-group-item-action bg-light">Mes Mission</a>
            <a href="{{ url('b2b_client_mission_missions') }}" class="list-group-item list-group-item-action bg-light">Mission Requests</a>
            <a href="{{ url('client_email_index') }}" class="list-group-item list-group-item-action bg-light">Email</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            {% block body %}{% endblock %}

        </div>
    </div>
{% block javascripts %}{% endblock %}
</body>
</html>
