{% extends 'b2b/client/base.html.twig' %}

{% import 'b2b/shared/macros.html.twig' as macros %}
{% block title %}Client | Home {% endblock %}

{% block body %}

    <!-- My missions preview contents -->
    <div class="mission-preview-container col-sm-12 p-0 vh-100">
        <!-- <div class="overlay-dashboard"></div> -->
        <div class="col-sm-12 mission-preview-content bg-white p-0" data-simplebar>

            <div id="preview-mission"></div>

        </div>
    </div>
    <!-- My missions preview contents ends -->



    <!-- Dashboard contents -->
    <div class="col-md-2 p-sm-0 dash-left vh-100">
        <div class="user-avatar w-100">
{#            <figure class="position-relative m-0 w-100">#}
{#                <img class="img-fluid" src="/uploads/clients/{{ app.user.id }}/{{ app.user.profilePhoto }}" alt="">#}
{#            </figure>#}


            <figure class="position-relative m-0 w-100">
                {% if app.user.profilePhoto is defined and app.user.profilePhoto is not null  %}
                    <img src="/uploads/clients/{{ app.user.id }}/{{ app.user.profilePhoto }}" class="img-fluid" />
                {% else %}
                    <img  src="/uploads/avatars/default-avatar.png" alt="">
                {% endif %}

                <figcaption class="position-absolute d-flex align-items-center"><i class="fas fa-user-circle mr-2"></i>
                    <span>Prévisualiser mon profil</span></figcaption>
            </figure>

        </div>
        <ul class="nav nav-tabs flex-column pt-3 flex-grow-1 border-0" id="dashboardMainNav" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home">
                    <i class="fas fa-home"></i>Accueil</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#myMissions" role="tab" aria-controls="myMissions">
                    <i class="fas fa-briefcase"></i>Mes missions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#billing" role="tab" aria-controls="billing">
                    <i class="fas fa-file-invoice-dollar"></i>Facturation</a>
            </li>
        </ul>
        <footer class="text-center p-2 text-pink fz-12">
            <i class="fas fa-cog"></i>Retourner sur Pix.city
        </footer>
    </div>
    <div class="col-md-10 offset-md-2 dash-right vh-100 p-0">
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel">
                <div class="col-md-12 tab-content-header bg-white d-flex justify-content-between align-items-center p-3 shadow-sm">
                    <div class="d-flex align-items-center fz-20 text-darkblue"><i class="fas fa-home fz-30 mr-2"></i> Mon profil</div>
                    <a href="javascript:;" class="btn btn-outline-darkblue btn-pill">{{ missions | length }} mission en cours</a>
                </div>
                <div class="col-md-12 tab-pane-content p-4" data-simplebar>
                    <div class="col-md-12 content-top-header">
                        <h4 class="mb-0 font-weight-bold">Bienvenue {{ app.user.firstName }}</h4>
                        <small>Dernière connexion Lundi 13 avril 2019</small>
                    </div>

                    <!-- all notification -->
                    <div class="col-md-12 alert-notifications">
                        {% for key, notification in notifications %}
                        <div class="alert bg-white fade show shadow align-items-center d-flex justify-content-between my-2"
                             role="alert" >
                            <div class="col-md-1 d-flex justify-content-center">
                                <i class="fas fa-piggy-bank fz-40"></i>
                            </div>
                            <div class="col-md-8">
                                <h6 class="mb-0">{{ ('b2b.label.' ~ notification.type)|trans| upper }}</h6>
                                <p class="mb-1">{{ notification.message }}</p>
                                <small class="text-muted">{{ notification.createdAt | date('d M Y - H:i') }}</small>
                            </div>
                            <div class="col-md-3 d-flex justify-content-end">
                                {% if notification.type == 'terminated' %}
                                    <a href="javascript:;" class="btn btn-darkblue fz-10">RÉCLAMER LE PAIMEMENT</a>
                                {% endif %}
                            </div>
                            <button type="button" class="close align-self-start mark-notification-read" data-dismiss="alert" aria-label="Close"  data-id="{{ notification.id }}"s>
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="w-100 text-center my-4 show-more">
                            <a href="javascript:;" class="btn btn-white bg-white text-darkblue shadow-sm">Voir tout</a>
                        </div>
                        <div class="w-100 text-center my-4 show-less">
                            <a href="javascript:;" class="btn btn-white bg-white text-darkblue shadow-sm">Reduire</a>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- all notification end here -->



                    <!-- Last profiles consulted slider section -->
                    <div class="col-md-12 content-top-header">
                        <h4 class="mb-3">Les derniers profils consultés</h4>
                        <!-- <small>Dernière connexion Lundi 13 avril 2019 </small> -->
                    </div>

                    <div class="col-md-12 client-wall-members profiles-slider">
                        <div class="slick-profiles-slider px-5">
                            {% for proposal in proposals %}
                            <div class="card px-3 pb-3 mt-5 mb-4 shadow-sm">
                                <div class="cm-card-container">
                                    <div class="row">
                                        <div class="col-md-12 mt-n5 cm-image">
                                            <img class="img-fluid shadow-lg" src="{{ proposal.user.avatar }}" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mt-n3 mb-2">
                                            <ul class="d-flex justify-content-center align-items-center cm-packages">
                                                {% for skill in proposal.user.userskill %}
                                                    <li><i class="fas {{ skill.icon }} fz-16 btn-circle-32 bg-white text-darkblue"></i></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="title text-center fz-16 font-weight-bold mb-0">{{ proposal.user.firstname~' '~proposal.user.lastname }}</h4>
                                            {% for region in proposal.user.userRegion %}
                                                <p class="region text-center fz-14">{{ region.name }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% for pack in proposal.user.userPacks|slice(0, 3) %}
                                                <div class="d-flex bg-lightgray px-2 py-1 mb-2 justify-content-between align-items-center work-relate">
                                                    <div class="work-title fz-10">Pack {{ pack.packSkill.name }}</div>
                                                    <div class="work-amount fz-10">{{ pack.userBasePrice }}€</div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <!-- Last profiles consulted slider section ends -->
                    <div class="col-sm-12 d-flex align-items-center justify-content-center my-4">
                        <a href="{{ path('b2b_client_search_index') }}" class="btn btn-darkblue fz-14"><i class="fas fa-search fz-20 mr-2"></i>Trouver un City-Maker</a>
                    </div>
                    <div class="col-md-12 content-top-header d-flex align-items-center">
                        <h4 class="mb-0">Vos missions en cours</h4>
                    </div>
                    <ul class="available-missions-list m-0 mt-3 col-md-12">
                        {% for mission in missions %}
                            <li class="mission-list-item d-flex align-items-center text-darkgray">
                                <i class="fas {{ mission.referencePack.packskill.icon }} fz-16 btn-circle-32 bg-darkblue text-white"></i>
                                <p class="mb-0 px-3 w-40">{{ mission.description }}
                                </p>
                                <p class="mb-0 w-10 px-4 flex-grow-1 text-normalgray">#{{ mission.id }}</p>
                                <p class="w-15 mb-0">{{ mission.title }}</p>
                                <p class="w-15 mb-0 text-inprogress">En cours</p>
                                <p class="mb-0 px-4 w-10">{{ mission.userMissionPayment.total }}€</p>
                                <i class="fas fa-eye preview-my-mission" data-id="{{ mission.id }}"></i>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            <!-- my mission -->
            <div class="tab-pane" id="myMissions" role="tabpanel">
                {% if mymissions['ongoing']  is not empty and mymissions['cancelled']  is not empty and mymissions['terminated']  is not empty %}
                    <div class="col-md-12 tab-content-header bg-white d-flex justify-content-between align-items-center p-3 shadow-sm">
                        <div class="d-flex align-items-center fz-20 text-darkblue"><i class="fas fa-briefcase fz-30 mr-2"></i>Mes missions
                        </div>
                        <a href="javascript:;" class="btn btn-outline-darkgray btn-pill" data-toggle="modal" data-target="#createMissionModal">{{ mymissions['ongoing'] | length }} missions en cours</a>
                    </div>
                    <div class="col-md-12 tab-pane-content p-4" data-simplebar>
                        <nav class="internal-nav">
                            <ul class="nav nav-tabs border-0 line-tabs line-tabs-pink" id="dashboardMyMissions" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link text-normalgray active" data-toggle="tab" href="#inProgress" role="tab" aria-controls="inProgress">En cours</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-normalgray" data-toggle="tab" href="#completed" role="tab" aria-controls="completed">Terminées</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-normalgray" data-toggle="tab" href="#canceled" role="tab" aria-controls="canceled">Annulées</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="tab-content">
                            <div class="tab-pane active" id="inProgress" role="tabpanel">
                                <ul class="available-missions-list m-0 mt-3 col-md-12">
                                    {% if mymissions['ongoing'] is not empty %}
                                        {% for mission in mymissions['ongoing'] %}
                                        <li class="mission-list-item d-flex align-items-center text-darkgray">
                                            <i class="fas {{ mission.referencePack.packskill.icon }} fz-16 btn-circle-32 bg-darkblue text-white"></i>
                                            <p class="mb-0 px-3 w-40">{{ mission.description }}
                                            </p>
                                            <p class="mb-0 w-10 px-4 flex-grow-1 text-normalgray">#{{ mission.id }}</p>
                                            <p class="w-15 mb-0">{{ mission.title }}</p>
                                            <p class="w-15 mb-0 text-inprogress">En cours</p>
                                            <p class="mb-0 px-4 w-10">{{ mission.userMissionPayment.total }}€</p>
                                            <i class="fas fa-eye preview-my-mission" data-id="{{ mission.id }}"></i>
                                        </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="tab-pane" id="completed" role="tabpanel">
                                <ul class="available-missions-list m-0 mt-3 col-md-12">
                                    {% if mymissions['terminated'] is not empty %}
                                        {% for mission in mymissions['terminated'] %}
                                            <li class="mission-list-item d-flex align-items-center text-darkgray">
                                                <i class="fas {{ mission.referencePack.packskill.icon }} fz-16 btn-circle-32 bg-darkblue text-white"></i>
                                                <p class="mb-0 px-3 w-40">{{ mission.description }}
                                                </p>
                                                <p class="mb-0 w-10 px-4 flex-grow-1 text-normalgray">#{{ mission.id }}</p>
                                                <p class="w-15 mb-0">{{ mission.title }}</p>
                                                <p class="w-15 mb-0 text-inprogress">Annulée</p>
                                                <p class="mb-0 px-4 w-10">{{ mission.userMissionPayment.total }}€</p>
                                                <i class="fas fa-eye preview-my-mission" data-id="{{ mission.id }}"></i>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="tab-pane" id="canceled" role="tabpanel">
                                <ul class="available-missions-list m-0 mt-3 col-md-12">
                                    {% if mymissions['cancelled'] is not empty %}
                                        {% for mission in mymissions['cancelled'] %}
                                            <li class="mission-list-item d-flex align-items-center text-darkgray">
                                                <i class="fas {{ mission.referencePack.packskill.icon }} fz-16 btn-circle-32 bg-darkblue text-white"></i>
                                                <p class="mb-0 px-3 w-40">{{ mission.description }}
                                                </p>
                                                <p class="mb-0 w-10 px-4 flex-grow-1 text-normalgray">#{{ mission.id }}</p>
                                                <p class="w-15 mb-0">{{ mission.title }}</p>
                                                <p class="w-15 mb-0 text-inprogress">Terminée</p>
                                                <p class="mb-0 px-4 w-10">{{ mission.userMissionPayment.total }}€</p>
                                                <i class="fas fa-eye preview-my-mission" data-id="{{ mission.id }}"></i>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div class="row">
                        <div
                                class="col-md-12 tab-content-header bg-white d-flex justify-content-between align-items-center p-3 shadow-sm">
                            <div class="d-flex align-items-center fz-20 text-darkblue">Mes missions</div>
                            <a href="javascript:;" class="btn btn-outline-darkblue btn-pill">Créer une nouvelle
                                mission</a>
                        </div>
                        <div
                                class="col-md-12 tab-pane-content p-4 d-flex align-items-center justify-content-center">
                            <div
                                    class="d-flex flex-column justify-content-center w-50 align-items-center text-center">
                                <div class="w-35">
                                    <img class="img-fluid" src="../images/dash-mymissions-empty.png"
                                         alt="My Missions">
                                </div>
                                <h4 class="mt-4 text-darkblue">On attend le premier message !</h4>
                                <p> Ça y est votre profil et vos packs sont à jour !
                                    Soyez patients, vos premiers clients ne vont pas tarder. Nous vous souhaitons
                                    une bonne négociation !
                                </p>
                                <p> Pour toute question, n’hésitez pas à consulter les <a href="javascript:;">FAQ (+
                                        lien).</a> </p>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
            <!-- my mission end here -->

            <!-- my billing -->
            <div class="tab-pane" id="billing" role="tabpanel">
                <div class="col-md-12 tab-content-header bg-white d-flex justify-content-between align-items-center p-3 shadow-sm">
                    <div class="d-flex align-items-center fz-20 text-darkblue"><i
                                class="fas fa-file-invoice-dollar fz-30 mr-2"></i>Facturation</div>
                    <a href="javascript:;" class="btn btn-outline-darkblue btn-pill" data-toggle="modal" data-target="#createMissionModal">Créer une nouvelle
                        mission</a>
                </div>
                <div class="col-md-12 tab-pane-content p-4" data-simplebar>
                    <table class="table table-sm table-borderless my-billings-list-table">
                        <thead>
                        <tr class="text-normalgray fz-12">
                            <th class="font-weight-normal w-5"><span class="sr-only">Mission filetype</span></th>
                            <th class="font-weight-normal w-30">Nom du fichier </th>
                            <th class="font-weight-normal w-15">Date d’émission</th>
                            <th class="font-weight-normal w-15">Dernière modification</th>
                            <th class="font-weight-normal w-15">Montant</th>
                            <th class="font-weight-normal w-15">Statut du paiement</th>
                            <th class="font-weight-normal w-5"><span class="sr-only">Mission actions</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-darkgray fz-14">
                            <td valign="middle" class="text-center">
                                <i class="far fa-file-alt fz-25"></i>
                            </td>
                            <td valign="middle">Facture PX-13032109-00752</td>
                            <td valign="middle">16/03/2019</td>
                            <td valign="middle">19/03/2019</td>
                            <td valign="middle">240€</td>
                            <td valign="middle"><span class="text-inprogress">En cours</span></td>
                            <td valign="middle">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:;" class="preview-invoice text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none"><i class="fas fa-eye fz-16"></i></a>
                                    <a href="javascript:;" class="text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none"><i class="fas fa-download fz-16"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="text-darkgray fz-14">
                            <td valign="middle" class="text-center">
                                <i class="far fa-file-alt fz-25"></i>
                            </td>
                            <td valign="middle">Facture PX-13032109-00752</td>
                            <td valign="middle">16/03/2019</td>
                            <td valign="middle">19/03/2019</td>
                            <td valign="middle">240€</td>
                            <td valign="middle"><span class="text-completed">Payée</span></td>
                            <td valign="middle">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:;" class="preview-invoice text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none"><i class="fas fa-eye fz-16"></i></a>
                                    <a href="javascript:;" class="text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none"><i class="fas fa-download fz-16"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="text-darkgray fz-14">
                            <td valign="middle" class="text-center">
                                <i class="far fa-file-alt fz-25"></i>
                            </td>
                            <td valign="middle">Facture PX-13032109-00752</td>
                            <td valign="middle">16/03/2019</td>
                            <td valign="middle">19/03/2019</td>
                            <td valign="middle">240€</td>
                            <td valign="middle"><span class="text-inprogress">En cours</span></td>
                            <td valign="middle">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:;"
                                       class="text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none"><i
                                                class="fas fa-eye fz-16"></i></a>
                                    <a href="javascript:;"
                                       class="text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none"><i
                                                class="fas fa-download fz-16"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="text-darkgray fz-14">
                            <td valign="middle" class="text-center">
                                <i class="far fa-file-alt fz-25"></i>
                            </td>
                            <td valign="middle">Facture PX-13032109-00752</td>
                            <td valign="middle">16/03/2019</td>
                            <td valign="middle">19/03/2019</td>
                            <td valign="middle">240€</td>
                            <td valign="middle"><span class="text-completed">Payée</span></td>
                            <td valign="middle">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:;" class="preview-invoice text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none"><i class="fas fa-eye fz-16"></i></a>
                                    <a href="javascript:;" class="text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none"><i class="fas fa-download fz-16"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- my billing end here -->

        </div>
    </div>
    <!-- Dashboard contents ends -->




{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){

            $('button.close').on('click',function(){
                var id = $(this).attr('data-id');
                $.ajax({
                    type: 'GET',
                    url: '{{ path('b2b_notification_unread') }}',
                    data: {id: id},
                    success: function(data){
                        console.log('success: ' + data);
                    }
                });
            });

            $("#notify-more-btn").on('click',function(){
                $("#notify-more-btn").toggleClass('d-none');
                $("#notify-card").toggleClass('d-none');
                $("#notify-less-btn").toggleClass('d-none');
            })

            $("#notify-less-btn").on('click',function(){
                $("#notify-more-btn").toggleClass('d-none');
                $("#notify-card").toggleClass('d-none');
                $("#notify-less-btn").toggleClass('d-none');
            });

        });
    </script>
{% endblock %}
