{% extends 'b2b/client/base.html.twig' %}

{% import 'b2b/shared/macros.html.twig' as macros %}
{% block title %}Hello!{% endblock %}

{% block body %}
{% if app.user is defined and app.user is not null%}

    <div class="container" style="overflow-y: auto; max-height:300px;">
        <h3> Hi {{ app.user.firstName }}</h3>
        <p>
            We are working on client pages.
        </p>
        <div class="row">
            {% for key, notification in notifications %}
                {{ macros.notification(notification,key) }}
            {% endfor %}

        </div>
    </div>
    <h2>Recent Mission Proposals</h2>
    <div class="row">
    {% for proposal in proposals %}
    <div class="card col-md-2" style="margin:10px">
        <a href="{{ url('b2b_front_community_manager_view',{'name':proposal.user.firstname~'-'~proposal.user.lastname, 'id':proposal.user.id}) }}">
            <img src="{{ proposal.user.avatar }}" style="height:100px;width:100%" alt="profile pic"/>
        </a>

        <div class="card-title">
            {{ proposal.user }}
        </div>
        <div class="card-body">
            Proposal sent on {{ proposal.createdAt | date('d M Y') }}
        </div>
    </div>
    {% endfor %}
    </div>

    <h2>Missions</h2>

    <div class="row">
        <table class="table">
            {% for mission in missions %}
                <tr>
                    <td>{{ mission.title }}</td>
                    <td>{{ mission.description }}</td>
                    <td>#{{ mission.id }}</td>
                    <td><a href="{{ url('b2b_client_mission_view',{'id':mission.id}) }}" class="btn btn-sm btn-warning">View</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% else %}

<h1>Thanks for registering</h1>
{% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){

            $('button.close').on('click',function(){
                var id = $(this).attr('data-id');
                $.ajax({
                    type: 'GET',
                    url: '{{ path('b2b_notification_unread') }}',
                    data: {id: id},
                    sucess: function(data){
                        console.log('success: ' + data);
                    }
                });
            });

            $("#notify-more-btn").on('click',function(){
                $("#notify-more-btn").toggleClass('d-none');
                $("#notify-card").toggleClass('d-none');
                $("#notify-less-btn").toggleClass('d-none');
            })

            $("#notify-less-btn").on('click',function(){
                $("#notify-more-btn").toggleClass('d-none');
                $("#notify-card").toggleClass('d-none');
                $("#notify-less-btn").toggleClass('d-none');
            });

        });
    </script>
{% endblock %}
