{% extends 'b2b/base.html.twig' %}
{%  block meta_title %}{{ page.metaTitle }}{% endblock %}
{%  block meta_description %}{{ page.metaDescription }}{% endblock %}
{%  block meta_robots %}{% if page.indexed == false %}noindex,follow{% else %}{{ parent() }}{% endif %}{% endblock %}
{% form_theme form 'b2b/shared/field.html.twig' %}



{% block body %}


    <nav class="navbar navbar-expand-lg fixed-top shadow-sm nav-bar-main">
        <div class="container">
            <a class="navbar-brand" href="{{ path('prestations_de_serviceindex') }}">
                <img src="/assets/images/services-home-banner-logo.svg" alt="Pix.City Services"></a>
            <div class="col-3 ml-auto social-mobile">
                <div class="row">
                    <div class="col-6 social-mobile-btn">
                        <a href="javascript:;" title="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="col-6 social-mobile-btn">
                        <a href="javascript:;" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <img src="{{ absolute_url(asset('build/images/menu.svg')) }}" />
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="col-md-5 ml-auto mt-2 mt-lg-0">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-rollover btn-outline-seagreen btn-pill btn-block btn-icon-right my-2 my-sm-0 city-maker" id="devenir-city-maker" type="submit"><span class="text">Devenir City Maker</span><i class="fas fa-user-plus"></i></button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-rollover btn-green btn-pill btn-block my-2 my-sm-0" type="submit" id="on-login-click"><span class="text">Connexion</span><i class="fas fa-sign-in-alt"></i></button>
                            </div>
                            <div class="col-md-1 col-6 social-btn">
                                <a href="https://www.facebook.com/pix.city.france/" title="Facebook" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <div class="col-md-1 col-6 social-btn">
                                <a href="https://www.instagram.com/pix_city/" title="Instagram" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-5 ml-auto mt-2 mt-lg-0">
                        <div class="row">
                            <div class="offset-md-5 col-md-5">
                                <a class="btn btn-rollover btn-outline-seagreen btn-pill btn-block btn-icon-right my-2 my-sm-0 city-maker" href="/client/logout"><span class="text">Déconnexion</span><i class="fas fa-sign-in-alt"></i></a>
                            </div>
                            <div class="col-md-1 col-6 social-btn">
                                <a href="https://www.facebook.com/pix.city.france/" title="Facebook" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <div class="col-md-1 col-6 social-btn">
                                <a href="https://www.instagram.com/pix_city/" title="Instagram" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </nav>
    {{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="login-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 login-content d-flex align-items-center">
                    <div class="row w-100">
                        <div class="col-md-6"></div>
                        <div class="col-md-6 mt-2">
                            <div class="unregistered-log">
{#                                <h4 class="fz-28 font-weight-bold text-center">{{ app.user }} Profile!</h4>#}
                                <div class="row">
                                    <div class="col-md-8 m-auto">
                                        <form action="" method="" accept-charset="utf-8">
                                            <div class="row">
                                                <div class="col-md-12 card shadow-sm mb-3 p-3">
                                                    <p class="font-weight-light text-center">Votre entreprise</p>

                                                    <label class="btn custom-input-btn">
                                                        <input type="file" name="file-avatar" id="client-logo" style="display:none">
                                                        <i class="fa fa-cloud-upload"></i> Télécharger logo
                                                    </label>
                                                    <div class="user-avatar w-100">
                                                        <figure class="position-relative m-0 w-100 mb-2">
                                                            {% if app.user.profilePhoto is defined and app.user.profilePhoto is not null  %}
                                                                <img class="img-fluid" id="url-change" src="/uploads/clients/{{ app.user.id }}/{{ app.user.profilePhoto }}"/>
                                                            {% else %}
                                                                <img class="img-fluid" src="/uploads/avatars/default-avatar.png" alt="" />
                                                            {% endif %}

                                                    </div>
                                                    <div class="field">{{ form_widget(form.profilePhoto) }}</div>
                                                    {{ form_widget(form.clientInfo.siret) }}
                                                    {{ form_errors(form.clientInfo.siret) }}

                                                    {{ form_widget(form.company) }}
                                                    {{ form_errors(form.company) }}

                                                    {{ form_widget(form.clientInfo.address) }}
                                                    {{ form_errors(form.clientInfo.address) }}
                                                    <div class="row">
                                                        {{ form_widget(form.clientInfo.postalCode) }}
                                                        {{ form_errors(form.clientInfo.postalCode) }}

                                                        {{ form_widget(form.clientInfo.city) }}
                                                        {{ form_errors(form.clientInfo.city) }}
                                                    </div>
                                                    <div class="row">
                                                        {{ form_widget(form.clientInfo.companyCreationDate) }}
                                                        {{ form_errors(form.clientInfo.companyCreationDate) }}
                                                    </div>
                                                    <div class="row">
                                                        {{ form_widget(form.clientInfo.business) }}
                                                        {{ form_errors(form.clientInfo.business) }}

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 card shadow-sm mb-3 p-3">
                                                    <p class="font-weight-light text-center">À propos de vous</p>
                                                    <div class="row">
                                                        {{ form_widget(form.firstName) }}
                                                        {{ form_errors(form.firstName) }}

                                                        {{ form_widget(form.lastName) }}
                                                        {{ form_errors(form.lastName) }}
                                                    </div>
                                                    {{ form_widget(form.email) }}
                                                    {{ form_errors(form.email) }}

                                                    {{ form_widget(form.plainPassword) }}
                                                    {{ form_errors(form.plainPassword) }}

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mb-4 text-center">
                                                    <a href="/client/index" class="btn btn-pink btn-pill mx-auto lh2">Annuler</a>
                                                    <button class="btn btn-pink btn-pill mx-auto lh2" type="submit">Sauvegarder</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="welcome-log d-none">
                                <img src="../images/login-welcome-mail.png" width="64" height="70" class="m-auto d-block mb-3">
                                <h4 class="fz-28 font-weight-bold text-center">Bienvenue sur Pix.City !</h4>
                                <p class="text-center">Tout est bon ! Regardez votre boîte mail. </p>
                                <p class="my-5 text-center">Vous êtes désormais inscrit en tant que Client sur Pix.City Services. Vous allez pouvoir trouver le city-maker qui vous convient ! Bonne navigation ! </p>
                                <div class="row">
                                    <div class="col-md-12 mb-4 text-center">
                                        <a href="javascript:;" class="btn btn-pink btn-pill mx-auto lh2">Je cherche mon city-maker</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <a href="javascript:;" class="mx-auto mb-5">Je n’ai pas reçu le mail de confirmation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            {{ form_end(form,{'render_rest':false}) }}
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script type="text/javascript" src="{{ asset('build/b2b/js/client_profile.js') }}"></script>

    <script>
        $(document).on('change', '#client-logo', function () {

            var image = this.files[0];
            var formData = new FormData();
            formData.append("file", image);


            $.ajax({
                url: "/client/upload-logo", type: 'POST', data: formData, cache: false, contentType: false, processData: false
            }).done(function (attachment) {

                $("#client_profilePhoto").val(attachment.file);
                $("#url-change").attr("src","/uploads/clients/"+attachment.file);
            }).fail(function (xhr, status, error) {

            });

        });
    </script>
{% endblock %}