<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
<script src="{{ absolute_url(asset('build/b2b/js/app.js')) }}"></script>
<script src="{{ absolute_url(asset('build/js/dropzone.js')) }}"></script>
<style>
    /* Stackoverflow preview fix, please ignore */
    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        padding-right: .5rem !important;
        padding-left: .5rem !important;
    }

    /* Fixes dropdown menus placed on the right side */
    .ml-auto .dropdown-menu {
        left: auto !important;
        right: 0px;
    }

    .error{
        color: darkred;
    }
</style>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

        <a class="navbar-brand" href="#">Pix City {% if app.user is defined %} - {{ app.user }} {% endif %}</a>
        <!-- Links -->
        <ul class="nav navbar-nav">
            {% if app.user is defined and app.user is not null %}
            <li class="nav-item">
                {{ app.user.email }}
                <a class="nav-link" href="{{ url('front_logout') }}">Logout</a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('b2b_client_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('b2b_client_auth_register') }}">Register</a>
                </li>
            {% endif %}
        </ul>
</nav>
<hr/>
<link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('build/css/simple-sidebar.css')) }}">
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper" style="margin-top:1%;">
        <div class="list-group list-group-flush">
            <a href="#">
                <img src="{{ app.user.getAvatar() }}" class="img-thumbnail" />
            </a>
            <a href="{{ url('b2b_community_manager_index') }}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            <a href="{{ url('b2b_pack_list') }}" class="list-group-item list-group-item-action bg-light">Mes Packs</a>
            <a href="{{ url('b2b_mission_list') }}" class="list-group-item list-group-item-action bg-light">Mes Mission</a>
            <a href="{{ url('b2b_mission_proposals') }}" class="list-group-item list-group-item-action bg-light">Mission Proposals</a>
            <a href="{{ url('b2b_email_index') }}" class="list-group-item list-group-item-action bg-light">Compose</a>
            {% if sendMails is defined and receiverMails is defined %}
            <a href="{{ url('b2b_email_inbox') }}" class="list-group-item list-group-item-action bg-light">Inbox {{ receiverMails | length }}</a>
            <a href="{{ url('b2b_email_send_emails') }}" class="list-group-item list-group-item-action bg-light">send Mail {{  sendMails | length }}</a>
            {% endif %}
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
    </div>
{% block javascripts %}{% endblock %}
</body>
</html>
