{% extends 'b2b/base.html.twig' %}

{% block body %}
    <div class="container-fluid bg-dashboard">
        <div class="row">
            <!-- Add packs -->
            {{ include('b2b/shared/_pack.html.twig') }}
            {{ include('b2b/shared/_mission.html.twig') }}
            <div class="col-md-2 p-sm-0 dash-left vh-100">
                <div class="user-avatar w-100">
                    <figure class="position-relative m-0 w-100">
                        <img class="img-fluid" src="{{ app.user.getAvatar() | imagine_filter('b2b_avatar_medium')}}" alt="{{ app.user }}">
                        <figcaption class="position-absolute d-flex align-items-center"><i class="fas fa-user-circle mr-2"></i>
                            <a href="/city-maker/compte/parametres" style="text-decoration:none;color:white;">Modifier mes infos</a></figcaption>
                    </figure>
                </div>
                <ul class="nav nav-tabs nav-tabs-sticky flex-column pt-3 flex-grow-1 border-0 dashboard-menu" id="cmDashboardMainNav" role="tablist">
                    <li class="nav-item ">
                        <a class="nav-link {% if(app.request.pathinfo == '/community-manager/profile') %}active{% endif %}" href="{{ url('b2b_community_manager_index') }}" aria-controls="home"><i
                                    class="fas fa-home"></i>Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if(app.request.pathinfo == '/b2b/pack/list') %}active{% endif %}" href="{{ url('b2b_pack_list') }}" aria-controls="myPacks"><i
                                    class="fas fa-dungeon"></i>Mes packs</a>
                    </li>
                    {% if app.user.missionProposalsToCityMaker | length > 0 and app.user.userPacks | length > 0 %}
                    <li class="nav-item">
                        <a class="nav-link {% if(app.request.pathinfo == '/community-manager/mission/list') %}active{% endif %}" href="{{ url('b2b_mission_list') }}" aria-controls="myMissions"><i
                                    class="fas fa-briefcase"></i>Mes missions</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if(app.request.pathinfo == '/community-manager/invoice/list') %}active{% endif %}" href="{{ url('b2b_community_manager_invoice_list') }}" aria-controls="billing"><i
                                    class="fas fa-file-invoice-dollar"></i>Facturation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if(app.request.pathinfo == '/b2b/email/inbox') %}active{% endif %}" href="{{ url('b2b_email_inbox') }}" aria-controls="email"><i
                                    class="fas fa-envelope"></i>Email</a>
                    </li>
                </ul>
                <footer class="text-center p-2 text-pink fz-11">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="javascript:;" class="d-block fz-16 text-darkblue text-center">
                                <i class="far fa-question-circle"></i>
                                <p>FAQ</p>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="javascript:;" class="d-block fz-16 text-darkblue text-center">
                                <i class="fas fa-blog"></i>
                                <p>Blog</p>
                            </a>
                        </div>
                    </div>
                    <a href="javascript:;" class="text-pink"><i class="fas fa-cog"></i>Retourner sur Pix.city Services</a>
                </footer>
            </div>
            <div class="col-md-10 offset-md-2 dash-right vh-100 p-0">
                <div class="tab-content">

                    {% block content %}{% endblock %}
                </div>
            </div>
            {{ include('b2b/shared/_modals.html.twig') }}
            <!-- Dashboard contents ends -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url('/assets/js/dropzone.js') }}"></script>

    <script>
        $(document).ready(function () {

            $(document).on('click', '.delete-document',function () {

                var element = $(this).attr('data-target');
                console.log(element);
                $('#'+element).remove();
                $('.'+element).remove();
            });

            $(document).on('click','.add-a-document', function () {
                $('#mission-document-upload').click();
            });


            {#$("body").on('change', '#pack_userBasePrice', function () {#}

            {#    var actual_price = $("#pack_userBasePrice").val();#}
            {#    console.log(actual_price);#}
            {#    var after_price = parseFloat(actual_price) * {{ tax.value }} / 100;#}

            {#    var total = parseFloat(actual_price) + parseFloat(after_price);#}
            {#    $(".total-pack-price").val(total);#}
            {#    $(".total-pack-price").text(total + '€');#}

            {#});#}





        });



        $(document).ready(function () {
            // Adding a new pack
            $('.add-package-to-list > a').on('click', function () {
                // $('#pack-form').load('/api/pack/create');
            });

            // Deleting a pack
            $('.delete-pack').on('click', function () {
                $('#confirmPackDelete').attr('data-id',$(this).attr('data-id'));
                // $.ajax('/b2b/pack/delete-pack/'+$(this).attr('data-id'),{
                //     success: function (result) {
                //         console.log('asdas');
                //     }
                // });
            });

            $('body').on('click', "#confirmPackDelete",function () {

                var id = $(this).attr('data-id');
                $.ajax('/b2b/pack/delete-pack/'+id,{
                    success: function (result) {
                        $('.package-list-item[data-id="'+id+'"]').remove();
                        $('.total-packs-available').html($('.package-item').length);
                        $('#removePackConfirmation').find('.close').trigger('click');

                    }
                });
            });

            $('.mark-notification-read').on('click', function () {
                // Mark notification unread
                $.ajax('/notification/unread',{
                    type: 'POST',
                    data: {'id':$(this).attr('data-id')},
                    success:function(result)
                    {
                        console.log(result);
                    }
                });
            });

            // Synchronize pack edit and pack list
            $('body').on('keyup','[name="pack[title]"]', function () {
                $('.pack-title-preview').html($('[name="pack[title]"]').val());
            });

            $('body').on('keyup','[name="pack[description]"]', function () {
                $('.pack-description-preview').html($('[name="pack[description]"]').val());
                $('.packDescriptionLength').html($('[name="pack[description]"]').val().length);
            });

            $('body').on('submit','#pack-form', function()
            {
                var id = $('[name="pack[title]"]').attr('data-id');
                $('.pack-title[data-id="'+id+'"]').html($('[name="pack[title]"]').val());
            });

            // $('body').on('click','.preview-pack', function () {
            //     // $('.user-price').html($('.total-pack-price:last').text());
            //
            //     // $images = $('.dz-image');
            //     // console.log($images);
            //     // $.each($images, function(key, value)
            //     // {
            //     //     $('.pack-photos-list-item > li:last').after('<li class="pack-photos-list-item dz-item">' +
            //     //         '<img src="'+$(this).find('img').attr('src')+'" /></li>');
            //     // })
            // });

            $(document).on('click','.delete-document', function () {
                if(confirm('Are you sure about deleting this document?'))
                {
                    var id =$(this).attr('data-id');
                    $.ajax('/community-manager/mission/document-delete/'+id,{
                        success:function () {
                            $('a[data-id="'+id+'"]').parent('.document_'+id).remove();
                            $('.document_'+id).remove();
                        }
                    });
                }
            })
        });
    </script>

    <script>
        $(document).ready(function()
        {


        });

        $(document).ready(function () {
                var tax = "{{ tax.value }}";

            $(document).on('keyup','#pack_userBasePrice',function () {
                var basePrice = $(this).val();
                var clientPrice = (100 * basePrice)/(100 - tax);
                $('#clientPrice').html(clientPrice.toFixed(2)+"€");
                $('.user-price').html('');
                $('#user-price').html(clientPrice.toFixed(2)+"€");

            });
        })
    </script>
{% endblock %}