{% extends 'b2b/mission/base.html.twig' %}

{% form_theme form 'b2b/shared/field.html.twig' %}


{% block body %}
    <!-- Header -->
    <nav class="navbar navbar-expand-lg fixed-top shadow-sm nav-bar-main internal-nav mission-creation-top-nav">
        <div class="container">
            <a class="navbar-brand" href="javascript:;"><img src="/assets/images/header-logo-main.svg"
                                                             alt="Pix.City"></a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                <img src="../images/menu.svg"/>
            </button>
            <div class="col-1 text-center close-inetrnal-nav-mobile">
                <a href="javascript:;">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="col-1 text-center close-inetrnal-nav">
{#                <a href="{{ url('b2b_community_manager_index') }}" data-toggle="modal" data-target="#cancelCreatedMission">#}
                <a href="{{ url('b2b_community_manager_index') }}">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
    </nav>
    <!-- Header -->
    {{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="create-mission-page bg-dashboard pb-5">
        <section class="steps step-1 bg-dashboard">
            <div class="progress sticky-top rounded-0">
                <div class="progress-bar bg-darkblue w-20"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-5 text-center">
                        <p class="fz-12 text-seagreen">CRÉER UNE NOUVELLE MISSION</p>
                        <h1 class="fz-28 font-weight-bold">Prêt à vous lancer ?</h1>
                        <p class="fz-16">Sélectionnez le pack à partir duquel vous allez créer votre mission</p>
                    </div>
                </div>
                {{ form_widget(form.client) }}

                {{ form_widget(form.referencePack) }}
            </div>
            <nav class="col-sm-12 navbar navbar-expand-lg fixed-bottom shadow nav-bar-main internal-nav py-3">
                <div class="container-fluid d-flex align-items-center justify-content-center">
                    <a href="javascript:;" id="toStep2" class="btn btn-pink btn-pill fz-12 lh2 navigation-btn disabled">Créer la mission</a>
                </div>
            </nav>
        </section>
        <section class="steps step-2 bg-dashboard">
            <div class="progress sticky-top rounded-0">
                <div class="progress-bar bg-darkblue w-50"></div>
            </div>
            <div class="mission-edition-container d-block">
                {{ form_widget(form.bannerImage) }}
                <div class="bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pack-details p-3">
                                    <div class="selected-pack-container edit col-md-12 border-bottom mt-2 mb-4 pb-4">
                                        <p class="text-textgray mb-0" id="selected-pack-skill">PACK PHOTOGRAPHE</p>
                                        <small>Cette information ne peut pas être modifiée</small>
                                    </div>
                                    <div class="pack-overview-container preview col-sm-12 border-bottom mt-2 mb-4 pb-4" style="display: none;">
                                        <p class="text-textgray text-12 mb-0">PACK PHOTOGRAPHE</p>
                                        <h5 class="text-darkgray mb-3 mission-title">Shooting photo de votre établissement (plats et
                                            locaux) </h5>
                                        <p class="fz-12">
                                            Bonjour,<br><br>

                                            Ce tarif inclut :<br>
                                            - Un shooting photo de 2 heures dans votre établissement (en journée) en haute
                                            résolution<br>
                                            - Photos de plats, d’équipes, des lieux<br>
                                            - La retouche (selon le brief validé ensemble)<br>
                                            - La livraison d’une quarantaine de photos sous 48h après le shooting<br>
                                            - Je me déplace dans tout Paris<br><br>

                                            Pour respecter ce tarif les équipes, plats (..) devront être mis en place à mon
                                            arrivé.
                                        </p>
                                    </div>
                                    {{ form_row(form.title) }}
                                    {{ form_row(form.description) }}
                                    {{ form_row(form.missionBasePrice) }}


                                    <div class="pack-photos-container preview col-sm-12 border-bottom mt-2 mb-4 pb-4">
                                        <h5 class="text-darkgray mb-0">Photos</h5>
                                        <div class="pack-photos">
                                            <ul class="pack-photos-list d-flex flex-wrap p-0 m-0">
                                                {% if mission is defined %}
                                                    {% for image in mission.missionMedia %}
                                                        <li class="pack-photos-list-item d-inline-flex">
                                                            <img src="{{ image.url }}" alt="{{ image.name }}">
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    {{ form_widget(form.documents) }}

                                    {{ form_widget(form.missionMedia) }}
                                    {{ form_widget(form.region) }}

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <nav class="col-sm-12 navbar navbar-expand-lg fixed-bottom nav-bar-main internal-nav bottom-info-status">
                <div class="container-fluid align-items-center justify-content-end">
                    <div class="d-flex user-infos flex-grow-1 justify-content-start align-items-center d-none">
                        <div class="user-image btn-circle-64 badge badge--bottom badge--right p-0 mr-3">
                            <img src="{{ app.user.avatar }}" class="img-fluid rounded-circle" alt="User-Avatar">
                            <img src="/assets/images/icons/cm-level-badge-01.svg" class="badge-icon" alt="User-Badge">
                        </div>
                        <div class="user-name-level mr-3">
                            <p class="mb-0 fz-12 text-darkblue experte-level">Experte Pix.City</p>
                            <p class="mb-0 text-darkgray user-name">@Lily_Bordeaux</p>
                        </div>
                        <div class=" mr-3">
                            <p class="mb-0 fz-12 text-normalgray">Région</p>
                            <p class="mb-0 text-darkgray user-region">ÎLE DE FRANCE</p>
                        </div>
                        <div class="">
                            <p class="mb-0 fz-12 text-normalgray">Prix</p>
                            <p class="mb-0 text-darkgray user-price">149€</p>
                        </div>
                    </div>
                    <div class="d-flex client-infos flex-grow-1 justify-content-start align-items-center">
                        <div class="client-image btn-circle-50 p-0 mr-3">
                            <img src="../images/client-logo.png" class="img-fluid rounded-circle" alt="client Logo">
                        </div>
                        <div class="client-name-mission-status mr-4">
                            <p class="mb-0 fz-11 text-inprogress mission-status">Mission en cours</p>
                            <p class="mb-0 text-darkgray client-name">O’TACOS LEVALLOIS</p>
                        </div>
                        <div class="mr-4">
                            <p class="mb-0 fz-12 text-normalgray">Région</p>
                            <p class="mb-0 text-darkgray client-region"></p>
                        </div>
                        <div class="mr-4">
                            <p class="mb-0 fz-12 text-normalgray">Prix</p>
                            <p class="mb-0 text-darkgray user-price">120€</p>
                        </div>
{#                        <div class="mission-invoice d-flex align-items-center opacity-40">#}
{#                            <p class="mb-0 fz-12 text-darkgray"><i class="fas fa-file-invoice-dollar fz-20 mr-2"></i>#}
{#                            </p>#}
{#                            <p class="mb-0 text-darkgray">#}
{#                                Devis 00837-PX#}
{#                                <a href="javascript:;" class="d-block fz-12 text-inprogress">Voir le devis</a>#}
{#                            </p>#}
{#                        </div>#}
                    </div>
                    <div class="preview-cta d-flex align-items-center">
                        <a class="preview-mission text-darkgray d-flex flex-column align-items-center mr-3 fz-12 text-decoration-none"
                           href="javascript:;">
                            <i class="fas fa-desktop fz-22"></i> Prévisualiser
                        </a>
                        <a class="close-mission-preview text-darkgray d-flex flex-column align-items-center mr-3 fz-12 text-decoration-none d-none"
                           href="javascript:;">
                            <img src="{{ absolute_url('/assets/images/icons/preview-off-icon.svg') }}" alt="Preview off" data-dismiss="toast"
                                 aria-label="Close"> Retour à l'édition
                        </a>
                        <a href="javascript:;"
                           class="btn btn-pink btn-pill fz-12 d-flex align-items-center create-the-mission"
                           id="toStep3">Créer la mission</a>
                        <a href="javascript:;"
                           class="btn btn-pink btn-pill fz-12 d-flex align-items-center next-step d-none"
                           onclick="location.href='cm-mission-create-toc.html';">Étape suivante</a>
                    </div>
                </div>
            </nav>
        </section>
        <section class="steps step-3 bg-dashboard">
            <div class="progress sticky-top rounded-0">
                <div class="progress-bar bg-darkblue w-70"></div>
            </div>
            <div class="container">
                <h2 class="fz-32 my-4 text-center">C’est presque fini !</h2>
                {{ form_widget(form.axaInsurance) }}
{#                {{ form_widget(form.documents) }}#}

                <div class="row">
                    <div class="col-md-12 text-center mb-4">
                        <a href="javascript:;" id="toStep4" class="btn btn-pink btn-pill mx-auto">Créer la
                            mission</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="steps step-4 bg-dashboard">
            <div class="progress sticky-top rounded-0">
                <div class="progress-bar bg-darkblue w-100"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 cm-congrats-container d-flex align-items-center">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{{ absolute_url('/images/mission-create-complete.svg') }}">
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="content">
                                    <h2 class="font-weight-bold text-darkblue fz-40 mb-3">Félicitations ! 🎉 </h2>
                                    <h4 class="font-weight-bold text-darkblue fz-20 mb-3">Votre mission à bien été
                                        créée</h4>
                                    <p>La mission <b>Shooting soirée d’ouverture du O’Tacos Levallois-Perret</b> vient
                                        d’être créée. </p>
                                    <p>Le devis a été généré automatiquement, vous pouvez le retrouver dans votre espace
                                        personnel. Celui-ci a également été envoyé à votre client, dés qu’il l’aura
                                        signé, vous pourrez commencer la mission !</p>
                                    <a href="{{ url('b2b_community_manager_index') }}" class="btn btn-darkblue btn-pill lh2">Retourner sur mon
                                        dashboard</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="api-box" data-api-route="{{ url('b2b_mission_create') }}"
         data-document-upload="{{ url('b2b_mission__upload') }}"
    data-date="{{ "now" | date('d/m/Y') }}"
    data-profile-image="{{ app.user.avatar }}" data-first-name="{{ app.user.firstName }}"></div>
    {{ form_end(form,{'render_rest':false}) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ absolute_url('/assets/js/bind.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.cover-image').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $('input[type="file"]').on('change', function (e) {
                var type = 'banner';
                // Read the image URL and display the image
                console.log($(this).attr('id'));
                if ($(this).attr('id') == 'banner-image-upload') {
                    readURL(this);
                } else if($(this).attr('id') == 'document-file-upload') {
                    type = 'brief';
                }
                $.each($(this)[0].files, function (key, value) {

                    var formData = new FormData();
                    formData.append("file", value);
                    //Upload the image via AJAX
                    uploadFiles(formData, type);
                });

            });


            function uploadFiles(formData, type) {
                $.ajax($('#api-box').attr('data-document-upload'),
                    {
                        type: 'POST',
                        data: formData,
                        cacheable: false,
                        processData: false,
                        contentType: false,
                    }).done(function (result) {
                    if (type == 'banner') {
                        $('#mission_bannerImage').val(result.fileName);
                    } else if (type == 'brief') {
                        var prototype = $('#mission-documents-upload').attr('data-prototype');
                        var index = $('#mission-documents-list').find('input').length;

                        prototype = prototype.replace(/__name__/g, index);
                        $('#mission-documents-list').append(prototype);
                        $('#mission-documents-list')
                            .find('input:last')
                            .val(result.fileName);
                       $('#mission-documents-list').append(`<tr class="text-darkgray fz-14">
                            <td valign="middle" class="text-center">
                                <i class="far fa-file-image fz-25"></i>
                            </td>
                            <td valign="middle">`+result.fileName+`</td>
                            <td valign="middle">`+$('#api-box').attr('data-date')+`</td>
                            <td valign="middle">
                                <div class="d-flex align-items-center">
                                                            <span class="btn-circle-28 mr-3">
                                                                <img src="`+$('#api-box').attr('data-profile-image')+`" class="img-fluid rounded-circle" alt="">
                                                            </span>
                                    `+$('#api-box').attr('data-first-name')+`
                                </div>
                            </td>
                            <td valign="middle">Document</td>
                            <td valign="middle"><span class="text-completed">Uploadé</span></td>
                            <td valign="middle">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:;" class="remove_document text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none" data-target="mission_documents_`+index+`"><i class="fas fa-trash fz-16"></i></a>
                                </div>
                            </td>
                        </tr>`);
                        validateStep2();
                    }


                });

                $(document).on('click', '.delete-document',function () {

                    var element = $(this).attr('data-target');
                    console.log(element);
                    $('#'+element).remove();
                    $('.'+element).remove();
                });
            }


            // $("div.image-upload-zone").dropzone({
            //     url: "/community-manager/mission/upload",
            //     addRemoveLinks: true,
            //     dictDefaultMessage: "Drop files here or<br>click to upload...",
            //     acceptedFiles: $(this).attr('accepted-files'),
            //     maxFilesize: 5,
            //     success: function (file, response) {
            //         var prototype = $('#mission_missionMedia').attr('data-prototype');
            //         var index = $('#mission-images-display').find('input').length;
            //
            //         prototype = prototype.replace(/__name__/g, index);
            //         $('#mission-images-display').append(prototype);
            //         $('#mission-images-display')
            //             .find('input:last')
            //             .val(response.fileName).attr('data-filename', file.upload.filename);
            //     },
            //     removedfile: function (file) {
            //         $('input[data-filename="' + file.upload.filename + '"]').remove();
            //         file.previewElement.remove();
            //     }
            // });

            // Media upload
            // $('#add-media').on('click', function(e)
            // {
            //     e.preventDefault();
            //     $('input[name="mission-medias"]').trigger('click');
            //
            // });
            //
            // $('.image-upload-btn').change(function () {
            //     var prototype = $('#mission_missionMedia').attr('data-prototype');
            //     var index = $('#mission-images-display').find('input').length;
            //     console.log(index);
            //     // Add image name on the input parameters
            //     // $.each($(this)[0].files,funtion(key,value){
            //     //
            //     // });
            //
            //     $.each($(this)[0].files, function( key, value ) {
            //         var formData = new FormData();
            //         formData.append("file", value);
            //         console.log(key);
            //         prototype = prototype.replace(/__name__/g,key);
            //         $('#mission-images-display').append(prototype);
            //
            //         // formData.append("file", $(this)[0].files[0]);
            //         //Upload the image via AJAX
            //         $.ajax('/client/mission/upload',
            //             {
            //                 type: 'POST',
            //                 data: formData,
            //                 cacheable: false,
            //                 processData: false,
            //                 contentType: false,
            //                 success: function (result) {
            //                     $('#mission-images-display')
            //                         .find('input:last')
            //                         .val(result.fileName)
            //                 }
            //             }).done(function(result)
            //             {
            //                 // prototype = prototype.replace(/__name__/g,index);
            //                 // index = index + 1;
            //                 // $('#mission-images-display').append(prototype);
            //                 // $('#mission-images-display')
            //                 //     .find('input:last')
            //                 //     .val(result.fileName)
            //                 //     .after('<a href="#" class="delete-image">Delete Image</a>');
            //                 // console.log(index);
            //             });
            //     });
            //
            // });

            $(document).on('click', '.delete-image', function (e) {
                e.preventDefault();
                $(this).parents('fieldset').html('');
                $('#mission_missionMedia_' + $(this).attr('data-id')).html('');
                $(this).parents('.image-row').html('');
            });

            $(document).on('click', '[name="mission[referencePack]"]', function (e) {
                $.ajax('/api/pack/import-images/' + $(this).val(),
                    {
                        type: 'GET',
                    }).done(function (result) {
                    $('#show-pack-images').html(result);
                });
            });

            $('form').on('submit', function (e) {
                var prototype = $("#mission_missionMedia").attr("data-prototype");
                $.each($('.pack-images:checked'), function () {
                    var index = $('#mission-images-display').find('input').length;
                    var input = prototype.replace(/__name__/g, index);
                    $('#mission-images-display').append(input).find('input:last').val($(this).val());
                });
            });

            $('input[name="mission[missionBasePrice]"]').on('change', function () {
                var price = $('input[name="mission[missionBasePrice]"]').val();
                if (price == NaN) {
                    // alert('Price cannot be calculated');
                } else {
                        $('.mission-price').html((parseInt($('input[name="mission[missionBasePrice]"]').val()) + (price * ({{ margin }}/100) )));
                }
            });

            $('#mission_description').on('keyup', function () {
                var count = $(this).val().length;
                $('#char-count').html(100 - count);
            });
        });

        /* custom per page scripts */
        /* Step Animations for the mission creation */
        $(document).on('click', '#toStep2, #toStep3, #toStep4', function (e) {
            if ($(this).is('#toStep2')) {
                $('.step-1').animate({
                        left: '-150%'
                    },
                    400, function () {
                        $('.step-2').css({
                            left: '0'
                        });
                        $('.step-1').hide();
                    })
                window.scrollTo(0, 0);
                $('.step-2').fadeIn(600);
            } else if ($(this).is('#toStep3')) {
                $('.step-2').animate({
                        left: '-150%'
                    },
                    400, function () {
                        $('.step-3').css({
                            left: '0'
                        });
                        $('.step-2').hide();
                    });
                window.scrollTo(0, 0);
                $('.step-3').fadeIn(600);
            } else if ($(this).is('#toStep4')) {
                $('.step-3').animate({
                        left: '-150%'
                    },
                    400, function () {
                        $('.step-4').css({
                            left: '0'
                        });
                        $('.step-3').hide();
                    });
                window.scrollTo(0, 0);
                $('.step-4').fadeIn(600);
            }
        });
        /* Select Client and packs in the step one */
        $('.client-selection-cards a, .pack-selection-container a').click(function (e) {
            $(this).parent('li').siblings().find('a').removeClass('active').addClass('inactive');
            $(this).addClass('active').removeClass('inactive');
            $(this).parents('li').find('input[type="radio"]').prop('checked', true);
            $(this).parents('li').find('input[type="radio"]').attr('checked');
            /* Get the corresponding pack details*/
            if($(this).parents('.pack-selection-cards').length == 1)
            {
                $.ajax('/api/pack/details/'+$(this).parent('li').find('input[type="radio"]').val(),{
                    type: 'GET',
                    success: function(result)
                    {
                        if(result.success == true)
                        {
                            $('input[name="mission[missionBasePrice]"').val(result.data.price);
                            var price = $('input[name="mission[missionBasePrice]"]').val();
                            $('[name="mission[description]"]').text(result.data.description);
                            $('[name="mission[title]"]').val(result.data.title);
                            $('.mission-price').html((parseInt($('input[name="mission[missionBasePrice]"]').val()) + (price * ({{ margin }}/100) )));
                            $('#selected-pack-skill').html(result.data.skill);
                            $('#mission-images-display').html('');
                            $.each(result.data.images, function(key, value)
                            {
                                $('.pack-photos-list').append(`<li class="pack-photos-list-item d-inline-flex">
                                                                <img src="/uploads/pack/`+result.data.id+`/`+value.name+`" />
                                                                </li>`);
                                $('#mission-images-display').append('<input type="hidden" name="mission[missionMedia]['+key+'][name]" value="'+value.name+'"/>');
                            });
                        }
                    }
                });
            }

        });

        /* Update margin */
        $(document).on('change','input[name="mission[missionBasePrice]"]', function () {

        })
        $(document).on('click', 'li.pack-region-item', function () {

            $(this).find('input[type="radio"]').prop('checked', true);
            $(this).find('input[type="radio"]').attr('checked');
        });
        /* pack/mission creation/preview/edit invoke */
        $(document).on('click',
            '.close-mission-preview, .edit-the-mission, .preview-mission, .save-changes',
            function (e) {
                if ($(this).is('.preview-mission')) {
                    $('.create-mission-page .edit').fadeOut();
                    $('.create-mission-page .preview').fadeIn();
                    $(this).add($(this).parents('.bottom-info-status').find('.client-infos, .create-the-mission')).addClass('d-none');
                    $(this).parents('.bottom-info-status').find('.close-mission-preview, .next-step, .user-infos')
                        .removeClass('d-none')
                    $('.preview-mission-toast').toast('show').css({
                        'z-index': '1031'
                    });
                } else if ($(this).is('.close-mission-preview')) {
                    $('.preview-mission-toast').toast('hide');
                    $('.create-mission-page .preview').fadeOut();
                    $('.create-mission-page .edit').fadeIn();
                    $(this).parents('.bottom-info-status').find('.close-mission-preview, .next-step, .user-infos')
                        .addClass('d-none')
                    $(this).parents('.bottom-info-status').find('.client-infos, .preview-mission, .create-the-mission')
                        .removeClass('d-none');
                } else if ($(this).is('.close-mission-preview')) {

                }
            });
        $(document).on('input change focus',
            '.pack-creation-content input, .pack-creation-content textarea, .create-mission-page input, .create-mission-page textarea, .mission-edition-content input, .mission-edition-content textarea',
            function () {
                $(this).parents(
                    '.pack-creation-content, .mission-edition-content, .create-mission-page').find(
                    '.save-changes').removeClass('disabled')
            });
        /* pack/mission creation/preview/edit invoke ends */
        /* toasts initialization */
        $('.toast').toast();
        $(document).on('hidden.bs.toast', function () {
            $('.toast').css({
                'z-index': ''
            })
        });
        /* toasts ends */
        $("div.dropzone").dropzone({
            url: "/community-manager/mission/upload",
            addRemoveLinks: true,
            dictDefaultMessage: "Drop files here or<br>click to upload...",
            // acceptedFiles: $(this).attr('accepted-files'),
            maxFilesize: 5,
            success: function (file, response) {
                var prototype = $('#mission_missionMedia').attr('data-prototype');
                var index = $('#mission-images-display').find('input').length;

                prototype = prototype.replace(/__name__/g, index);
                $('#mission-images-display').append(prototype);
                $('#mission-images-display')
                    .find('input:last')
                    .val(response.fileName).attr('data-filename', file.upload.filename);

                $('.pack-photos-list').html('');
                $.each($('.dz-image > img'), function(val, element){

                    $('.pack-photos-list').append('<li class="pack-photos-list-item d-inline-flex"><img src="'+$(element).attr('src')+'" /></li>')

                });
                validateStep2();
            },
            removedfile: function (file) {
                $('input[data-filename="' + file.upload.filename + '"]').remove();
                file.previewElement.remove();
                validateStep2();
            }
        });


        $(document).on('click', '.delete-image', function (e) {
            e.preventDefault();
            $(this).parents('fieldset').html('');
            $('#mission_missionMedia_' + $(this).attr('data-id')).html('');
            $(this).parents('.image-row').html('');
        });

        $(document).on('click','.add-a-document', function (e) {
            e.preventDefault();
            $('#document-file-upload').trigger('click');

        });


    </script>
{% endblock %}
