{% extends 'b2b/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}
    <link rel="stylesheet" href="{{ absolute_url(asset('build/css/dropzon.css')) }}">

    <div class="container">
        <div class="col-md-12" style="margin:50px;margin-top:100px">
            <h2>Mission Create/Edit Page</h2>
            {{ form_start(form) }}
            {{ form_row(form._token) }}
            <div class="form-group">
                {{ form_row(form.client) }}
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.referencePack) }}
                    </div>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                    {{ form_row(form.title) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.description) }}
                </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        {{ form_row(form.bannerImage) }}
                        <label>Banner Image:</label><br/>
                        <input type="file" id="banner-image-upload" accept=".jpg, .jpeg, .png" data-upload-type="banner"/>
                    </div>
                    <div class="col-6">
                        {% if mission is defined %}
                            <img alt="Banner image" src="{{ mission.getBannerUrl() }}" class="img-thumbnail" style="height:150px;width:150px;" id="banner-image"/>
                        {% else %}
                            <img alt="Banner image" src="https://via.placeholder.com/150" id="banner-image" style="height:150px;width:150px;" alt="Image preview"/>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Brief File Upload:</label><br/>
                {% if mission is defined and mission.briefFiles is not null %}
                <table class="table table-striped">
                    <tr>
                        <td>Brief File</td>
                        <td><a href="{{ path('b2b_mission_download',{'id':mission.id}) }}" class="btn btn-sm btn-primary">Download</a></td>
                        <td><a href="#" class="btn btn-sm btn-danger d-none">Delete</a></td>
                    </tr>
                </table>
                {% endif %}
                {{ form_row(form.briefFiles) }}
                <input type="file" id="brief-file-upload" accept=".doc, .docx, .pdf, .xls, .xlsx" data-upload-type="brief"/>
            </div>

            <div class="form-group">
                {#<a href="#" class="btn btn-danger btn-sm float-right" id="add-media">Add Image</a>#}
                {#<input type="file" class="image-upload-btn" name="mission-medias" multiple style="" accept=".png, .jpeg, .jpg"/>#}
                <div id="mission-images-display">
                    {{ form_row(form.missionMedia) }}

                    {% if mission is defined %}
                    <div class="row">
                        {% for image in mission.missionMedia %}
                            <div class="col-md-2 image-row">
                                <img src="{{ image.url }}" style="height:150px;width:150px" />
                                <a class="delete-image" data-id="{{ loop.index - 1 }}" href="#">Delete Image</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            </div>
            <div>

                <div class="col-md-12" id="show-pack-images">
                    {% if mission is defined and mission != null %}
                        {% include 'b2b/shared/pack-images.html.twig' with {'images': mission.referencePack.userPackMedia, 'selectedImages':mission.missionMedia} %}
                    {% endif %}
                </div>
                <div id="dropzone" class="image-upload-zone" style="margin:10px;" accepted-files=".jpg, .jpeg, .png">
                    <h4 class="text-center" style="vertical-align: middle;">Drop the files here/Click here to upload</h4>
                </div>
            </div>

            <div class="form-group">
                <select name="{{ form.children.region.vars.full_name }}" class="form-control">
                    {% for region in form.children.region.vars.data %}
                        {% if region == form.vars.value.region %}
                            <option value="{{ region.id }}" selected>{{ region.name }}</option>
                        {% else %}
                            <option value="{{ region.id }}">{{ region.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                {{ form_row(form.missionBasePrice) }}
                <div class="client-price {% if mission is not defined %}d-none{% endif %}">Client Price is <span class="price">{% if mission is defined %} {{ mission.userMissionPayment.clientPrice }}  {% endif %}</span></div>
            </div>
            <div class="form-group">
                {{ form_row(form.axaInsurance) }}
            </div>
            <hr/>
            <div class="form-group">
                <input type="submit" class="btn btn-md btn-info" value="Save">
            </div>
            {{ form_end(form, {'render_rest':false}) }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#banner-image').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

       $('input[type="file"]').on('change', function(e)
       {
           var type = 'banner';
           // Read the image URL and display the image
           if($(this).attr('id') == 'banner-image-upload')
           {
               readURL(this);
           }
           else
           {
               type = 'brief';
           }
           // Add image name on the input parameters
           var formData = new FormData();
           formData.append("file", $(this)[0].files[0]);
           //Upload the image via AJAX
           uploadFiles(formData, type);

       });


        function uploadFiles(formData, type)
        {
            $.ajax('/community-manager/mission/upload',
                {
                    type: 'POST',
                    data: formData,
                    cacheable: false,
                    processData: false,
                    contentType: false,
                }).done(function(result)
            {
                if(type == 'banner')
                {
                    $('#mission_bannerImage').val(result.fileName);
                }
                else if(type == 'brief')
                {
                    $('#mission_briefFiles').val(result.fileName);
                }


            });
        }


        $("div.image-upload-zone").dropzone({
            url: "/community-manager/mission/upload",
            addRemoveLinks: true,
            dictDefaultMessage: "Drop files here or<br>click to upload...",
            acceptedFiles: $(this).attr('accepted-files'),
            success: function (file, response) {
                var prototype = $('#mission_missionMedia').attr('data-prototype');
                var index = $('#mission-images-display').find('input').length;

                prototype = prototype.replace(/__name__/g,index);
                $('#mission-images-display').append(prototype);
                $('#mission-images-display')
                    .find('input:last')
                    .val(response.fileName).attr('data-filename',file.upload.filename);
            },
            removedfile: function (file) {
                $('input[data-filename="'+file.upload.filename+'"]').remove();
                file.previewElement.remove();
            }
        });

        // Media upload
        // $('#add-media').on('click', function(e)
        // {
        //     e.preventDefault();
        //     $('input[name="mission-medias"]').trigger('click');
        //
        // });
        //
        // $('.image-upload-btn').change(function () {
        //     var prototype = $('#mission_missionMedia').attr('data-prototype');
        //     var index = $('#mission-images-display').find('input').length;
        //     console.log(index);
        //     // Add image name on the input parameters
        //     // $.each($(this)[0].files,funtion(key,value){
        //     //
        //     // });
        //
        //     $.each($(this)[0].files, function( key, value ) {
        //         var formData = new FormData();
        //         formData.append("file", value);
        //         console.log(key);
        //         prototype = prototype.replace(/__name__/g,key);
        //         $('#mission-images-display').append(prototype);
        //
        //         // formData.append("file", $(this)[0].files[0]);
        //         //Upload the image via AJAX
        //         $.ajax('/client/mission/upload',
        //             {
        //                 type: 'POST',
        //                 data: formData,
        //                 cacheable: false,
        //                 processData: false,
        //                 contentType: false,
        //                 success: function (result) {
        //                     $('#mission-images-display')
        //                         .find('input:last')
        //                         .val(result.fileName)
        //                 }
        //             }).done(function(result)
        //             {
        //                 // prototype = prototype.replace(/__name__/g,index);
        //                 // index = index + 1;
        //                 // $('#mission-images-display').append(prototype);
        //                 // $('#mission-images-display')
        //                 //     .find('input:last')
        //                 //     .val(result.fileName)
        //                 //     .after('<a href="#" class="delete-image">Delete Image</a>');
        //                 // console.log(index);
        //             });
        //     });
        //
        // });

        $(document).on('click','.delete-image', function(e)
        {
            e.preventDefault();
            $(this).parents('fieldset').html('');
            $('#mission_missionMedia_'+$(this).attr('data-id')).html('');
            $(this).parents('.image-row').html('');
        });

        $(document).on('click','[name="mission[referencePack]"]', function (e) {
            $.ajax('/api/pack/import-images/'+$(this).val(),
            {
               type: 'GET',
            }).done(function(result){
                $('#show-pack-images').html(result);
            });
        });

        $('form').on('submit', function(e)
        {
            var prototype = $("#mission_missionMedia").attr("data-prototype");
            $.each($('.pack-images:checked'), function()
            {
                var index = $('#mission-images-display').find('input').length;
                var input = prototype.replace(/__name__/g, index);
                $('#mission-images-display').append(input).find('input:last').val($(this).val());
            });
        });

        $('#mission_missionBasePrice').on('keyup', function()
        {
            var price = $('#mission_missionBasePrice').val();
            if(price == NaN)
            {
                alert('Price cannot be calculated');
            }
            else
            {
                $('.client-price').removeClass('d-none');
                $('.price').html((parseInt($('#mission_missionBasePrice').val()) + (price* (20/100) )));
            }
        })
    });
</script>
{% endblock %}
