{% extends 'b2b/base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="col-md-12 text-center">
            {% if mission.bannerUrl is not null or mission.bannerUrl != '' %}
            <img src="https://via.placeholder.com/300X800?text=Banner Not Available" style="height:300px;width:80%"/>
            {% else %}
                <img src="{{ mission.bannerUrl }}" style="height:300px;width:80%"/>
            {% endif %}
        </div>
        <div class="col-md-12">
            {{ mission.referencePack.title }}
            <h1>{{ mission.title }}</h1>
            {{ mission.description }}
        </div>
        <div class="col-md-12" style="margin-top:30px">
            <div class="row">
                <div class="col-md-2">
                    <small>{{ mission.status }}</small>
                    {{ mission.client }}
                </div>
                <div class="col-md-2">
                    <small>Region</small><br/>
                    {{ mission.region }}
                </div>
                <div class="col-md-2">
                    <small>Price</small>
                    {{ mission.missionBasePrice }}
                </div>
                {% if mission.briefFiles is not null or mission.briefFiles != '' %}
                <div class="col-md-2">
                    <a href="{{ url('b2b_mission_download',{'id':mission.id}) }}" class="btn btn-sm btn-info">Download</a>
                </div>
                {% endif %}
                <div class="col-md-2">
                    <a href="{{ url('b2b_mission_edit',{'id':mission.id}) }}" class="btn btn-sm btn-primary">Edit</a>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                            Change Status
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" id="terminate-mission" data-id="{{ mission.id }}">Terminate Mission</a>
                            <a class="dropdown-item" href="#">Support</a>
                            <a class="dropdown-item" href="#">Partager</a>
                            <a class="dropdown-item" href="#" style="color:red" id="cancel-mission" data-id="{{ mission.id }}">Cancel Mission</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function()
    {
       $('#terminate-mission').on('click', function(e){

           e.preventDefault();

           if(confirm('Are you sure about terminating this mission?'))
           {
               updateStatus($(this).attr('data-id'),'terminate');
           }
       });

       $('#cancel-mission').on('click', function (e)
       {
           e.preventDefault();

           if(confirm('Are you sure about cancelling this mission?'))
           {
               updateStatus($(this).attr('data-id'),'cancel');
           }
       });

       function updateStatus(id, status)
       {
           $.ajax('/community-manager/mission/status',{
               type: 'POST',
               data: {
                   'id': id,
                   'status': status,
                   '_token':"{{ csrf_token(app.user.id) }}"
               },
               success:function(result)
               {
                   if(result.success == true)
                   {
                       alert('Status has been updated');
                   }
                   else
                   {
                       alert('Sorry! Status couldn\'t be updated');
                   }
               }
           })
       }
    });
</script>
{% endblock %}