{% extends 'b2b/client/base.html.twig' %}
{%  block meta_title %}{{ page.metaTitle }}{% endblock %}
{%  block meta_description %}{{ page.metaDescription }}{% endblock %}
{%  block meta_robots %}{% if page.indexed == false %}noindex,follow{% else %}{{ parent() }}{% endif %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ absolute_url('/assets/css/faqs/all.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ absolute_url('/assets/css/faqs/plugins-bundle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ absolute_url('/assets/css/faqs/style.css') }}">
{% endblock %}
{% block newbody %}


    <div class="cm-profile-page pt-3 pb-5 bg-dashboard">

        <!-- Pack creation/edition contents -->
        <div class="pack-preview-container col-sm-12 p-0 vh-100">
            <div class="overlay-dashboard"></div>
            <div id="preview-details"></div>
        </div>
        <!-- Pack creation/edition contents ends -->


        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="profile-info-container card p-3 text-center">
                        <img class="cm-image mx-auto mb-3" src="{{ user.getAvatar() }}" alt="CM Name">
                        <h1 class="fz-16 font-weight-bold">{{ user.firstName}}<br/> {{ user.getSkill() }} <br/> {{ user.pixie.billing.address.city }}</h1>
                        <p class="fz-16">@{{ user }}</p>
                        <p>
                            {% for region in user.userRegion %}
                                <span class="d-block fz-12 text-seagreen">{{ region.name | upper }}</span>
                            {% endfor %}

                        <p class="fz-15 font-weight-light">Bienvenue sur le profil de {{ user }}. Vous trouverez ses différents packs de compétences, créés par ses soins. N’hésitez pas à sélectionner un pack pour entrer en contact avec ce city-maker. Vous pourrez alors discuter avec lui et personnaliser le pack avec lui/ elle par la suite selon vos besoins.</p>
                        <div class="row">
                            {% if user.userInstagramDetailsApi is not null %}
                            <div class="col-md-4 p-0 fz-16 font-weight-bold text-center">
                                {{ user.userInstagramDetailsApi.noOfPosts }} <span class="d-block fz-12 font-weight-light">publications</span>
                            </div>
                            <div class="col-md-4 p-0 fz-16 font-weight-bold text-center">
                                {{ user.userInstagramDetailsApi.noOfFollowers }} <span class="d-block fz-12 font-weight-light">abonnés</span>
                            </div>
                            <div class="col-md-4 p-0 fz-16 font-weight-bold text-center">
                                {{ user.userInstagramDetailsApi.noOfFollowed }} <span class="d-block fz-12 font-weight-light">abonnements</span>
                            </div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-md-12 mt-3">
                                {% for link in user.links %}
                                    {% if link.type == 'instagram' %}
                                <a href="{{ link.url }}" class="btn btn-blue btn-block" target="_blank">S’abonner sur Instagram <i
                                            class="fab fa-instagram"></i></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-9">

                    <div class="row">
                        <div class="col-md-12 mb-3 breadcrumbs">
                            <a href="{{ path('prestations_de_serviceindex') }}">Accueil</a> / <a href="{{  path('b2b_client_search_index') }}">Rechercher un City-Maker</a> /
                            {{ user }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 content-top-header profile-packs-container d-flex align-items-center mb-3">
                            <h4 class="mb-0 font-weight-light profile-packs-title"><span
                                        class="total-packs-available font-weight-bold">{{ packs | length }}</span> pack{% if packs | length >1 %}s{% endif %} disponible{% if packs | length >1 %}s{% endif %}</h4>
                            <div class="filter-packages d-flex">
                                <label class="text-seagreen m-0 mr-3 d-none active">
                                    <input type="checkbox" name="filterpackage" value="all">
                                    <i class="fas fa-sync-alt fz-22 d-flex align-items-center justify-content-center"></i>
                                </label>
                                {% for skill in skills %}
                                <label class="text-seagreen m-0 mr-3">
                                    <input type="checkbox" name="filterpackage" value="{{ skill.slug }}">
                                    <i class="fas {{ skill.icon }} fz-22 d-flex align-items-center justify-content-center"></i>
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="pack-selection-container w-100">
                            <div class="col-md-12 pack-selection-cards">
                                <div class="row">
                                    <ul class="d-flex w-100">
                                        {% for pack in packs %}
                                            <li class="col-md-4 mb-4 pack-item {{  pack.packSkill.slug }}" >
                                                {% set slug = pack.title | lower | replace({' ':'-', '/':'-'}) %}
                                                <a href="{{ url('b2b_front_community_manager_pack_view',{'slug':pack.generateSlug(), 'id':pack.id}) }}" class="card" data-id="{{ pack.id }}">
                                                    <input class="select" type="checkbox">
                                                    <div class="pack-icon">
                                                        <i class="fas {{ pack.packSkill.icon }}"></i>
                                                    </div>
                                                    <img class="card-img-top" src="/uploads/pack/banner/{{ pack.bannerImage }}" alt="">
                                                    <div class="card-body">
                                                        <h3 class="card-text fz-12 text-normalgray mb-1">{{ pack.packSkill | upper }}</h3>
                                                        <h5 class="card-title fz-16 text-darkblue font-weight-bold mb-1">
                                                            {{ pack }}</h5>
                                                        <p class="pack-cost fz-16 font-weight-bold text-normalgray">{{ pack.totalPrice }}€
{#                                                            <span class="fz-12 font-weight-light">À partir de</span></p>#}
                                                    </div>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modals Starts-->
    <!-- Folllow the City Maker modal -->
    <div class="modal fade modal-follow" id="followCityMakerModal" tabindex="-1" role="dialog" aria-labelledby="followCityMakerModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 modal-logo-city-maker">
                            <img src="../images/header-logo-main.svg" alt="Pix.City" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Vous souhaitez suivre les publications des prochaines cards de ce city-maker?</p>
                            <p>Cliquez et ajoutez-le à vos city-makers favoris dans votre compte voyageur (en créant ou en accédant à votre compte).</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 modal-footer-button">
                        <a href="javascript:;" class="btn btn-outline-pink btn-block" data-dismiss="modal">PLUS TARD</a>
                    </div>
                    <div class="col-md-6 modal-footer-button">
                        <a href="javascript:;" class="btn btn-green btn-block">ACCEDER A MON COMPTE VOYAGEUR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Folllow the City Maker modal ends -->
    <!-- Alert Modal Starts-->
    <div class="modal fade alert-modal" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold">Supprimer l’image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sur de vouloir supprimer <b>IMG 003</b> de vos images ? Vous pourrez la remettre en ligne plus tard si vous le souhaitez.</p>
                    <p>Si vous avez des questions sur le fonctionnement de Pix.City services, n’hésitez pas à à consulter <a href="javascript:;">nos pages d’aide dédiées</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white-cancel" data-dismiss="modal">ANNULER</button>
                    <button type="button" class="btn btn-pink">SUPPRIMER L’IMAGE</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Alert Modal Ends-->
    <!-- Confirm with Check Modal Starts-->
    <div class="modal fade confirm-check-modal" id="confirmCheckModal" tabindex="-1" role="dialog" aria-labelledby="followCityMakerModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold">Conditions générales d’utilisation Pix.city Services
                        <span>Dernière étape ! Lisez bien nos conditions d’utilisation et vous pourrez soumettre votre candidature</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white-cancel" data-dismiss="modal">ANNULER</button>
                    <button type="button" class="btn btn-pink">SUPPRIMER L’IMAGE</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Confirm with Check Modal Ends-->
    <!-- Modals Ends-->
    {% embed 'front/_shared/intercom.html.twig' %}{% endembed %}
{#    {% include 'b2b/shared/modals.html.twig' %}#}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        $('.view-pack').on('click', function()
        {
            var id = $(this).attr('data-id');
            $.ajax('/api/pack/view-pack/'+id,{
                type: 'GET',
                success: function (result) {
                    $('#preview-details').html(result);
                }
            });
        });

        $(document).on('click','#client-mission-proposal-button', function () {
            $('#client-mission-proposal-form').removeClass('d-none');
            $("#client-mission-proposal-button").hide();
           // var id = $(this).attr('data-id');
           //
           // $.ajax('api/missions/send-proposal',{
           //     method: "POST",
           //     data: { 'pack': id},
           //     success: function (result) {
           //         console.log(result);
           //     }
           // });
        });

        $(document).on('submit','#clientMissionProposalForm', function (e) {
            e.preventDefault();
            var formData = new FormData();
            formData.append('pack',$('[name="pack"]').val());
            formData.append('description',$('[name="description"]').val());
            formData.append('file',$('[name="brief"]')[0].files[0]);
            console.log();
            $.ajax($(this).attr('action'),{
                method: "POST",
                cacheable: false,
                processData: false,
                contentType: false,
                data: formData,
                success: function (result) {
                    if(result.success == true)
                    {
                        alert('Mission Proposal has been sent successfully!');
                    }
                    else
                    {
                        alert('Please login!');
                    }
                }
            });
        })
    </script>

    <script>

        /* custom per page scripts */
        $(document).ready(function () {

            function filterPackages(thisObj) {

                $(thisObj).parents('.content-top-header').next().find('.pack-item').removeClass('d-flex').fadeOut('fast');

                var $packlist = $(thisObj).parents('.content-top-header').next().find('.pack-item'),filter = [];

                $(thisObj).parents('.filter-packages').find('input[type="checkbox"]:checked').each(function () {
                    var packtype = $(this).val();
                    filter.push('.' + packtype);
                });

                if (filter.length == 0) {
                    $packlist.addClass('d-flex').fadeIn();
                    $(thisObj).parents('.content-top-header').find('.total-packs-available').text($packlist
                        .length);
                } else {
                    $(thisObj).parents('.content-top-header').next().find(
                        '.pack-item').filter(filter.join(',')).addClass('d-flex').fadeIn();
                    $(thisObj).parents('.content-top-header').find('.total-packs-available').text($packlist
                        .filter(filter.join(',')).length);
                }
            }

            $('.filter-packages input[type="checkbox"]').click(function () {
                filterPackages($(this))
            });


            $(document).on('click', '.close-preview-edit', function (e) {
                e.preventDefault();
                $('.pack-preview-container').fadeOut();
                $('body').removeClass('overflow-hidden');
            });
            /* pack preview/edit invoke ends */
        });
    </script>
{% endblock %}
