<!DOCTYPE html>
<html style="width: 200px; height: 400px;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ pathToPublic }}/{{ asset('build/front/css/app.css') }}">
    {% endblock %}

</head>
<body style="width: 200px; height: 400px;">
    <div class="card col-sm-15 01-hotspot">
        <div class="inner" style="{% if card.thumb %}background-image: url({{ card.thumb.getUrl() }}){% endif %}">
            <div class="alignBottom">
                <a class="cardTitle" href="{{ absolute_url(path('front_card_single', {slug: card.slug})) }}" title="{{ card.name }}">{{ card.name }}</a>
                <form action="{{ path('front_search_index') }}">
                    <input type="hidden" name="regions[]" value="{{ card.region.slug }}">
                    <button type="submit" class="regionName">{{ card.region }}</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
