{% extends 'v2/front/account/page.html.twig' %}


{% import 'front/_shared/macros.html.twig' as macros %}
{% block page_content %}
    <div class="home-page collections-page">
        <!-- Filter Cards Wrap Starts -->
        <!-- <div class="nav-tabs-wrap">
            <div class="container">
                Nav tabs
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#mes-cards">Mes Cards</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#mes-agendas">Mes agendas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#mes-city-makers">Mes City-Makers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#parameters">Parameters</a>
                  </li>
                </ul>
            </div>
        </div> -->
        <!-- Tab panes -->
        <!-- Tab panes Starts -->
        <div class="container">
            <div class="col-md-12 tab-page-collection-container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="nav nav-pills" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link btn btn-rollover toutesLes-cards-link active" data-toggle="pill" href="#toutesLesCards">
                                    <span class="text">Toutes les cards</span>
                                    <img src="{{ absolute_url(asset('build/images/cards-white.svg')) }}">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-rollover collections-link" data-toggle="pill" href="#collections">
                                    <span class="text">Collections</span>
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="toutesLesCards" class="tab-pane active">
                        <div class="cards-wrap">
                            <div class="container">
                                <!-- <div class="container-collections-button row">
                                    <ul>
                                        <li><a href="javascript:void(0);">Toutes les cards</a></li>
                                        <li><a href="javascript:void(0);">Collections</a></li>
                                    </ul>
                                </div> -->
                                <div id="cards" class="row list-of-cards m-t-50 no-autoscroll" data-api-route="https://www.pix.city/api/cards/list">
                                    <div class="dropdown-regions">
                                        <a class="dropdown-toggle dnc dropdown-region" href="javascript:;" role="button" id="dropdownMenuRegion" aria-haspopup="true" aria-expanded="false">
                                            Toutes les regions <i class="fas fa-chevron-down"></i>
                                        </a>
                                        <div class="dropdown-menu shadow mb-3" id="regDropdown" aria-labelledby="dropdownMenuRegion">
                                            {% for region in regions %}
                                                <a class="dropdown-item region-list"  href="javascript:;" data-id="{{ region.id }}">{{ region.name  }}</a>
                                            {% endfor %}

                                        </div>
                                    </div>
                                    <div class="dropdown-categories">
                                        <a class="dropdown-toggle dnc dropdown-moment" href="javascript:void(0);" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                                            Catégories <i class="fas fa-chevron-down"></i>
                                        </a>
                                        <div id="catsDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <ul id="filters" class="categories">
                                                <li class="btn btn-rollover btn-pink is-checked all"><span class="text">Tout</span><i class="fas fa-th"></i></li>
                                                {% for category in categories %}
                                                    <li class="btn btn-rollover btn-pink" data-id="{{ category[0].id }}" data-slug="site-touristique"><span class="text">{{ category[0].name }}</span><i class=" fas {{ category[0].icon }}"></i></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Rounded switch -->
                                    <div class="switch-map">
                                        <span>Map</span><input type="checkbox" id="switch"/><label for="switch">Toggle</label><span>Grid</span>
                                    </div>
                                    <div class="card-view">
                                        <div class="row cardsMrgn loader-container">
                                            <div class="loader"></div>
                                            <div id="cardsGrid" class="regionCards cards-grid cards-filter-result">
                                                {% for card in cards %}
                                                    {{ macros.cardSingle(card) }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% if cards | length > 9 %}
                                        <div class="loadCards"></div>
                                        <div class="col-xs-12 text-center" id="loadCards">
                                            <a href="javascript:;" class="btn btn-green btn-rollover" id="showMoreCards"><span class="text">VOIR PLUS DE CARDS</span><i class="fas fa-plus-square"></i></a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="map-view">
                                        <div class="col-md-5 map-view-sidebar shadow">
                                            <div class="row">
                                                <a href="javascript:;" class="close-sidebar">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                                <!--Sidebar Maps Starts-->
                                                <div class="col-md-12 map-sidebar" data-simplebar>
                                                    <div class="row">
                                                        <div class="col-md-10 mb-2 sidebar-header">Restaurant Pita à Paris</div>
                                                        <div class="col-md-2 mb-2 pr-4 text-right favourite-check">
                                                            <div class="pretty p-icon p-toggle p-plain p-bigger">
                                                                <input type="checkbox" />
                                                                <div class="state p-off">
                                                                    <i class="icon far fa-heart "></i>
                                                                </div>
                                                                <div class="state p-on p-pink-o">
                                                                    <i class="icon fas fa-heart"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 mb-2 marker-about">
                                                            <i class="fas fa-utensils"></i> Restaurant
                                                        </div>
                                                        <div class="col-md-6 mb-2 marker-about text-right">
                                                            <i class="fas fa-map-pin"></i> Paris, IDF
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 mb-2 sidebar-view-images">
                                                            <div class="sidebar-slider">
                                                                <div class="sidebar-slider-image"><img src="https://www.pix.city/media/cache/bg_card_item/uploads/cards/2018/10/73519de4b703e42dccbbc0367d64dcde.jpeg"></div>
                                                                <div class="sidebar-slider-image"><img src="https://www.pix.city/media/cache/bg_card_item/uploads/cards/2018/11/0c1b32dee3cd970b2b12ee42a41eee75.jpeg"></div>
                                                                <div class="sidebar-slider-image"><img src="https://www.pix.city/media/cache/bg_card_item/uploads/cards/2018/11/ae09ccf13484e7f97b6d55b7fc119566.jpeg"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 mb-3 register-button">
                                                            <a href="javascript:;" class="btn btn-pink btn-block">
                                                                DÉCOUVRIR L’EXPÉRIENCE SUR PIX.CITY
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="22.737" height="21.104" viewBox="0 0 22.737 21.104">
                                                                    <g id="PIX_CARDS_ICON" data-name="PIX CARDS ICON" transform="translate(-129 -550)">
                                                                        <path id="Path_950" data-name="Path 950" d="M119.914,59.76l-6.78-.01a1.245,1.245,0,0,0-1.263,1.243l-.021,12.615a1.258,1.258,0,0,0,1.255,1.253l6.78.01h.054a1.25,1.25,0,0,0,1.212-1.237l.021-12.626A1.253,1.253,0,0,0,119.914,59.76Zm.072,13.868c0,.041-.059.08-.1.074l-6.78-.01a.1.1,0,0,1-.095-.085l.023-12.615a.1.1,0,0,1,.095-.085h.005l6.78.018a.088.088,0,0,1,.1.08Z" transform="translate(30.565 490.892)" fill="#ffffff"/>
                                                                        <path id="Path_951" data-name="Path 951" d="M73.507,99.953a.573.573,0,0,0-.788.226l-1.009,1.848a.1.1,0,0,1-.123.036L60.794,95.522a.1.1,0,0,1-.018-.123L63,91.61a.581.581,0,0,0-.994-.6L59.782,94.8a1.234,1.234,0,0,0-.151.94,1.2,1.2,0,0,0,.56.778l10.793,6.541a1.23,1.23,0,0,0,.634.18,1.289,1.289,0,0,0,1.1-.626l1.024-1.866A.581.581,0,0,0,73.507,99.953Z" transform="translate(69.403 467.866)" fill="#ffffff"/>
                                                                        <path id="Path_952" data-name="Path 952" d="M80.366,73.361a.6.6,0,0,0,.506.288.616.616,0,0,0,.29-.08.586.586,0,0,0,.213-.8L75.034,61.86a.09.09,0,0,1,.041-.118l5.861-3.409a.577.577,0,0,0,.208-.793.571.571,0,0,0-.793-.208l-5.859,3.4a1.283,1.283,0,0,0-.585.762,1.238,1.238,0,0,0,.118.95Z" transform="translate(58.801 492.751)" fill="#ffffff"/>
                                                                    </g>
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 mt-1 mb-3 py-3 sidebar-actions">
                                                            <div class="row">
                                                                <div class="col-md-3 action-links like-check">
                                                                    <div class="pretty p-icon p-toggle p-plain p-bigger">
                                                                        <input type="checkbox" checked />
                                                                        <div class="state p-off">
                                                                            <i class="icon far fa-thumbs-up"></i>
                                                                        </div>
                                                                        <div class="state p-on p-primary-o">
                                                                            <i class="icon fas fa-thumbs-up"></i>
                                                                        </div>
                                                                    </div>
                                                                    <p>J’AIME</p>
                                                                </div>
                                                                <div class="col-md-6 action-links">
                                                                    <a href="javascript:;">
                                                                        <img src="{{ absolute_url(asset('build/images/cards-gray.svg')) }}">
                                                                        <p>ENREGISTRER LA CARD</p>
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-3 action-links">
                                                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                                                        <img src="{{ absolute_url(asset('build/images/share-sidebar.svg')) }}">
                                                                        <p>PARTAGER</p>
                                                                    </a>
                                                                    <div class="dropdown-menu shadow" data-container="body">
                                                                        <div class="dropdown-block">
                                                                            <a class="dropdown-item" href="javascript:;">
                                                                                <i class="fab fa-facebook-f"></i>
                                                                            </a>
                                                                            <a class="dropdown-item" href="javascript:;">
                                                                                <i class="far fa-envelope"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <h4 class="col-md-12 pixy-rank">Notre Pixie</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 mb-5 pixie-profile-info">
                                                            <div class="row">
                                                                <div class="col-md-3 d-flex align-items-center pixie-image">
                                                                    <img src="https://www.pix.city/services/images/95d6eb342f84cc670e694e679996f772.jpeg" class="rounded-circle" alt="Pixie Name">
                                                                </div>
                                                                <div class="col-md-9 pixie-info">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <p class="mb-0 insta-name">Lily_Paris</p>
                                                                            <p class="mb-1 insta-loc">ILE-DE-Paris</p>
                                                                        </div>
                                                                        <div class="col-md-6 subscribe">
                                                                            <a href="javascript:;" class="btn btn-primary btn-fill btn-block btn-icon-right">S’abonner <i class="fab fa-instagram"></i></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <p class="about mb-1">Food in Paris 🍰✨ ✉️  Art lover and painter</p>
                                                                            <p class="email"><a href="javascript:;">pariswithlily@gmail.com</a></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 pixie-insta-numbers">
                                                                    <div class="row">
                                                                        <div class="col-md-3">
                                                                            <div class="row">
                                                                                <div class="col-md-6 grayed">
                                                                                    <span><img src="{{ absolute_url(asset('build/images/cards-light-gray.svg')) }}"></span>3
                                                                                </div>
                                                                                <div class="col-md-6 grayed">
                                                                                    <span><img src="{{ absolute_url(asset('build/images/vote-thumb.svg')) }}"></span>6
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3 blacked">
                                                                            <span>6251</span>publications
                                                                        </div>
                                                                        <div class="col-md-2 blacked">
                                                                            <span>10000</span>abonnés
                                                                        </div>
                                                                        <div class="col-md-4 blacked">
                                                                            <span>2891</span>abonnements
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 pix-place">
                                                            <h4>Le Restaurant</h4>
                                                            <div class="row">
                                                                <div class="col-md-12 mb-3 pix-place-info">
                                                                    <ul>
                                                                        <li><span><img src="{{ absolute_url(asset('build/images/sidebar-add-pin.svg')) }}" /></span>6 Rue Greffulhe, 92300 Levallois-Perret</li>
                                                                        <li><span><img src="{{ absolute_url(asset('build/images/sidebar-add-site.svg')) }}" /></span><a href="www.pita-restaurant.com" target="_blank">www.pita-restaurant.com</a></li>
                                                                        <li><span><img src="{{ absolute_url(asset('build/images/sidebar-add-call.svg')) }}" /></span><a href="tel:0156362816">01 56 36 28 16</a></li>
                                                                        <li><span><img src="{{ absolute_url(asset('build/images/sidebar-add-event.svg')) }}" /></span>Actuellement ouvert</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 pix-place-about">
                                                                    <h5>La Grèce à Paris</h5>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>
                                                                    <a href="javascript:;" onclick="myFunction()" id="moreBtn">Lira la suite</a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 my-3 pix-place-amenities">
                                                                    <div class="row">
                                                                        <div class="col-md-3 mb-2"><span><img src="{{ absolute_url(asset('build/images/cat-pets.svg')) }}" /></span>Animaux acceptés</div>
                                                                        <div class="col-md-3 mb-2"><span><img src="{{ absolute_url(asset('build/images/cat-wifi.svg')) }}" /></span>Wifi gratuit</div>
                                                                        <div class="col-md-3 mb-2"><span><img src="{{ absolute_url(asset('build/images/cat-group.svg')) }}" /></span>Groupes</div>
                                                                        <div class="col-md-3 mb-2"><span><img src="{{ absolute_url(asset('build/images/cat-parking.svg')) }}" /></span>Parking</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 pix-place-action">
                                                            <h4>Réserver une table<span class="badge badge-primary">Annonce</span></h4>
                                                            <div class="row">
                                                                <div class="col-md-12 pix-place-dates">
                                                                    <div class="row">
                                                                        <div class="col-md-5">
                                                                            <label>Jour souhaité</label>
                                                                            <input type="text" class="form-control" id="reserveDate" placeholder="dd/mm/yyyy" />
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <label>Heure</label>
                                                                            <input type="time" class="form-control" id=reserveTime/>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <label>Couverts</label>
                                                                            <input type="number" class="form-control" min="0" placeholder="2" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 my-5 pix-place-reserve">
                                                                    <div class="row">
                                                                        <div class="col-md-3 pix-place-logo">
                                                                            <img src="{{ absolute_url(asset('build/images/restaurante.png')) }}">
                                                                        </div>
                                                                        <div class="col-md-6 pix-place-details">
                                                                            <p><a href="javascript:;"/>Lafourchette.com</a></p>
                                                                            <p>Réservez et obtenez -20% sur votre addition avec lafourchette.com</p>
                                                                        </div>
                                                                        <div class="col-md-3 reserve">
                                                                            <a href="javascript:;">Réserver <i class="fas fa-chevron-right"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 similar-places">
                                                            <h4>Nos cards liées</h4>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="similar-places-slider">
                                                                        <div class="similar-card-holder">
                                                                            <div class="card shadow map-marker-popup similar-cards">
                                                                                <div class="row">
                                                                                    <div class="col-md-9 mb-2 ellipsis card-head">Restaurant Pita à Paris</div>
                                                                                    <div class="col-md-3 mb-2 pr-4 text-right favourite-check">
                                                                                        <div class="pretty p-icon p-toggle p-plain p-bigger">
                                                                                            <input type="checkbox" />
                                                                                            <div class="state p-off">
                                                                                                <i class="icon far fa-heart "></i>
                                                                                            </div>
                                                                                            <div class="state p-on p-pink-o">
                                                                                                <i class="icon fas fa-heart"></i>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-12 mb-2 marker-about">
                                                                                        <i class="fas fa-utensils"></i> Restaurant
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-12 mb-2 map-view-images">
                                                                                        <div class="place-image"><img src="https://www.pix.city/media/cache/bg_card_item/uploads/cards/2018/10/73519de4b703e42dccbbc0367d64dcde.jpeg"></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-12">
                                                                                        <a href="javascript:;" class="btn btn-pink btn-block">Voir la card</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="similar-card-holder">
                                                                            <div class="card shadow map-marker-popup similar-cards">
                                                                                <div class="row">
                                                                                    <div class="col-md-9 mb-2 ellipsis card-head">Restaurant Pita à Paris</div>
                                                                                    <div class="col-md-3 mb-2 pr-4 text-right favourite-check">
                                                                                        <div class="pretty p-icon p-toggle p-plain p-bigger">
                                                                                            <input type="checkbox" />
                                                                                            <div class="state p-off">
                                                                                                <i class="icon far fa-heart "></i>
                                                                                            </div>
                                                                                            <div class="state p-on p-pink-o">
                                                                                                <i class="icon fas fa-heart"></i>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-12 mb-2 marker-about">
                                                                                        <i class="fas fa-utensils"></i> Restaurant
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-12 mb-2 map-view-images">
                                                                                        <div class="place-image"><img src="https://www.pix.city/media/cache/bg_card_item/uploads/cards/2018/11/0c1b32dee3cd970b2b12ee42a41eee75.jpeg"></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-12">
                                                                                        <a href="javascript:;" class="btn btn-pink btn-block">Voir la card</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="similar-card-holder">
                                                                            <div class="card shadow map-marker-popup similar-cards">
                                                                                <div class="row">
                                                                                    <div class="col-md-9 mb-2 ellipsis card-head">Restaurant Pita à Paris</div>
                                                                                    <div class="col-md-3 mb-2 pr-4 text-right favourite-check">
                                                                                        <div class="pretty p-icon p-toggle p-plain p-bigger">
                                                                                            <input type="checkbox" />
                                                                                            <div class="state p-off">
                                                                                                <i class="icon far fa-heart "></i>
                                                                                            </div>
                                                                                            <div class="state p-on p-pink-o">
                                                                                                <i class="icon fas fa-heart"></i>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-12 mb-2 marker-about">
                                                                                        <i class="fas fa-utensils"></i> Restaurant
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-12 mb-2 map-view-images">
                                                                                        <div class="place-image"><img src="https://www.pix.city/media/cache/bg_card_item/uploads/cards/2018/11/ae09ccf13484e7f97b6d55b7fc119566.jpeg"></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-12">
                                                                                        <a href="javascript:;" class="btn btn-pink btn-block">Voir la card</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-center my-2 sidebar-footer">
                                                            <span>powered by</span>
                                                            <img src="{{ absolute_url(asset('build/images/footer-logo-gray.svg')) }}" alt="Pix.City">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Sidebar Maps ends-->
                                            </div>
                                        </div>
                                        <div class="row cardsMrgn loader-container">
                                            <div class="col-12 map-with-cards map-mobile mb-2">
                                                <div class="map-container">
                                                    {#{% include 'v2/_shared/map.html.twig' %}#}
                                                </div>
                                            </div>
                                            <div class="col-md-5 cards-with-map">
                                                <div class="loader"></div>
                                                <div id="cardsGrid" class="regionCards cards-grid cards-filter-result">
                                                    {% for card in cards %}
                                                        {{ macros.cardSingle(card) }}
                                                    {% endfor %}
                                                </div>
                                                {% if cards | length > 9 %}
                                                <div class="loadCards"></div>
                                                <div class="col-xs-12 text-center" id="loadCards">
                                                    <a href="javascript:;" class="btn btn-green btn-rollover" id="showMoreCards"><span class="text">VOIR PLUS DE CARDS</span><i class="fas fa-plus-square"></i></a>
                                                </div>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-7 map-with-cards">
                                                <div class="map-container">
                                                    {% include 'v2/_shared/map.html.twig' %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="noResult" class="col-md-12 no-results">
                                        <p>Aucune Card dans cette catégorie !</p>
                                        <div class="noCardIco"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Filter Cards Wrap Ends -->
                    </div>
                    <div id="collections" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-8 col-12 ml-auto collection-header-show">
                                <div class="row">
                                    <div class="col-md-8 collection-dropdown">
                                        <select class="selectpicker" title="Select collection">
                                            {% for collection in collections %}
                                                <option value="{{ collection.slug }}">{{ collection.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4 collection-add">
                                        <a href="javascript:;" class="btn btn-rollover btn-block btn-outline-green" data-toggle="modal" data-target="#createCollection" id="createCollectionBtn">
                                            <span class="text">Créer une nouvelle collection</span>
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-5 collection-block">
                                {% for collection in collections %}
                                <div class="row collection-segment">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-8 col-9">
                                                <div class="row">
                                                    <div class="col-md-10 col-7">
                                                        <h4 class="title">{{ collection.name }}</h4>
                                                    </div>
                                                    <div class="col-md-2 col-5 cta">
                                                        <a href="javascript:;"  class="cta-edit-collection" data-id="{{ collection.id }}"  data-toggle="modal" data-target="#createCollection">
                                                            <i class="far fa-edit" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Modifier ma collection"></i>
                                                        </a>
                                                        <a href="javascript:;" data-toggle="tooltip" class="cta-delete-collection" data-id="{{ collection.id }}" data-placement="bottom" data-container="body" title="Supprimer">
                                                            <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-3 share-collection">
                                                <a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="Carte">
                                                    <i class="far fa-map"></i>
                                                </a>
                                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-share"></i>
                                                </a>
                                                <div class="dropdown-menu shadow">
                                                    <div class="dropdown-block">
                                                        <a class="dropdown-item" href="javascript:;">
                                                            <i class="fab fa-facebook-f"></i>
                                                        </a>
                                                        <a class="dropdown-item" href="javascript:;">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collection-view">
                                    <div class="row cardsMrgn loader-container">
                                        <div class="loader"></div>
                                        <div id="cardsGrid" class="regionCards cards-grid">
                                            {% for card in collection.cards %}
                                                {{ macros.cardSingle(card) }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div id="api-box" data-api-url="/api/maps/user-cards"
         data-api-search-url="/api/maps/find-all-card/" data-show-sidebar="false" data-user-favorite="{{ app.user.id }}"
    ></div>

    <div class="modal fade" id="createCollection" tabindex="-1" role="dialog" aria-labelledby="followCityMakerModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
                <div class="modal-header">
                    <h4>Créer une collection</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" id="collectionForm">
                        <input type="hidden" name="token" value="{{ csrf_token('create') }}" />
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <input type="text" class="form-control" name="name" placeholder="Nom de la Collection">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 filter-categories">
                            <div class="input-group">
                                <select class="selectpicker" data-live-search="true" multiple title="Toutes les régions">
                                    {% for region in regions %}
                                        <option value="{{ region.slug }}" data-id="{{ region.id }}">{{ region.name }}</option>
                                    {% endfor %}
                                </select>
                                <select class="selectpicker" data-live-search="true" multiple title="Catégories">
                                    <option value="Tout">Tout</option>
                                    {% for category in categories %}
                                        <option value="{{ category[0].slug }}" data-id="{{ category[0].id }}">{{ category[0].name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-green nav-search-btn" type="button"><i class="fas fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="collection-view">
                                <div class="row cardsMrgn loader-container">
                                    <div class="loader"></div>
                                    <div id="cardsGrid" class="regionCards cards-grid">
                                        <div id="collectionsGrid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6 modal-footer-button">
                        <a href="javascript:;" class="btn btn-green btn-block" id="submitCollectionForm">
                            CREER UNE COLLECTION AVEC <b>3</b> CARDS
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places" defer></script>

    <script>
        var coordinates = {};

        $(document).ready(function()
        {
            $(document).on('click','#createCollectionBtn', function()
            {
                $.ajax('/v2/load-cards',{
                    method: 'POST',
                    data: {'userFavorite':{{ app.user.id }}, 'page': 1, 'isEditable': true},
                    success: function(result)
                    {
                        $('#collectionsGrid').html(result);
                    }

                });
            });

            $('#submitCollectionForm').click(function()
            {

                console.log($('#collectionForm').serialize());
                $.ajax('/api/collections/create',{
                    method:'POST',
                    data: $('#collectionForm').serialize(),
                    success:function(result)
                    {
                        $('.close').trigger('click');
                    }
                });

            });

            $(document).on('click','.cta-edit-collection', function()
            {
                var collection = $(this).attr('data-id');
                $.ajax('/v2/load-collection', {
                   method: 'POST',
                   data: {
                       id: collection,
                       isEditable: true
                   },
                    success: function(result)
                    {
                        $('#collectionsGrid').html(result);
                    }
                });

            });

            $(document).on('click','.cta-delete-collection', function()
            {
               if(confirm('Are you sure about deleting this?'))
               {
                   var id = $(this).attr('data-id');
                   $.ajax('/api/collections/delete',{
                           data:{
                               id: id
                           },
                            method: 'POST',
                            success: function(result)
                            {
                                $(this).parents().find('.collection-segment').html('');
                            }
                    });
               }
            });
        });
    </script>
    <script src="{{ asset('build/js/map.js') }}"></script>
{% endblock %}

{% block javascripts_footer %}
{% endblock %}