{% extends 'v2/front/account/page.html.twig' %}


{% import 'front/_shared/macros.html.twig' as macro %}
{% block page_content %}

	<!-- Tab panes -->
	<div class="tab-content">
			<div class="tab-pane active" id="mes-cards">
			<div class="cards-wrap">
				<div class="container">
					<div class="container-collections-button row">
						<ul>
							<li><a href="javascript:void(0);">Toutes les cards</a></li>
							<li><a href="javascript:void(0);">Collections</a></li>
						</ul>
					</div>
					<div id="cards" class="row list-of-cards m-t-50 no-autoscroll" data-api-route="/api/cards/list" data-user-favorite="{{ app.user.id }}" data-page="1">
						<div class="col-md-12">
							<div class="dropdown-regions">
								<a class="dropdown-toggle dnc dropdown-region" href="javascript:;" role="button" id="dropdownMenuRegion" aria-haspopup="true" aria-expanded="false">
									Toutes les regions <i class="fas fa-chevron-down"></i>
								</a>
								<div class="dropdown-menu shadow mb-3" id="regDropdown" aria-labelledby="dropdownMenuRegion">
									<a class="dropdown-item" href="javascript:;">Nord Pas de Calais</a>
									<a class="dropdown-item" href="javascript:;">Upper Normandy</a>
									<a class="dropdown-item" href="javascript:;">Rhône Alpes</a>
									<a class="dropdown-item" href="javascript:;">Provence Alpes Côte d Azur</a>
									<a class="dropdown-item" href="javascript:;">Poitou Charentes</a>
									<a class="dropdown-item" href="javascript:;">Picardie</a>
									<a class="dropdown-item" href="javascript:;">Pays de la Loire</a>
									<a class="dropdown-item" href="javascript:;">Midi Pyrénées</a>
									<a class="dropdown-item" href="javascript:;">Lower Normandy</a>
									<a class="dropdown-item" href="javascript:;">Lorraine</a>
									<a class="dropdown-item" href="javascript:;">Limousin</a>
									<a class="dropdown-item" href="javascript:;">Languedoc Roussillon</a>
									<a class="dropdown-item" href="javascript:;">Franche Comté</a>
									<a class="dropdown-item" href="javascript:;">Corsica</a>
									<a class="dropdown-item" href="javascript:;">Champagne Ardenne</a>
									<a class="dropdown-item" href="javascript:;">Centre</a>
									<a class="dropdown-item" href="javascript:;">Burgundy</a>
									<a class="dropdown-item" href="javascript:;">Brittany</a>
									<a class="dropdown-item" href="javascript:;">Auvergne</a>
									<a class="dropdown-item" href="javascript:;">Aquitaine</a>
									<a class="dropdown-item" href="javascript:;">Alsace</a>
									<a class="dropdown-item" href="javascript:;">Île de France</a>
								</div>
							</div>
							<div class="dropdown-categories">
								<a class="dropdown-toggle dnc dropdown-moment" href="javascript:void(0);" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
									Catégories <i class="fas fa-chevron-down"></i>
								</a>
								<div id="catsDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<ul id="filters" class="categories">
										<li class="btn btn-rollover btn-pink is-checked all"><span class="text">Tout</span><i class="fas fa-th"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="7" data-slug="nature"><span class="text">Nature</span><i class="fas fa-tree"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="8" data-slug="site-touristique"><span class="text">Site touristique</span><i class=" fas fa-university"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="9" data-slug="manger"><span class="text">Manger</span><i class="fas fa-utensils"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="22" data-slug="bars-et-cafes"><span class="text">Bars et Cafés</span><i class="fas fa-coffee"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="12" data-slug="sortir"><span class="text">Sortir</span><i class="fas fa-glass-martini"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="17" data-slug="green"><span class="text">Green</span><i class="fas fa-leaf"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="10" data-slug="mobilite"><span class="text">Mobilité</span><i class="fas fa-wheelchair"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="11" data-slug="sport"><span class="text">Sport</span><i class="fas fa-futbol"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="13" data-slug="art-et-culture"><span class="text">Art et culture</span><i class="fas fa-paint-brush"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="14" data-slug="shopping"><span class="text">Shopping</span><i class="fas fa-shopping-bag"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="15" data-slug="consommer-local"><span class="text">Consommer local</span><i class="fas fa-toolbox"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="16" data-slug="enfants"><span class="text">Enfants</span><i class="fas fa-child"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="18" data-slug="dormir"><span class="text">Dormir</span><i class="fas fa fa-bed"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="19" data-slug="bien-etre-et-sante"><span class="text">Bien-être et santé</span><i class="fas fa-spa"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="20" data-slug="evenement"><span class="text">Événement</span><i class="fas fa-calendar-alt"></i></li>
										<li class="btn btn-rollover btn-pink" data-id="21" data-slug="experiences-solidaires"><span class="text">Éxpériences solidaires</span><i class="fas fa-users"></i></li>
									</ul>
								</div>
							</div>
							<!-- Rounded switch -->
							<div class="switch-map">
								<span>Map</span><input type="checkbox" id="switch" checked /><label for="switch">Toggle</label><span>Grid</span>
							</div>
							<div class="card-view">
							<div class="row cardsMrgn loader-container">
								<div class="loader"></div>
								<div id="cardsGrid" class="regionCards cards-grid">
									{% for card in cards %}
										{{ macro.cardSingle(card) }}
									{% endfor %}

									<div class="loadCards"></div>
								</div>

							</div>
							<div class="row">
								<div class="col-md-4 offset-md-4 text-center loadCardsBtn" id="loadCards">
										<a href="javascript:;" class="btn btn-green btn-rollover" id="showMoreCards"><span class="text">VOIR PLUS DE CARDS</span><i class="fas fa-plus-square"></i></a>

								</div>
							</div>
							</div>
							<div class="map-view">
								<div class="col-md-5 map-view-sidebar shadow">
									<div class="row">
										<a href="javascript:;" class="close-sidebar">
											<i class="fas fa-times"></i>
										</a>
										<!--Sidebar Maps Starts-->
										<div class="col-md-12 map-sidebar" data-simplebar>
											<div class="row">
												<div class="col-md-10 mb-2 sidebar-header">Restaurant Pita à Paris</div>
												<div class="col-md-2 mb-2 pr-4 text-right favourite-check">
													<div class="pretty p-icon p-toggle p-plain p-bigger">
														<input type="checkbox" />
														<div class="state p-off">
															<i class="icon far fa-heart "></i>
														</div>
														<div class="state p-on p-pink-o">
															<i class="icon fas fa-heart"></i>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 mb-2 marker-about">
													<i class="fas fa-utensils"></i> Restaurant
												</div>
												<div class="col-md-6 mb-2 text-right marker-about">
													<i class="fas fa-map-pin"></i> Paris, IDF
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 mb-2 sidebar-view-images">
													<div class="sidebar-slider">
														<div class="sidebar-slider-image"><img src="https://www.pix.city/media/cache/bg_card_item/uploads/cards/2018/10/73519de4b703e42dccbbc0367d64dcde.jpeg"></div>
														<div class="sidebar-slider-image"><img src="https://www.pix.city/media/cache/bg_card_item/uploads/cards/2018/11/0c1b32dee3cd970b2b12ee42a41eee75.jpeg"></div>
														<div class="sidebar-slider-image"><img src="https://www.pix.city/media/cache/bg_card_item/uploads/cards/2018/11/ae09ccf13484e7f97b6d55b7fc119566.jpeg"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 mb-3 register-button">
													<a href="javascript:;" class="btn btn-pink btn-block shadow">DÉCOUVRIR L’EXPÉRIENCE SUR PIX.CITY</a>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 my-3 sidebar-actions">
													<div class="row">
														<div class="col-md-4 action-links like-check">
															<div class="pretty p-icon p-toggle p-plain p-bigger">
																<input type="checkbox" checked />
																<div class="state p-off">
																	<i class="icon far fa-thumbs-up"></i>
																</div>
																<div class="state p-on p-primary-o">
																	<i class="icon fas fa-thumbs-up"></i>
																</div>
															</div>
															<p>J’AIME</p>
														</div>
														<div class="col-md-4 action-links">
															<a href="javascript:;">
																<img src="images/cards-gray.svg">
																<p>ENREGISTRER LA CARD</p>
															</a>
														</div>
														<div class="col-md-4 action-links">
															<a href="javascript:;">
																<i class="far fa-share-square"></i>
																<p>PARTAGER</p>
															</a>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<h4 class="col-md-12 pixy-rank">Notre Pixie</h4>
											</div>
											<div class="row">
												<div class="col-md-12 mb-5 pixie-profile-info">
													<div class="row">
														<div class="col-md-3 d-flex align-items-center pixie-image">
															<img src="https://www.pix.city/services/images/95d6eb342f84cc670e694e679996f772.jpeg" class="rounded-circle" alt="Pixie Name">
														</div>
														<div class="col-md-8 pixie-info">
															<div class="row">
																<div class="col-md-7">
																	<p class="mb-0 insta-name">Lily_Paris</p>
																	<p class="mb-1 insta-loc">ILE-DE-Paris</p>
																</div>
																<div class="col-md-5 p-0 subscribe">
																	<a href="javascript:;" class="btn btn-primary btn-fill btn-block btn-icon-right">S’abonner <i class="fab fa-instagram"></i></a>
																</div>
															</div>
															<div class="row">
																<div class="col-md-12">
																	<p class="about mb-1">Food in Paris 🍰✨ ✉️  Art lover and painter</p>
																	<p class="email"><a href="javascript:;">pariswithlily@gmail.com</a></p>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 pixie-insta-numbers">
															<div class="row">
																<div class="col-md-3">
																	<div class="row">
																		<div class="col-md-6 grayed">
																			<span><img src="images/cards-gray.svg"></span>3
																		</div>
																		<div class="col-md-6 grayed">
																			<span><i class="far fa-thumbs-up"></i></span>6
																		</div>
																	</div>
																</div>
																<div class="col-md-3 blacked">
																	<span>6251</span>publications
																</div>
																<div class="col-md-2 blacked">
																	<span>10000</span>abonnés
																</div>
																<div class="col-md-4 blacked">
																	<span>2891</span>abonnements
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 pix-place">
													<h4>Le Restaurant</h4>
													<div class="row">
														<div class="col-md-12 mb-3 pix-place-info">
															<ul>
																<li><span><i class="fas fa-map-marker-alt"></i></span>6 Rue Greffulhe, 92300 Levallois-Perret</li>
																<li><span><i class="fas fa-globe-europe"></i></span><a href="www.pita-restaurant.com" target="_blank">www.pita-restaurant.com</a></li>
																<li><span><i class="fas fa-phone"></i></span><a href="tel:0156362816">01 56 36 28 16</a></li>
																<li><span><i class="far fa-calendar-alt"></i></span>Actuellement ouvert</li>
															</ul>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 pix-place-about">
															<h5>La Grèce à Paris</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>
															<a href="javascript:;" onclick="myFunction()" id="moreBtn">Lira la suite</a>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 my-3 pix-place-amenities">
															<div class="row">
																<div class="col-md-3 mb-2"><span><i class="fas fa-dog"></i></span>Animaux acceptés</div>
																<div class="col-md-3 mb-2"><span><i class="fas fa-wifi"></i></span>Wifi gratuit</div>
																<div class="col-md-3 mb-2"><span><i class="fas fa-users"></i></span>Groupes</div>
																<div class="col-md-3 mb-2"><span><i class="fas fa-parking"></i></span>Parking</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 pix-place-action">
													<h4>Réserver une table<span class="badge badge-primary">Annonce</span></h4>
													<div class="row">
														<div class="col-md-12 pix-place-dates">
															<div class="row">
																<div class="col-md-5">
																	<label>Jour souhaité</label>
																	<input type="text" class="form-control" id="reserveDate" placeholder="dd/mm/yyyy" />
																</div>
																<div class="col-md-4">
																	<label>Heure</label>
																	<input type="time" class="form-control" id=reserveTime/>
																</div>
																<div class="col-md-3">
																	<label>Couverts</label>
																	<input type="number" class="form-control" min="0" placeholder="2" />
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 my-5 pix-place-reserve">
															<div class="row">
																<div class="col-md-3 pix-place-logo">
																	<img src="images/restaurante.png">
																</div>
																<div class="col-md-6 pix-place-details">
																	<p><a href="javascript:;"/>Lafourchette.com</a></p>
																	<p>Réservez et obtenez -20% sur votre addition avec lafourchette.com</p>
																</div>
																<div class="col-md-3 reserve">
																	<a href="javascript:;">Réserver <i class="fas fa-chevron-right"></i></a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 similar-places">
													<h4>Nos cards liées</h4>
													<div class="row">
														<div class="col-md-12">
															<div class="similar-places-slider">
																<div class="similar-card-holder">
																	<div class="card shadow map-marker-popup similar-cards">
																		<div class="row">
																			<div class="col-md-9 mb-2 card-head">Restaurant Pita à Paris</div>
																			<div class="col-md-3 mb-2 pr-4 text-right favourite-check">
																				<div class="pretty p-icon p-toggle p-plain p-bigger">
																					<input type="checkbox" />
																					<div class="state p-off">
																						<i class="icon far fa-heart "></i>
																					</div>
																					<div class="state p-on p-pink-o">
																						<i class="icon fas fa-heart"></i>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-6 mb-2 marker-about">
																				<i class="fas fa-utensils"></i> Restaurant
																			</div>
																			<div class="col-md-6 mb-2 marker-about">
																				<i class="fas fa-map-pin"></i> Paris, IDF
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12 mb-2 map-view-images">
																				<div class="place-image"><img src="https://www.pix.city/media/cache/bg_card_item/uploads/cards/2018/10/73519de4b703e42dccbbc0367d64dcde.jpeg"></div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12" id="loadCards">
																				<a href="javascript:;" class="btn btn-pink btn-block" id="showMoreCards">Voir la card</a>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="similar-card-holder">
																	<div class="card shadow map-marker-popup similar-cards">
																		<div class="row">
																			<div class="col-md-9 mb-2 card-head">Restaurant Pita à Paris</div>
																			<div class="col-md-3 mb-2 pr-4 text-right favourite-check">
																				<div class="pretty p-icon p-toggle p-plain p-bigger">
																					<input type="checkbox" />
																					<div class="state p-off">
																						<i class="icon far fa-heart "></i>
																					</div>
																					<div class="state p-on p-pink-o">
																						<i class="icon fas fa-heart"></i>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-6 mb-2 marker-about">
																				<i class="fas fa-utensils"></i> Restaurant
																			</div>
																			<div class="col-md-6 mb-2 marker-about">
																				<i class="fas fa-map-pin"></i> Paris, IDF
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12 mb-2 map-view-images">
																				<div class="place-image"><img src="https://www.pix.city/media/cache/bg_card_item/uploads/cards/2018/11/0c1b32dee3cd970b2b12ee42a41eee75.jpeg"></div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12">
																				<a href="javascript:;" class="btn btn-pink btn-block">Voir la card</a>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="similar-card-holder">
																	<div class="card shadow map-marker-popup similar-cards">
																		<div class="row">
																			<div class="col-md-9 mb-2 card-head">Restaurant Pita à Paris</div>
																			<div class="col-md-3 mb-2 pr-4 text-right favourite-check">
																				<div class="pretty p-icon p-toggle p-plain p-bigger">
																					<input type="checkbox" />
																					<div class="state p-off">
																						<i class="icon far fa-heart "></i>
																					</div>
																					<div class="state p-on p-pink-o">
																						<i class="icon fas fa-heart"></i>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-6 mb-2 marker-about">
																				<i class="fas fa-utensils"></i> Restaurant
																			</div>
																			<div class="col-md-6 mb-2 marker-about">
																				<i class="fas fa-map-pin"></i> Paris, IDF
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12 mb-2 map-view-images">
																				<div class="place-image"><img src="https://www.pix.city/media/cache/bg_card_item/uploads/cards/2018/11/ae09ccf13484e7f97b6d55b7fc119566.jpeg"></div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12">
																				<a href="javascript:;" class="btn btn-pink btn-block">Voir la card</a>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 text-center my-3 sidebar-footer">
													<span class="mb-2">powered by</span>
													<img src="images/footer-logo-gray.svg" alt="Pix.City">
												</div>
											</div>
										</div>
										<!--Sidebar Maps ends-->
									</div>
								</div>
								<div class="row cardsMrgn loader-container">
									<div class="col-md-5 cards-with-map">
										<div class="loader"></div>
										<div id="cardsGrid" class="regionCards cards-grid">
											{% for card in cards %}
												{{ macro.cardSingle(card) }}
											{% endfor %}

											<div class="loadCards"></div>
										</div>
										<div class="col-xs-12 text-center" id="loadCards">
											<a href="javascript:;" class="btn btn-green btn-rollover" id="showMoreCards"><span class="text">VOIR PLUS DE CARDS</span><i class="fas fa-plus-square"></i></a>
										</div>
									</div>
									<div class="col-md-7 map-with-cards">
										<div class="map-container">
										<div class="container" id="pac-input">
										    <div class="map-search">
										    	<form class="form-inline">
										    		<div class="input-group">
										    			<input class="form-control mr-sm-0" type="search" placeholder="Rechercher une card, un lieu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Rechercher une card, un lieu'" aria-label="Search">
										    			<div class="input-group-append" id="pc-category-filter-icon">
										    				<button class="btn btn-pink" type="" id="categorry-filter-button"><img src="{{ absolute_url(asset('build/images/cards-white.svg')) }}"></button>
										    			</div>
										    			<div class="dropdown-search" data-simplebar>
										    				<ul>
																	<li>
																		<a href="javascript;" data-id="all" class="pc_category_filter" data-category-image="cards-white">
																			<i class="cardsIco"><img src="/img/MAP/cards-white.svg"/></i> Tout <span>0</span>
																		</a>
																	</li>
										              {% for category in categories %}
										              <li>

										    						<a href="javascript:;" data-id="{{ category[0].id }}" class="pc_category_filter" data-category-image="{{ category[0].icon }}">
										    							<i class="fas {{ category[0].icon }}"></i> {{ category[0].name }} <span id="count-{{ category[0].icon }}"> {{ category['cardCount'] }}</span>
										    						</a>
										    					</li>
										              {% endfor %}

										    				</ul>
										    			</div>
										    		</div>
										    	</form>
										    </div>
										</div>
										<div style="height:100%; width:100%" id="map">
										</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="noResult" class="col-md-12 no-results">
							<p>Aucune Card dans cette catégorie !</p>
							<div class="noCardIco"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- Filter Cards Wrap Ends -->
		</div>
		<div class="tab-pane" id="mes-agendas">
			<div id="mes-agendas-container"></div>
		</div>
			<div class="tab-pane" id="mes-city-makers">
				<div id="mes-city-makers-container"></div>
			</div>
			<div class="tab-pane" id="parameters">...</div>
	</div>
	</div>

<div id="api-box" data-api-url="/api/maps/user-cards"
		 data-api-search-url="/api/maps/find-all-card/" data-current-location="true" data-show-sidebar="false"
></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDFjaLU8H-TpATXcUcDzKQ4w05pCQ5mAg&libraries=places" defer></script>

    <script>
        var coordinates = {};
				$(document).ready(function()
				{
					var url = window.location.href;
					var agendas = false;
					var city_maker = false;
					var parameter = false;

					url = url.split('#');
					if("undefined" != typeof url[1])
					{
						if(url[1] == "favoris")
						{
							console.log('wroe');
							$('a[href="#mes-city-makers"]').trigger('click');
						}
					}

					// Load other pages via ajax

					$('.load-page-content').click(function()
					{
						console.log('clicked');
						var link = $(this).attr('data-href');
						var id = $(this).attr('id');
						console.log(id);
						$.ajax({
							url:link,
							method: 'POST',
							success: function(e)
							{
								if( id == "mes-cards-attente-page"  && agendas == false)
								{
									$("#mes-agendas-container").html(e);
										agendas = true;
								}
								else if( id == "mes-agendas-page" && agendas == false)
								{
									$("#mes-agendas-container").html(e);
									agendas = true;
								}
								else if( id == "mes-city-maker" && city_maker == false)
								{

									$("#mes-city-makers-container").html(e);
									city_maker = true;
								}
								else if( id == "settings-page" && parameter == false)
								{

									$("#settings-container").html(e);
									$('.pc-table-payment').DataTable();
									$('.dataTables_filter > label, .dataTables_paginate').addClass('float-right');
									parameter = true;
								}
							}
						});
					});

					$(document).on('mouseenter','.titreCard', function()
					{
						$(this).find('.voirDemande').css('visibility','visible');
					});
					$(document).on('mouseleave','.titreCard', function()
					{
						$(this).find('.voirDemande').css('visibility','hidden');
					});


				});
    </script>
    <script src="{{ asset('build/js/map.js') }}"></script>
{% endblock %}

{% block javascripts_footer %}

{% endblock %}
