{% extends 'admin/pages/pages.html.twig' %}

{% block breadcrumb %}
    <li class="active">{{ 'label.pages'|trans }}</li>
{% endblock %}

{% block inner %}

    <table class="table table-striped table-middle-aligned active-datatable" data-defaultsortby="5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'label.slug'|trans }}</th>
            <th scope="col">{{ 'label.name'|trans }}</th>
            <th scope="col">{{ 'label.platform'|trans }}</th>
            <th scope="col">{{ 'label.created_at'|trans }}</th>
            <th scope="col">{{ 'label.updated_at'|trans }}</th>
            <th scope="col" class="text-center nosort"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.slug }}</td>
                <td>{{ item.name }}</td>
                <td>
                    {% if item.platform == 0 %}
                        B2C
                    {% else %}
                        B2B
                    {% endif %}
                </td>
                <td>{{ item.createdAt|localizeddate('medium', 'short') }}</td>
                <td>{{ item.updatedAt|localizeddate('medium', 'short') }}</td>

                <td class="text-right">
                    <div class="item-actions">

                        <a title="{{ 'action.edit'|trans }}" href="{{ path('admin_pages_edit', {id: item.id}) }}" class="btn btn-circle bg-pink waves-effect waves-circle waves-float">
                            <i class="material-icons">edit</i>
                        </a>
                        <form action="{{ url('admin_pages_delete', { id: item.id }) }}" method="post" class="delete-form">
                            <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                            <button type="button" title="{{ 'action.delete'|trans }}" class="btn btn-circle bg-grey waves-effect waves-circle waves-float"><i class="material-icons">delete_forever</i></button>
                        </form>

                        |&nbsp;

                        <a title="{{ 'action.view_on_website'|trans }}" href="{{ path('front_pages_index', {slug: item.slug}) }}" target="_blank" rel="noopener" class="btn btn-circle bg-green waves-effect waves-circle waves-float">
                            <i class="material-icons">open_in_new</i>
                        </a>

                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10" align="center">{{ 'text.noresults'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}