<style type="text/css">
    a[disabled="disabled"] {
        pointer-events: none;
    }
</style>
<div class="d-flex w-100">
    <div class="col-sm-6 p-0">
        <!-- Client Mission prview contents -->
        <div class="pack-offer-container col-sm-12 p-0">
            <div class="pack-offer-content bg-white p-0">
                <div class="cover-image-container text-normalgray d-flex flex-column align-items-center justify-content-center position-relative">
                    {% if mission.bannerUrl is not null or mission.bannerUrl != '' %}
                        <img src="{{ mission.bannerUrl }}" class="cover-image w-100 h-100" alt="Pack Cover Image">
                    {% else %}
                        <img src="https://via.placeholder.com/300X800?text=Banner Not Available" class="cover-image w-100 h-100" alt="Pack Cover Image"/>
                    {% endif %}
                </div>
                <div class="pack-details p-3">
                    <div class="pack-overview-container preview col-sm-12 mt-2 mb-4 pb-4">
                        <p class="text-textgray text-12 mb-0">{{ mission.referencePack.packskill.name }}</p>
                        <h5 class="text-darkgray mb-3 font-weight-bold">{{ mission.title }}</h5>
                        <p class="fz-12">
                            {{ mission.description | raw }}
                        </p>
                    </div>
                    {% if mission.documents is defined and mission.documents | length > 0  %}

                    <div class="work-documents-container preview col-sm-12 mt-2 mb-4 pb-4">
                        <h5 class="text-darkblue mb-3">Documents de travail</h5>
                        <ul class="work-documents-list m-0 p-0">
                            {% for document in mission.documents %}
                                <li class="work-documents-list-item p-3 d-flex align-items-center justify-content-between bg-lightwhite">
                                    <p class="mb-0 fz-14"><i class="far fa-file-alt fz-16 mr-2"></i>{{ document.originalName }}</p>
                                    <a href="/uploads/missions/temp/{{ document.name }}" download="{{ document.originalName }}"><i class="fas fa-download fz-16"></i></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if mission.briefFiles is not null or mission.briefFiles != '' %}
                        <div class="work-documents-container preview col-sm-12 mt-2 mb-4 pb-4">
                            <h5 class="text-darkblue mb-3">Documents de travail</h5>
                            <ul class="work-documents-list m-0 p-0">
                                <li class="work-documents-list-item p-3 d-flex align-items-center justify-content-between bg-lightwhite">
                                    <p class="mb-0 fz-14"><i class="far fa-file-alt fz-16 mr-2"></i> Brief mission {{ mission.user.firstname }}</p>
                                    <a href="{{ url('b2b_mission_download',{'id':mission.id}) }}"><i class="fas fa-download fz-16"></i></a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    <div class="financial-infos-container preview col-sm-12 mt-2 mb-4 pb-4">
                        <h5 class="text-darkblue mb-0"> Montant TTC de la mission</h5>
                        <p class="font-weight-light">Le prix de la prestation a été fixé à <strong class="font-weight-bold">{{ last_result['client_total'] |round(2, 'floor') }} € TTC</strong> par {{ mission.user.firstname~' '~mission.user.lastname }}</p>
                        <a href="/uploads/missions/temp/{{ mission.id }}/{{ mission.activelog.quotationfile }}" class="btn btn-darkblue btn-block fz-14 lh2-5" download>Télécharger le  Devis PX-{{ mission.id }}-{{ mission.activelog.id }} <span class="float-right"><i class="fas fa-download fz-16"></i></span></a>
                    </div>

                    <div class="city-maker-container preview col-sm-12 mt-2 mb-4 pb-4">
                        <h5 class="text-darkblue mb-3">Votre City-Maker</h5>
                        <div class="d-flex align-items-center">
                            <div class="city-maker-pic rounded-circle mr-4">
                                <img src="{{ mission.user.getAvatarUrl }}" class="img-fluid rounded-circle" alt="">
                            </div>
                            <div class="city-maker-info">
                                <h4 class="mb-0 font-weight-bold">{{ mission.user.firstname }}</h4>
                                <p class="mb-0">@{{ mission.user.firstname }}</p>
                                <small class="text-normalgray">AQUITAINE - ILE DE FRANCE</small>
                                {% if mission.user.userInstagramDetailsApi is not null %}
                                <div class="d-flex align-items-center mt-3">
                                    <div class="cm-publications font-weight-bold fz-16 text-center mr-3">
                                        {{ mission.user.userInstagramDetailsApi.noOfPosts }}
                                        <span class="fz-12 d-block font-weight-normal">
                                                            publications
                                                        </span>
                                    </div>
                                    <div class="cm-subscribers font-weight-bold fz-16 text-center mr-3">
                                        {{ mission.user.userInstagramDetailsApi.noOfFollowers }}
                                        <span class="fz-12 d-block font-weight-normal">
                                                            abonnés
                                                        </span>
                                    </div>
                                    <div class="cm-subscriptions font-weight-bold fz-16 text-center">
                                        {{ mission.user.userInstagramDetailsApi.noOfFollowed }}
                                        <span class="fz-12 d-block font-weight-normal">
                                                            abonnements
                                                        </span>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Client Mission prview contents ends -->
    </div>
    <div class="col-sm-6 pl-4 pr-0">
        <!-- Client mission payment content -->
        <div class="payment-info sticky-top">
            <div
                    class="col-sm-12 payment-heading d-flex align-items-center border-bottom justify-content-between pt-4">
                <h5 class="font-weight-bold">Payer en ligne</h5>
                <p></p>
                <button type="button" class="close align-self-start" aria-label="Close"
                        data-toggle="modal" data-target="#cancelMissionPayment">
                    <i class="far fa-times fz-20"></i>
                </button>
            </div>
            <div class="col-sm-12 border-bottom py-3">
                <div class="row">
                    <div class="col-sm-10">
                        <p class="mb-0">{{ mission.title }}</p>
                        <small class="fz-10">{{ mission.description | raw }}</small>
                    </div>
                    <div class="col-sm-2 text-right">{{ last_result['client_price'] | round(2, 'floor') }}€</div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-sm-4">
                        <div class="row mb-2">
                            <div class="col-sm-6 fz-14">
                                TVA
                            </div>
                            <div class="col-sm-6 text-right">
                                {{ last_result['client_tax'] | round(2, 'floor')  }} €</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 fz-14">
                                TOTAL TTC
                            </div>
                            <div class="col-sm-6 text-right">{{ last_result['client_total'] |round(2, 'floor') }} €</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form py-3">
                    <div class="row">
                        <p class="fz-10 mb-4">* Ce paiement est assimilé à un cantonnement du montant de la mission. Le paiement ne sera déclenché au city-maker que lorsque la mission sera terminée. Si elle est annulée, l’argent de ce compte de cantonnement vous sera restitué”</p>
                        <div class="col-sm-12">
                            <div class="d-flex align-items-center justify-content-end position-relative">

                                <div class="custom-control custom-checkbox " style="margin-right: 66px;">
                                    <input type="checkbox" class="custom-control-input check-all-emails float-left" id="selectAll">
                                    <label class="custom-control-label text-darkblue float-left" for="selectAll"></label>
                                    J’accepte <a href="https://docs.google.com/document/d/1UKKQBA3rl-LGjtMfJJvjTHtaDo9U1Yc2nTxFjqn4oXM/edit#heading=h.mgkbkicnug0t" target="_blank">les GGV de Pix.city Services</a>
                                </div>

                                <button type="button"
                                        class="btn btn-white-cancel text-normalgray mr-4"
                                        data-toggle="modal" data-target="#cancelMissionPayment">Annuler</button>

{#                                <button type="button" class="btn btn-darkblue disabled confirm-payment">Payer 149.00€</button>#}
                                <a href="{{ url("b2b_client_mission_process_mission_request", {'id': mission.id}) }}" class="btn btn-darkblue disabled" id="term-condition">Payer {{ last_result['client_total'] |round(2, 'floor') }} €</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Client mission payment content ends -->
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#selectAll").on('click',function () {
            if($(this).prop("checked") == true){
                $("#term-condition").removeClass('disabled');
            }
            else if($(this).prop("checked") == false){
                $("#term-condition").addClass('disabled');
            }
            console.log($(this).prop("checked"));
        });

    });
</script>
