{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="row" style="margin-top:100px;margin-left:10px;">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                {{ form_row(form.search) }}
            </div>
            <div class="form-group">
                {{ form_row(form.region) }}
            </div>
            <div class="form-group">
                {{ form_row(form.skill) }}
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                {% for user in users %}
                    <div class="col-md-4 text-center" style="padding:5px">
                        <img src="{{ user.getAvatarUrl() }}" style="height:150px;width:150px;" />
                        <div class="row">
                            <h4>{{ user }}</h4>
                            <p class="col-md-12">
                                {{ user.userRegion.first.name }}
                            </p>
                            <p class="col-md-12">
                                Pack Influencer:
                            </p>
                            {% if user.userPacks is defined and user.userPacks is not empty %}
                                <p class="col-md-12">
                                    Pack Photo: {{ user.userPacks.first.packPhotos }}
                                </p>
                            {% endif %}
                            <p class="col-md-12">
                                <a href="#" class="btn btn-primary btn-lg">DECOUVRIR TOUS SES PACKS</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
