{% extends 'b2b/base.html.twig' %}

{% block body %}
    <style>
        .user-avatar-field {
            position: relative;
        }
        .portraitCompte {
            display: block;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: solid 2px #038090;
            overflow: hidden;
            position: relative;
            text-align: center;
            margin: 20px auto;
            background-size: cover;
            cursor: pointer;
        }

        .user-avatar-field .file-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 3;
            cursor: pointer;
        }

        .user-avatar-field .field {
            position: absolute;
            opacity: 0;
        }

        .user-avatar-field {
            position: relative;
        }

        .portraitCompte .label {
            color: #fff;
            background-color: #038090;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 10px;
            -webkit-transition: all ease 0.3s;
            transition: all ease 0.3s;
        }

    </style>

    {% if app.session.has('login_by')  %}
        {% set loginDetails = app.session.get('login_by')   %}
        {% set loginBy = loginDetails['type'] %}
    {% else %}
        {% set loginBy = 'not-login'   %}
    {% endif %}

    <nav class="navbar navbar-expand-lg fixed-top shadow-sm nav-bar-main">
        <div class="container">
            <a class="navbar-brand" href="{{ path('prestations_de_serviceindex') }}"><img src="/assets/images/services-home-banner-logo.svg" alt="Pix.City Services"></a>

            <div class="col-3 ml-auto social-mobile">
                <div class="row">
                    <div class="col-6 social-mobile-btn">
                        <a href="javascript:;" title="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="col-6 social-mobile-btn">
                        <a href="javascript:;" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <img src="{{ absolute_url(asset('build/images/menu.svg')) }}" />
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

                {% if loginBy == 'not-login' %}
                    <div class="col-md-5 ml-auto mt-2 mt-lg-0">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-rollover btn-outline-seagreen btn-pill btn-block btn-icon-right my-2 my-sm-0 city-maker" id="devenir-city-maker" type="submit"><span class="text">Devenir City Maker</span><i class="fas fa-user-plus"></i></button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-rollover btn-green btn-pill btn-block my-2 my-sm-0" type="submit" id="on-login-click"><span class="text">Connexion</span><i class="fas fa-sign-in-alt"></i></button>
                            </div>
                            <div class="col-md-1 col-6 social-btn">
                                <a href="https://www.facebook.com/pix.city.france/" title="Facebook" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <div class="col-md-1 col-6 social-btn">
                                <a href="https://www.instagram.com/pix_city/" title="Instagram" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}


                    {% if loginBy == 'login_client' %}
                        <div class="col-md-3 ml-auto mt-2 mt-lg-0 pr-0 ">
                            <div class="row">
                                <div class="col-md-8 logged-profile-menu-hover">
                                    <a href="javascript:;" class="logged-profile">
                                        {% if loginDetails['entity'].profilePhoto is defined and loginDetails['entity'].profilePhoto is not null  %}
                                            <img  src="{{ asset('/uploads/clients/'~loginDetails['entity'].id~'/'~loginDetails['entity'].profilePhoto) | imagine_filter('user_avatar') }}"  class="rounded-circle"/>
                                        {% else %}
                                            <img src="/uploads/avatars/default-avatar.png" alt=""  class="rounded-circle"/>
                                        {% endif %}

                                    </a>
                                    <div class="logged-dropdown-menu">
                                        <div class="card">
                                            <div class="card-body p-0">
                                                <a class="dropdown-item switch-account switch-account-mode" href="{{ path('front_user_switch_mode') }}">MON COMPTE CLIENT &nbsp;<i class="fas"></i></a>
                                                <a class="dropdown-item" href="{{ path('b2b_client_main_index') }}"><i class="fas fa-home"></i>Accueil</a>
                                                <a class="dropdown-item" href="{{ path('b2b_client_mission_list') }}"><i class="fas fa-briefcase"></i>Mes missions</a>
                                                <a class="dropdown-item" href="{{ path('client_transaction_index') }}"><i class="fas fa-file-invoice-dollar"></i>Facturation</a>
                                                <a class="dropdown-item" href="{{ path('client_email_inbox') }}"><i class="fas fa-envelope"></i>Email</a>
                                                <a class="dropdown-item" href="/client/signout"><i class="fas fa-power-off"></i>Deconnexion</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-6 social-btn logged-social-btn">
                                    <a href="https://www.facebook.com/pix.city.france/" title="Facebook" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </div>
                                <div class="col-md-2 col-6 social-btn logged-social-btn">
                                    <a href="https://www.instagram.com/pix_city/" title="Instagram" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% elseif loginBy == 'login_cm' %}
                        <div class="col-md-3 ml-auto mt-2 mt-lg-0 pr-0 ">
                            <div class="row">
                                <div class="col-md-8 logged-profile-menu-hover">
                                    <a href="javascript:;" class="logged-profile">
                                        {% set date = loginDetails['entity'].avatar.updatedAt | date('Y/m') %}
                                        <img src="{% if loginDetails['image'] is defined and loginDetails['image'] is not null %}{{ asset('uploads/users/'~date~'/'~loginDetails['image']) | imagine_filter('user_avatar') }} {% else %}/uploads/avatars/default-avatar.png{% endif %}" class="rounded-circle" alt="{{ loginDetails['entity'] }}">
                                    </a>
                                    <div class="logged-dropdown-menu">
                                        <div class="card">
                                            <div class="card-body p-0">
                                                {% if loginDetails['entity'].viewMode == "pixie" %}
                                                    <a class="dropdown-item switch-account switch-account-mode" href="{{ path('front_user_switch_mode') }}">MON COMPTE CITY-MAKER <i class="fas fa-retweet"></i></a>
                                                    <a class="dropdown-item" href="{{ path('front_pixie_account_cards_projects') }}"><i class="fas fa-download"></i>Demandes de cards</a>
                                                    <a class="dropdown-item" href="{{ path('front_pixie_account_cards_status') }}"><i class="fas fa-pause-circle"></i>Cards en attente</a>
                                                    <a class="dropdown-item" href="{{ path('front_pixie_account_cards_validated') }}"><i class="far fa-check-circle"></i>Cards Validees</a>
                                                    <a class="dropdown-item" href="{{ path('front_pixie_account_cards_payments') }}"><i class="fas fa-euro-sign"></i>Mes rémunérations</a>
                                                    <a class="dropdown-item" href="{{ path('front_pixie_account_settings') }}"><i class="fas fa-cog"></i>Parametres</a>
                                                    <a class="dropdown-item" href="/connexion/signout"><i class="fas fa-power-off"></i>Deconnexion</a>
                                                    {% if loginDetails['entity'].getB2bCmApproval() != "0" %}
                                                        {% if loginDetails['entity'].getB2bCmApproval() == "2" or loginDetails['entity'].getB2bCmApproval() == null %}
                                                            {% if loginDetails['entity'].getCmUpgradeB2bDate()  != null %}
                                                                <a class="dropdown-item user-link p-3 d-flex" href="/city-maker/compte/parametres">
                                                                    <div class="col-3 pl-0">
                                                                        <img src="{{ absolute_url('/assets/images/header-drop-service-person.svg') }}">
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <div class="row">
                                                                            <div class="col-12">Espace Services</div>
                                                                            <div class="col-12">
                                                                                <img src="/assets/images/footer-logo-main.svg" width="58">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-3 right-arrow d-flex align-items-center justify-content-end text-right pr-0">
                                                                        <i class="fas fa-arrow-right"></i>
                                                                    </div>
                                                                </a>
                                                            {% endif %}
                                                        {% else %}
                                                            <a class="dropdown-item user-link-logged p-3 d-flex" href="{{ url('b2b_community_manager_index') }}">
                                                                <div class="col-9 pl-0">
                                                                    Espace BtoB <img src="/assets/images/footer-logo-main.svg" width="58">
                                                                </div>
                                                                <div class="col-3 right-arrow d-flex align-items-center justify-content-end text-right pr-0">
                                                                    <i class="fas fa-arrow-right"></i>
                                                                </div>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}

                                                    <a class="dropdown-item switch-account switch-account-mode" href="{{ path('front_user_switch_mode') }}">MON COMPTE VOYAGEUR <i class="fas fa-retweet"></i></a>
                                                    <a class="dropdown-item" href="{{ path('front_user_account_cards') }}"><i class="fas fa-cog"></i>Mes Cards</a>
                                                    <a class="dropdown-item" href="{{ path('front_user_account_agendas') }}"><i class="far fa-calendar-alt"></i>Mes Agendas</a>
                                                    <a class="dropdown-item" href="{{ path('front_user_account_pixies') }}"><i class="far fa-user"></i>Mes City-makers Favoris</a>
                                                    <a class="dropdown-item" href="{{ path('front_user_account_settings') }}"><i class="fas fa-cog"></i>Parametres</a>
                                                    <a class="dropdown-item" href="{{ path('front_signout') }}"><i class="fas fa-power-off"></i>Deconnexion</a>

                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-6 social-btn logged-social-btn">
                                    <a href="https://www.facebook.com/pix.city.france/" title="Facebook" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </div>
                                <div class="col-md-2 col-6 social-btn logged-social-btn">
                                    <a href="https://www.instagram.com/pix_city/" title="Instagram" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </nav>

    <div class="login-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 login-content d-flex align-items-center">
                    <div class="row w-100">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="welcome-log">
                                <img src="/images/login-welcome-mail.png" width="64" height="70" class="m-auto d-block mb-3">
                                <h4 class="fz-28 font-weight-bold text-center">Bienvenue sur Pix.City Services !</h4>
                                <p class="text-center">Tout est bon ! Regardez votre boîte mail. </p>
                                <p class="my-5 text-center">Vous êtes désormais inscrit en tant que Client sur Pix.City Services. Vous allez pouvoir trouver le city-maker qui vous convient ! Bonne navigation ! </p>
                                <div class="row">
                                    <div class="col-md-12 mb-4 text-center">
                                        <a href="{{ path('b2b_client_auth_redirect_page') }}" class="btn btn-pink btn-pill mx-auto lh2">Continuer</a>
                                    </div>
                                </div>
{#                                <div class="row">#}
{#                                    <a href="{{ path('b2b_client_auth_redirect_page') }}" class="mx-auto mb-5">Je n’ai pas reçu le mail de confirmation</a>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {#    <script type="text/javascript" src="{{ absolute_url(asset('build/b2b/js/client_registration.js')) }}"></script>#}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="{{ asset('build/front/js/pages/client-register.js') }}"></script>

    <script>
        /* custom per page scripts */
        $('input').keyup(function() {
            if ($(this).val() == '') {
                $(this).removeClass('font-weight-bold');
            }else{
                $(this).addClass('font-weight-bold');
            }
        });
    </script>
{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}

{% endblock %}