{% extends 'b2b/base.html.twig' %}
{#{% extends 'b2b/client/base.html.twig' %}#}
{% block body_class %}{{ parent() }} home bgPictos{% endblock %}
{% block meta_title %}{{ blogSingle[0].metaTitle }}{% endblock %}
{% block meta_description %}{{ blogSingle[0].metaDesc }}{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" type="text/css" href="{{ absolute_url('/assets/css/faqs/all.min.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ absolute_url('/assets/css/faqs/plugins-bundle.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ absolute_url('/assets/css/faqs/style.css') }}">
 {% endblock %}
{% block body %}
    {% embed '/v2/_shared/header_faq.html.twig' %}{% endembed%}
    <div class="blog-post-page">
        <!-- Blog post banner -->
        <div class="d-flex align-items-center justified-content-center mb-5 blog-post-banner" style="min-height: 350px!important;background-image: url({{ asset('/uploads/blog_images/'~blogSingle[0].id~'/'~blogSingle[0].bannerImage) | imagine_filter('bg_card_item') }});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex align-items-center justified-content-center">
                        <h1 class="title font-weight-bold"><span>{{ blogSingle[0].title }}</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog post banner -->
        <!-- Blog post content -->
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="blog-author">
                            <div class="author-block mb-3">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-4 col-4 author-image">
                                        <img src="https://www.pix.city/media/cache/user_avatar_large/uploads/users/34069693903b46a549d8b409f98581bf.jpeg" class="rounded-circle" alt="Julien Wolff">
                                    </div>
                                    <div class="col-md-8 col-8 font-weight-bold author-name">
                                        {{ blogSingle[0].createdBy }} <span>Founder</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 blog-post-content mb-5">
                       {{ blogSingle[0].content|raw }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog post content -->
    </div>
    {% embed '/v2/_shared/footer_faq.html.twig' %}{% endembed%}
{% endblock %}
