{% extends 'b2b/base.html.twig' %}
{#{% extends 'b2b/client/base.html.twig' %}#}
{% block body_class %}{{ parent() }} home bgPictos{% endblock %}
{% block meta_title %}{{ blogSingle[0].metaTitle }}{% endblock %}
{% block meta_description %}{{ blogSingle[0].metaDesc }}{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" type="text/css" href="{{ absolute_url('/assets/css/faqs/all.min.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ absolute_url('/assets/css/faqs/plugins-bundle.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ absolute_url('/assets/css/faqs/style.css') }}">
 {% endblock %}
{% block body %}
    {% embed '/v2/_shared/header_faq.html.twig' %}{% endembed%}
    <div class="blog-post-page">
        <!-- Blog post banner -->
        <div class="d-flex align-items-center justified-content-center mb-5 blog-post-banner" style="background-image: url({{ asset('/uploads/blog_images/'~blogSingle[0].id~'/'~blogSingle[0].bannerImage) | imagine_filter('bg_header_slider') }});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex align-items-center justified-content-center">
                        <h1 class="title font-weight-bold"><span>{{ blogSingle[0].title }}</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog post banner -->
        <!-- Blog post content -->
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="blog-author">
                            <div class="author-block mb-3">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-4 col-4 author-image">
                                        {% if blogSingle[0].createdBy.profilePhoto %}
                                            <a href="{{ blogSingle[0].createdBy.linkedinProfile }}" target="_blank">
                                                <img src="{{ asset('/uploads/admin/'~blogSingle[0].createdBy.id~'/'~blogSingle[0].createdBy.profilePhoto)| imagine_filter('user_avatar' )}}" class="rounded-circle" alt="{{ blogSingle[0].createdBy }}">
                                            </a>
                                        {% else %}
                                            <img src="https://www.pix.city/media/cache/user_avatar_large/uploads/users/34069693903b46a549d8b409f98581bf.jpeg" class="rounded-circle" alt="Julien Wolff">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-8 col-8 font-weight-bold author-name">
                                        <a href="{{ blogSingle[0].createdBy.linkedinProfile }}" target="_blank">
                                            {{ blogSingle[0].createdBy }} <span>Founder</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 blog-post-content mb-5">
                        <button class="btn btn-outline-primary" data-sharer="facebook" data-hashtag="{{ blogSingle[0].title }}" data-url="{{ absolute_url(path('front_card_single', {slug: blogSingle[0].slug,id:blogSingle[0].id})) }}"><i class="fab fa-facebook-square"></i> <span>Share on Facebook</span></button>
                        <button class="btn btn-outline-primary" data-sharer="twitter" data-title="{{ blogSingle[0].title }}" data-hashtags="awesome, sharer.js" data-url="{{ absolute_url(path('front_card_single', {slug: blogSingle[0].slug,id:blogSingle[0].id})) }}"><i class="fab fa-twitter"></i> <span>Share on Twitter</span></button>
                        <button class="btn btn-outline-primary" data-sharer="linkedin" data-url="{{ absolute_url(path('front_card_single', {slug: blogSingle[0].slug,id:blogSingle[0].id})) }}"><i class="fab fa-linkedin"></i> <span>Share on Linkedin</span></button>
                        <hr> <br/>
                        <br/>
                       {{ blogSingle[0].content|raw }}
                        <br/>
                        <br/>
                        <button class="btn btn-outline-primary" data-sharer="facebook" data-hashtag="{{ blogSingle[0].title }}" data-url="{{ absolute_url(path('front_card_single', {slug: blogSingle[0].slug,id:blogSingle[0].id})) }}"><i class="fab fa-facebook-square"></i> <span>Share on Facebook</span></button>
                        <button class="btn btn-outline-primary" data-sharer="twitter" data-title="{{ blogSingle[0].title }}" data-hashtags="awesome, sharer.js" data-url="{{ absolute_url(path('front_card_single', {slug: blogSingle[0].slug,id:blogSingle[0].id})) }}"><i class="fab fa-twitter"></i> <span>Share on Twitter</span></button>
                        <button class="btn btn-outline-primary" data-sharer="linkedin" data-url="{{ absolute_url(path('front_card_single', {slug: blogSingle[0].slug,id:blogSingle[0].id})) }}"><i class="fab fa-linkedin"></i> <span>Share on Linkedin</span></button>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog post content -->
    </div>
    <div class="row">
        <div class="col-sm-4">
            {% if prevNextType['prev'] is defined %}
                <div class="text-center mb-3">
                    <a href="{{ path('front_blog_single', {slug: prevNextType['previd'][0].slug, id:prevNextType['previd'][0].id}) }}" title="{{ prevNextType['previd'][0].title }}" class="btn btn-outline-darkblue btn-pill"><i class="fa fa-chevron-left" aria-hidden="true"> </i> Previous
                        </a>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <div class="text-center mb-3">
                <a href="/blog" title=""  class="btn btn-outline-darkblue btn-pill"><i class="fa fa-home" aria-hidden="true"></i>
                     Revenir sur la Home</a>
            </div>
        </div>
        <div class="col-sm-4">
            {% if prevNextType['next'] is defined %}
                <div class="text-center mb-3">
                    <a href="{{ path('front_blog_single', {slug: prevNextType['nextid'][0].slug, id:prevNextType['nextid'][0].id}) }}" title="{{ prevNextType['nextid'][0].title }}" class="btn btn-outline-darkblue btn-pill">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    {% embed '/v2/_shared/footer_faq.html.twig' %}{% endembed%}
{% endblock %}
