{% extends 'admin/page.html.twig' %}
{% form_theme form 'admin/_forms/fields.html.twig' %}
{% block content %}
    <ol class="breadcrumb breadcrumb-col-teal">
        <li><a href="{{ path('admin_dashboard_index') }}"><i class="material-icons">home</i> Accueil</a></li>
        <li class="active">{{ 'label.blogpost'|trans }}</li>
    </ol>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        {{ 'label.blogpost'|trans }}
                    </h2>
                    <a href="{{ path('admin_blog_post_index') }}" class="btn btn-green">back to list</a>
                    {{ include('admin/b2b/blog_post/_delete_form.html.twig') }}
                </div>
                <div class="body">
                    {{ include('admin/b2b/blog_post/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    </div>
    {% embed "front/_modals/image-crop.html.twig" %}{% endembed %}

    <div id="api-routes"
         data-upload-route="{{ path('admin_blog_ajax_upload') }}"
    ></div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/admin/js/pages/cards.js') }}"></script>
{% endblock %}
