{% extends 'b2b/client/base.html.twig' %}

{% import 'b2b/shared/macros.html.twig' as macros %}
{% block title %}Client | Home {% endblock %}

{% block body %}

    <!-- my billing -->
    <div class="tab-pane active" id="billing" role="tabpanel">
        <div class="col-md-12 tab-content-header bg-white d-flex justify-content-between align-items-center p-3 shadow-sm">
            <div class="d-flex align-items-center fz-20 text-darkblue"><i class="fas fa-file-invoice-dollar fz-30 mr-2"></i> Facturation</div>
            {% embed 'b2b/shared/_notification_header.html.twig' with {'notifications':notifications} %}{% endembed %}

        </div>
        <div class="col-md-12 tab-pane-content p-4">
            {% if missions is not empty %}
            <table class="table table-sm table-borderless my-billings-list-table">
                <thead>
                <tr class="text-normalgray fz-12">
                    <th class="font-weight-normal w-5"><span class="sr-only">Mission filetype</span></th>
                    <th class="font-weight-normal w-30">Nom du fichier </th>
                    <th class="font-weight-normal w-15">Date d’émission</th>
                    <th class="font-weight-normal w-15">Dernière modification</th>
                    <th class="font-weight-normal w-15">Montant</th>
                    <th class="font-weight-normal w-15">Statut du paiement</th>
                    <th class="font-weight-normal w-5"><span class="sr-only">Mission actions</span></th>
                </tr>
                </thead>
                <tbody>

                {% for mission in missions %}

                    {% if mission.getMissionType == 'one-shot' and mission.getStatus == 'terminated' %}

                        <tr class="text-darkgray fz-14">
                            <td valign="middle" class="text-center">
                                <i class="far fa-file-alt fz-25"></i>
                            </td>
                            <td valign="middle">PX-{{ mission.id }}-{{ mission.createdAt | date('dmy') }}</td>
                            <td valign="middle">{{ mission.createdAt | date('d/m/Y') }}</td>
                            <td valign="middle">{{  mission.updatedAt | date('d/m/Y') }}</td>
                            {% if mission.isTvaApplicable is not null %}
                                <td valign="middle">{{ mission.userMissionPayment.clientTotal |round }} €</td>
                            {% else %}
                                <td valign="middle">{{ (mission.userMissionPayment.clientTotal - mission.userMissionPayment.clientTax) | round }} €</td>
                            {% endif %}
                            <td valign="middle"><span class="text-inprogress">Terminé</span></td>
                            <td valign="middle">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:;" class="text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none check-the-quote" data-id="{{ mission.id }}" data-type="one-shot"><i class="fas fa-eye fz-16"></i></a>
                                    <a href="/client/download/invoice/{{ mission.id }}/{{ mission.getClientInvoice() }}/client" class="text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none"><i class="fas fa-download fz-16"></i></a>
                                </div>
                            </td>
                        </tr>

                    {% elseif mission.getMissionType == 'recurring' or mission.getStatus == 'terminated' or mission.getStatus == 'ongoing' %}


                        {% if mission.getMissionPriceLogs() is not empty %}
                            {% for priceLog in mission.getMissionPriceLogs  %}
                                {% if priceLog.cycle != 1 %}
                                    <tr class="text-darkgray fz-14">
                                        <td valign="middle" class="text-center">
                                            <i class="far fa-file-alt fz-25"></i>
                                        </td>
                                        <td valign="middle">PX-{{ priceLog.mission.id }}-{{ mission.createdAt | date('dmy') }}-{{ priceLog.createdAt | date('m-y') }}</td>
                                        <td valign="middle">{{ priceLog.createdAt | date('d/m/Y') }}</td>
                                        <td valign="middle">{{  priceLog.updatedAt | date('d/m/Y') }}</td>
                                        {% if priceLog.mission.isTvaApplicable is not null %}
                                            <td valign="middle">{{ priceLog.mission.getActiveLogById(priceLog.getActivePrice).getUserBasePrice | price(margin,tax,true) }} €</td>
                                        {% else %}
                                            <td valign="middle">{{ priceLog.mission.getActiveLogById(priceLog.getActivePrice).getUserBasePrice | price(margin,0,false) }} €</td>
                                        {% endif %}
                                        <td valign="middle"><span class="text-inprogress">Terminé</span></td>
                                        <td valign="middle">
                                            <div class="d-flex align-items-center">
                                                <a href="javascript:;" class="text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none check-the-quote" data-id="{{ mission.id }}" data-type="recurring" data-cyle="{{ priceLog.cycle - 1 }}" data-log="{{ priceLog.getActivePrice.id }}"><i class="fas fa-eye fz-16"></i></a>
                                                <a href="/client/download/invoice/{{ mission.id }}/{{ priceLog.getClientInvoice() }}/client" class="text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none"><i class="fas fa-download fz-16"></i></a>
                                            </div>
                                        </td>
                                    </tr>

                                {% else %}

                                    {% if mission.getMissionType == 'recurring' and mission.getStatus == 'terminated' %}

                                        <tr class="text-darkgray fz-14">
                                            <td valign="middle" class="text-center">
                                                <i class="far fa-file-alt fz-25"></i>
                                            </td>
                                            <td valign="middle">PX-{{ mission.id }}-{{ mission.createdAt | date('dmy') }}</td>
                                            <td valign="middle">{{ mission.createdAt | date('d/m/Y') }}</td>
                                            <td valign="middle">{{  mission.updatedAt | date('d/m/Y') }}</td>
                                            {% if priceLog.mission.isTvaApplicable is not null %}
                                                <td valign="middle">{{ priceLog.mission.getActiveLogById(priceLog.getActivePrice).getUserBasePrice | price(margin,tax,true) }} €</td>
                                            {% else %}
                                                <td valign="middle">{{ priceLog.mission.getActiveLogById(priceLog.getActivePrice).getUserBasePrice | price(margin,0,false) }} €</td>
                                            {% endif %}
                                            <td valign="middle"><span class="text-inprogress">Terminé</span></td>
                                            <td valign="middle">
                                                <div class="d-flex align-items-center">
                                                    <a href="javascript:;" class="text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none check-the-quote" data-id="{{ mission.id }}" data-type="one-shot"><i class="fas fa-eye fz-16"></i></a>
                                                    <a href="/client/download/invoice/{{ mission.id }}/{{ mission.getClientInvoice() }}/client" class="text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none"><i class="fas fa-download fz-16"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                    {% endif %}

                                {% endif %}
                            {% endfor %}
                        {% endif %}


                    {% endif %}


                {% endfor %}






                </tbody>
            </table>

            {% else %}

                <div class="col-md-12 tab-pane-content d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column justify-content-center w-50 align-items-center text-center">
                        <div class="w-35">
                            <img class="img-fluid" src="/images/dash-mymissions-empty.png"
                                 alt="My Missions">
                        </div>
                        <h4 class="mt-4 text-darkblue">Espace facturation</h4>
                        <p> Vous trouverez ici les factures correspondantes à vos missions. Pour rappel une facture est
                            émise et sera disponible lorsque la mission est terminée, c’est à dire terminée côté
                            city-maker et validée de votre côté aussi. La facture est faite au nom du city-maker avec qui
                            vous avez contractualisé. Ayant effectué un paiement de cantonnement lors de la signature
                            du devis, le montant final de la mission sera envoyé au city-maker lorsque la mission sera en statut “terminée”.
                            Pour toute question sur le fonctionnement de la plateforme, n’hésitez pas à consulter <a href="{{ path('front_faq_index') }}">notre FAQ</a>.
                        </p>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>
    <!-- my billing end here -->

{% endblock %}

{% block javascripts %}

{% endblock %}
