<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>

<body>

<div class="container">
    <div class="row">
        <!-- You can make it whatever width you want. I'm making it full width
             on <= small devices and 4/12 page width on >= medium devices -->
        <div class="">

            <h3>
                <div>Le paiement se termine <span id="time">18:00</span></div>
            </h3>
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
                <div class="panel-heading display-table" >
                    <div class="row display-tr" >
                        <h3 class="panel-title display-td" ><img src="/assets/images/services-home-banner-logo.svg" alt="" style="margin-left: 1%;margin-bottom: -4%;"></h3>
                        <div class="display-td" >
                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="cardNumber">MONTANT : {{amount}} €</label><br>
                            <label for="cardNumber">Titre de la mission : {{mission.title}}</label>
                        </div>
                    </div>
                </div>


                <div class="panel-body">
                    <form action="{{ createdCardRegister.CardRegistrationURL }}" role="form" id="payment-form" method="POST">
                        <input type="hidden" name="data" value="{{ createdCardRegister.PreregistrationData }}" />
                        <input type="hidden" name="accessKeyRef" value="{{ createdCardRegister.AccessKey }}" />
                        <input type="hidden" name="returnURL" value="{{ returnUrl }}/client/mission/process-mission-request/{{ id }}" />
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="cardNumber">NUMÉRO DE CARTE</label>
                                    <div class="input-group">
                                        <input
                                                type="tel"
                                                class="form-control"
                                                name="cardNumber"
                                                placeholder="Valid Card Number"
                                                autocomplete="cc-number"
                                                required autofocus
                                        />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="cardExpiry"><span class="hidden-xs">DATE D'EXPIRATION</span><span class="visible-xs-inline">EXP</span> </label>
                                    <input type="hidden" name="cardExpirationDate" id="expiry-date">
                                    <div class="control">
                                        <select class="span3" id="ccexpirymonth" required>
                                            <option value=""></option>
                                            <option class="extraneous" value="01">01</option>
                                            <option class="extraneous" value="02">02</option>
                                            <option class="extraneous" value="03">03</option>
                                            <option class="extraneous" value="04">04</option>
                                            <option class="extraneous" value="05">05</option>
                                            <option class="extraneous" value="06">06</option>
                                            <option class="extraneous" value="07">07</option>
                                            <option class="extraneous" value="08">08</option>
                                            <option class="extraneous" value="09">09</option>
                                            <option class="extraneous" value="10">10</option>
                                            <option class="extraneous" value="11">11</option>
                                            <option class="extraneous" value="12">12</option>
                                        </select>

                                        <select class="span2" id="ccexpiryyear" required>
                                            <option value=""></option>
                                            <option class="extraneous" value="15">15</option>
                                            <option class="extraneous" value="16">16</option>
                                            <option class="extraneous" value="17">17</option>
                                            <option class="extraneous" value="18">18</option>
                                            <option class="extraneous" value="19">19</option>
                                            <option class="extraneous" value="20">20</option>
                                            <option class="extraneous" value="21">21</option>
                                            <option class="extraneous" value="22">22</option>
                                            <option class="extraneous" value="23">23</option>
                                            <option class="extraneous" value="24">24</option>
                                            <option class="extraneous" value="25">25</option>
                                            <option class="extraneous" value="26">26</option>
                                            <option class="extraneous" value="27">27</option>
                                            <option class="extraneous" value="28">28</option>
                                            <option class="extraneous" value="29">29</option>
                                            <option class="extraneous" value="30">30</option>
                                        </select>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="cardCvx">CODE CVV2</label>
                                    <input
                                            type="password"
                                            class="form-control"
                                            name="cardCvx"
                                            placeholder="cardCvx"
                                            autocomplete="cc-csc"
                                            required
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <input class="btn btn-success btn-lg btn-block" type="submit" value="Pay" />
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="row">
                    <img src="https://www.mangopay.com/terms/powered-by-mangopay.png" alt="" style="height: 100px;margin-left: 67px;"s>
                </div>

            </div>
            <!-- CREDIT CARD FORM ENDS HERE -->


        </div>





    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>


<script type="text/javascript">

    // Total seconds to wait
    var seconds = 1080;

    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        var end =setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                window.location = "{{ returnUrl }}/client/mission/";
                clearInterval(end);
            }
        }, 1000);
    }

    window.onload = function () {
        var fiveMinutes = 1058,
            display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
    };

    $('#ccexpirymonth, #ccexpiryyear').on('change', function () {
        // Set the value of a hidden input field for Card
        $('#expiry-date').val($('#ccexpirymonth').val() + '' + $('#ccexpiryyear').val());
        // Trigger the "change" event manually
        var evt = document.createEvent('HTMLEvents');
        evt.initEvent('change', false, true);
        document.getElementById('expiry-date').dispatchEvent(evt);

    });

</script>


</body>

</html>
