{% set cate = [] %}
{% for category in item.categories %}
    {% set cate = cate|merge([category.name]) %}
{% endfor %}
<tr data-id="{{ item.id }}">
    <td><a href="{{ path('admin_cards_edit', {id: item.id}) }}" >{{ item.id }}</a></td> 
    <td>{{ item.name }}</td>
    <td><a href="{{ "https://www.pix.city/"~item.slug~".html" }}" target="blank">{{ "https://www.pix.city/"~item.slug~".html" }}</a></td>
    <td>{{cate|join(', ')}}</td>
</tr>