

<div class="container">
    <img src="/uploads/pack/banner/{{ pack.bannerImage }}" style="height:300px; width:100%"/>
    <div class="row">
        <br/>
        <p class="col-12">{{ pack.packSkill | upper }}</p>
        <p class="col-12">
        <h4> {{ pack }} </h4>
        </p>
        <p class="col-12">
            Bonjour,

            <br/><br/>
            {{ pack.description }}
        </p>
        <hr/>
        <div class="col-12">
            <div class="row">
                <div class="col-xs-4" style="margin:30px">
                    <img src="{{ pack.user.getAvatar() }}" class="rounded" style="height:75px;width:75px"/>
                </div>
                <div class="col-xs-4" style="margin:30px">
                    <small>Expertice Pix.City</small>
                    <br/>
                    {% set instagram = pack.user.instagram|split("/") %}
                    {% if instagram[3] is defined %}
                        {{ instagram[3] }}
                    {% endif %}
                </div>
                <div class="col-xs-4" style="margin:30px">
                    <small>Region</small>
                    <br/>
                    {{ pack.user.userRegion.first.name | upper }}
                </div>
                <div class="col-xs-4" style="margin:30px">
                    <small>Prix</small>
                    <br/>
                    {{ pack.totalPrice }}€
                </div>
                <div class="col-xs-2 float-right" style="margin:30px">
                    <a href="{{ url('b2b_client_pack_select',{'id':pack.id}) }}" class="btn btn-md btn-info">Choose this Pack</a>
                </div>
            </div>
        </div>
    </div>
        <div class="row d-none" id="client-mission-proposal-form">
            <div class="col-12">
                <form class="form-horizontal" action="{{ url('api_mission_send_proposal') }}" id="clientMissionProposalForm" method="POST" enctype='multipart/form-data'>
                <div class="form-group">
                    <input type="hidden" name="pack" class="form-control" value="{{ pack.id }}" />
                </div>
                <div class="form-group">
                    <label for="description">Message/Proposal</label>
                    <textarea class="form-control" name="description" maxlength="500"></textarea>
                    <small>In less than 500 characters</small>
                </div>
                <div class="form-group">
                    <label for="brief">Add a brief file</label>
                    <br>
                    <input type="file" name="brief" accept=".docx, .doc, .xls, .xlsx, .txt, .csv"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-md btn-primary" value="Send Proposal" />
                </div>
                </form>
            </div>
        </div>
        <hr/>
        <br/>
        <div class="row">
            <div class="col-xs-12">
                <h4>Photos:</h4>
                {% for media in pack.userPackMedia %}
                    <img src="/uploads/pack/{{ pack.id }}/{{ media.name }}" class="thumbnail"
                         style="height:100px; width:100px"/>
                {% endfor %}
            </div>
        </div>
        <div class="row" style="margin-top:50px">
            <div class="col-xs-12">
                <h3>Zone:</h3>
                <ul>
                    {% for region in pack.user.userRegion %}
                        <li>{{ region.name }}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
