{% extends 'b2b/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}



{% block body %}
    <link rel="stylesheet" href="{{ absolute_url(asset('build/css/dropzon.css')) }}">
    <style>
        .avatar-upload {
            position: relative;
            max-width: 205px;
            margin: 50px auto;
        }
        .avatar-upload .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
        }
        .avatar-upload .avatar-edit input {
            display: none;
        }
        .avatar-upload .avatar-edit input + label {
            display: inline-block;
            width: 34px;
            height: 34px;
            margin-bottom: 0;
            border-radius: 100%;
            background: #FFFFFF;
            border: 1px solid transparent;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            font-weight: normal;
            transition: all 0.2s ease-in-out;
        }
        .avatar-upload .avatar-edit input + label:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
        }
        .avatar-upload .avatar-edit input + label:after {
            content: "\f040";
            font-family: 'FontAwesome';
            color: #757575;
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
        }
        .avatar-upload .avatar-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        }
        .avatar-upload .avatar-preview > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .dz-preview .dz-image img{
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
        }

        img {
            width: 157px;
            height: 120px;
            margin: 12px;
            border-radius: 5px;
            transition: all 1s
        }

        img:hover {
            transform: scale(1.05);
        }

        .img-wrap {
            position: relative;
        }
        .img-wrap .close {
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 100;
        ...
        }


    </style>
    <div class="container">

        {{ form_start(form,{'attr':{'id' : 'appointment-form'}}) }}


            <div class="avatar-upload">
                <div class="avatar-edit">
                    <input type='file' id="imageUpload" name="{{ form.bannerImage.vars.full_name }}"/>
                    <label for="imageUpload" style="background-image:"></label>
                </div>
                <div class="avatar-preview">
                    <div id="imagePreview" style="background-image: url('/uploads/pack/banner/{{ pack.bannerImage }}');">
                    </div>
                </div>
            </div>

            {{ form_row(form.packSkill) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.userBasePrice) }}

            <span> <p id="actula_value"></p></span>
            {% for image in images %}
                <label for=""><img src="/uploads/community_media/{{ user.id }}/{{ image.name }}" class="img-thumbnail img-check">
                <input type="checkbox" name="cm_images[]" value="/uploads/community_meida/{{ app.user.id }}/{{ image.name }}" class="hidden" checked="checked"></label>
            {% endfor %}


            <div class="dropzone" style="margin-top: 40px">
                <h3>Images</h3>
                <div id="dropzone-custom" style="background:#fff8f8;height:350px;width:auto"></div>
            </div>
            <input name="attached_files" value="" type="hidden"/>
            <input name="banner" id="pack_bannerImage" value="" type="hidden"/>
        <br><br>
        <button type="submit" class="btn btn-block btn-primary">Submit</button>

        {{ form_end(form,{render_rest:false}) }}

    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
        <link rel="stylesheet" href="{{ absolute_url(asset('build/css/dropzone.css')) }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/js/dropzone.js') }}"></script>



    <script>

        $("#pack_userBasePrice").on('change',function(){
            var actual_price = $("#pack_userBasePrice").val();
            var after_price = parseInt(actual_price) * 20 / 100;
            console.log(after_price);
            var total = parseInt(actual_price) + parseInt(after_price);
            $("#actula_value").text('The Value after 20% added '+total);
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $("#imagePreview").css(
                        "background-image",
                        "url(" + e.target.result + ")"
                    );
                    $("#imagePreview").hide();
                    $("#imagePreview").fadeIn(650);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload").change(function() {
            readURL(this);
        });


        $('input[type="file"]').on('change', function(e)
        {
            var type = 'banner';

            var formData = new FormData();
            formData.append("file", $(this)[0].files[0]);
            //Upload the image via AJAX
            uploadFiles(formData, type);

        });


        function uploadFiles(formData, type)
        {
            $.ajax('/b2b/pack/upload',
                {
                    type: 'POST',
                    data: formData,
                    cacheable: false,
                    processData: false,
                    contentType: false,
                }).done(function(result)
            {
                $('#pack_bannerImage').val(result.fileName);

            });
        }


        var $dropZone  = $('#dropzone-custom').dropzone({
            url:'{{ path('b2b_pack_fileuploadhandler') }}',
            maxFiles: 7,
            acceptedFiles: 'image/*',
            maxFilesize: 2,  // in Mb
            addRemoveLinks: true,
            // autoProcessQueue:false,
            parallelUploads: 10,
            dictRemoveFileConfirmation:'Are you sure you want to save this image?',
            removedfile: function(file) {
                var name = file.name;

                $.ajax({
                    type: 'POST',
                    url: '{{ path('b2b_pack_delete_image') }}',
                    data: {name: name,pack_id:"{{ pack.id }}"},
                    sucess: function(data){
                        console.log('success: ' + data);
                    }
                });

                var _ref;
                if (file.previewElement) {
                    if ((_ref = file.previewElement) != null) {
                        _ref.parentNode.removeChild(file.previewElement);
                    }
                }
                return this._updateMaxFilesReachedClass();

            },
            init: function () {


                this.on("maxfilesexceeded", function(file) {
                    this.removeFile(file);
                    alert('please upload maximum 7 files');
                });
                this.on("sending", function(file, xhr, formData) {
                    // send additional data with the file as POST data if needed.
                    // formData.append("key", "value");
                });
                this.on("success", function(file, response) {

                    if (response.uploaded) {
                        var currentValue = $("#appointment-form input[name='attached_files'").val();
                        if (currentValue == '') {
                            $("#appointment-form input[name='attached_files'").val(response.fileName);
                        } else {
                            $("#appointment-form input[name='attached_files'").val(currentValue + ", " + response.fileName);
                        }
                    }

                    console.log(response);
                    if (response.uploaded)
                        console.log('File Uploaded: ' + response.fileName);
                });

                thisDropzone = this;




                $.get('{{ ('/b2b/pack/image-display/'~pack.id) }}', function(data) {

                    <!-- 5 -->
                    $.each(data, function(key,value){
                        console.log(value);
                        var mockFile = { name: value.name, size: value.size };

                        thisDropzone.options.addedfile.call(thisDropzone, mockFile);

                        thisDropzone.options.thumbnail.call(thisDropzone, mockFile, value.path);

                    });

                });
            }
        });


        $("#submitform").on('click',function(){
            $dropZone[0].dropzone.processQueue();
        });


    </script>
{% endblock %}

{% block footer_class %}simpleFooter{% endblock %}