{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .gallery-wrap .img-big-wrap img {
            height: 450px;
            width: 522px;
            display: inline-block;
            cursor: zoom-in;
        }


        .gallery-wrap .img-small-wrap .item-gallery {
            width: 60px;
            height: 60px;
            border: 1px solid #ddd;
            margin: 7px 2px;
            display: inline-block;
            overflow: hidden;
        }

        .gallery-wrap .img-small-wrap {
            text-align: center;
        }
        .gallery-wrap .img-small-wrap img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 4px;
            cursor: zoom-in;
        }
    </style>
    <div class="card">
        <div class="row">

            <aside class="col-sm-5 border-right">
                <article class="gallery-wrap">
                    <div class="img-big-wrap">
                        <div> <a href="#"><img src="{{ '/uploads/pack/banner/'~pack.bannerImage }}" width="100px"></a></div>
                    </div> <!-- slider-product.// -->
                    <div class="img-small-wrap">
                        {% for image in images  %}
                            <div class="item-gallery">
                                <img src="{{ '/uploads/pack/'~pack.id~'/'~image.name }}">
                            </div>
                        {% endfor %}

                    </div> <!-- slider-nav.// -->
                </article> <!-- gallery-wrap .end// -->
            </aside>

            <aside class="col-sm-7">
                <article class="card-body p-5">
                    <h3 class="title mb-3">{{ pack.title }}</h3>

                    <p class="price-detail-wrap">
                    <span class="price h3 text-warning">
                        <span class="currency">Price €</span><span class="num">{{ pack.userBasePrice }}</span>
                    </span>

                    </p> <!-- price-detail-wrap .// -->
                    <dl class="item-property">
                        <dt>Description</dt>
                        <dd><p>{{ pack.description }}</p></dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt>Skill#</dt>
                        <dd>{{ pack.packSkill.name }}</dd>
                    </dl>  <!-- item-property-hor .// -->



                    <a href="{{ path('b2b_pack_list') }}" class="btn btn-lg btn-primary text-uppercase"> Back </a>
                </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
{% endblock %}

{% block javascripts %}

{% endblock %}