<nav class="navbar navbar-expand-lg fixed-top nav-bar-main">
	<div class="container">
		<a class="navbar-brand" href="/"><img src="{{ absolute_url(asset('build/images/header-logo-main.svg')) }}" alt="Pix.City"></a>
		<div class="col-3 ml-auto social-mobile">
			<div class="row">
				<div class="col-6 social-mobile-btn">
					<a href="https://www.facebook.com/pix.city.france/" title="Facebook" target="_blank">
						<i class="fab fa-facebook-f"></i>
					</a>
				</div>
				<div class="col-6 social-mobile-btn">
					<a href="http://instagram.com/pix_city" title="Instagram"  target="_blank">
						<i class="fab fa-instagram"></i>
					</a>
				</div>
			</div>
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		<img src="{{ absolute_url(asset('build/images/menu.svg')) }}" />
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
			<div class="col-md-5 ml-auto mt-2 mt-lg-0">
				<div class="row">
					<div class="col-md-6">
						<button class="btn btn-rollover btn-outline-gray btn-pill btn-block btn-icon-right my-2 my-sm-0 city-maker" type="submit" id="pc-city-maker-lp"><span class="text">Devenir City-Maker </span><i class="fas fa-user-plus"></i></button>
					</div>
					<div class="col-md-4">
						<button class="btn btn-rollover btn-green btn-pill btn-block my-2 my-sm-0" type="submit" id="pc-login-page"><span class="text">Connexion</span><i class="fas fa-sign-in-alt"></i></button>
					</div>
					<div class="col-md-1 col-6 social-btn">
						<a href="https://www.facebook.com/pix.city.france/" title="Facebook" target="_blank">
							<i class="fab fa-facebook-f"></i>
						</a>
					</div>
					<div class="col-md-1 col-6 social-btn">
						<a href="https://www.instagram.com/pix_city/" title="Instagram" target="_blank">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>
			</div>
			{% else %}
			<div class="col-md-3 ml-auto mt-2 mt-lg-0 pr-0 ">
				<div class="row">
					<div class="col-md-8 logged-profile-menu-hover">
						<a href="javascript:;" class="logged-profile">
							<img src="{% if app.user.getAvatarUrl() is defined and app.user.getAvatarUrl() is not null %}{{ app.user.getAvatarUrl() | imagine_filter('user_avatar') }} {% else %}/uploads/avatars/default-avatar.png{% endif %}" class="rounded-circle" alt="{{app.user }}">
						</a>
						<div class="logged-dropdown-menu">
							<div class="card">
									<div class="card-body p-0">
										{% if app.user.viewMode == "pixie" %}

											<a class="dropdown-item switch-account switch-account-mode" href="{{ path('front_user_switch_mode') }}">MON COMPTE CITY-MAKER <i class="fas fa-retweet"></i></a>
											<a class="dropdown-item" href="{{ path('front_pixie_account_cards_projects') }}"><i class="fas fa-download"></i>Demandes de cards</a>
											<a class="dropdown-item" href="{{ path('front_pixie_account_cards_status') }}"><i class="fas fa-pause-circle"></i>Cards en attente</a>
											<a class="dropdown-item" href="{{ path('front_pixie_account_cards_validated') }}"><i class="far fa-check-circle"></i>Cards Validees</a>
											<a class="dropdown-item" href="{{ path('front_pixie_account_cards_payments') }}"><i class="fas fa-euro-sign"></i>Mes rémunérations</a>
											<a class="dropdown-item" href="{{ path('front_pixie_account_settings') }}"><i class="fas fa-cog"></i>Parametres</a>
											<a class="dropdown-item" href="/connexion/signout"><i class="fas fa-power-off"></i>Deconnexion</a>
											{% if card | length != 0 %}
												<a class="dropdown-item" href="{{ path('front_pixie_account_community_manager') }}"><i class="fas fa-user"></i>Community Page</a>
											{% endif %}
											<a class="dropdown-item" href="/community-manager/profile"><i class="fas fa-user"></i>Espace BtoB Pix City -></a>
                                        {% else %}

											<a class="dropdown-item switch-account switch-account-mode" href="{{ path('front_user_switch_mode') }}">MON COMPTE VOYAGEUR <i class="fas fa-retweet"></i></a>
											<a class="dropdown-item" href="{{ path('front_user_account_cards') }}"><i class="fas fa-cog"></i>Mes Cards</a>
											<a class="dropdown-item" href="{{ path('front_user_account_agendas') }}"><i class="far fa-calendar-alt"></i>Mes Agendas</a>
											<a class="dropdown-item" href="{{ path('front_user_account_pixies') }}"><i class="far fa-user"></i>Mes City-makers Favoris</a>
											<a class="dropdown-item" href="{{ path('front_user_account_settings') }}"><i class="fas fa-cog"></i>Parametres</a>
											<a class="dropdown-item" href="{{ path('front_signout') }}"><i class="fas fa-power-off"></i>Deconnexion</a>
											<a class="dropdown-item" href="/community-manager/profile"><i class="fas fa-user"></i>Espace BtoB Pix City -></a>
                                        {% endif %}
									</div>
								</div>
						</div>
					</div>
					<div class="col-md-2 col-6 social-btn logged-social-btn">
						<a href="https://www.facebook.com/pix.city.france/" title="Facebook" target="_blank">
							<i class="fab fa-facebook-f"></i>
						</a>
					</div>
					<div class="col-md-2 col-6 social-btn logged-social-btn">
						<a href="https://www.instagram.com/pix_city/" title="Instagram" target="_blank">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>
			</div>

			{% endif %}
		</div>
	</div>
</nav>
