<nav class="navbar navbar-expand-lg fixed-top nav-bar-main internal-nav">
    <div class="container">
        <a class="navbar-brand" href="{{ url('front_homepage_index') }}"><img src="{{ absolute_url(asset('build/images/header-logo-main.svg')) }}" alt="Pix.City"></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <img src="{{ absolute_url(asset('build/images/menu.svg')) }}" />
        </button>
        <div class="col-1 text-center close-inetrnal-nav-mobile">
            <a href="{{ url('front_homepage_index') }}">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <div class="col-md-12 ml-auto mt-2 mt-lg-0">
                <div class="internal-pages-nav">
                    <ul>
                        <li>
                            <a href="javascript:;" class="active">Mes Cards</a>
                        </li>
                        <li>
                            <a href="javascript:;">Mes Agendas</a>
                        </li>
                        <li>
                            <a href="javascript:;">Mes City-Makers</a>
                        </li>
                        <li>
                            <a href="javascript:;">Parameters</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-1 text-center close-inetrnal-nav">
            <a href="{{ url('front_homepage_index') }}">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
</nav>