<!DOCTYPE html>
<html lang="en">

<head>
    <title> Pix.City</title>
    <meta charset="utf-8" />
    <!-- <link href="images/favicon.ico" rel="icon" type="image/png" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style type="text/css">
        /* CSS for this page only */

        /* Plugins styles only for this page */
        /*!
        * Bootstrap v4.3.1 (https://getbootstrap.com/)
        * Copyright 2011-2019 The Bootstrap Authors
        * Copyright 2011-2019 Twitter, Inc.
        * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
        */p{margin-bottom:1rem}body{color:#212529}body{text-align:left}.navbar-brand{white-space:nowrap}:root{--blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#6c757d;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}*,:after,:before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;font-size:1rem;font-weight:400;line-height:1.5;background-color:#fff}h1,h2,p{margin-top:0}[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}img{vertical-align:middle}a{color:#007bff;text-decoration:none;background-color:transparent}a:hover{color:#0056b3;text-decoration:underline}img{border-style:none}table{border-collapse:collapse}th{text-align:inherit}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}h1,h2{margin-bottom:.5rem;font-weight:500;line-height:1.2}h1{font-size:2.5rem}h2{font-size:2rem}.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.col-md-12{position:relative;width:100%;padding-right:15px;padding-left:15px}.table{width:100%;margin-bottom:1rem;color:#212529}.table td,.table th{padding:.75rem;vertical-align:top;border-top:1px solid #dee2e6}.table thead th{vertical-align:bottom;border-bottom:2px solid #dee2e6}.custom-control-input.is-valid:focus:not(:checked)~.custom-control-label:before,.was-validated .custom-control-input:valid:focus:not(:checked)~.custom-control-label:before{border-color:#28a745}.custom-control-input.is-invalid:focus:not(:checked)~.custom-control-label:before,.was-validated .custom-control-input:invalid:focus:not(:checked)~.custom-control-label:before{border-color:#dc3545}.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active{color:#fff;background-color:#007bff;border-color:#007bff}.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(38,143,255,.5)}.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active{color:#fff;background-color:#0062cc;border-color:#005cbf}.btn-outline-secondary:not(:disabled):not(.disabled).active,.btn-outline-secondary:not(:disabled):not(.disabled):active{color:#fff;background-color:#6c757d;border-color:#6c757d}.btn-secondary:not(:disabled):not(.disabled).active:focus,.btn-secondary:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(131,138,145,.5)}.btn-secondary:not(:disabled):not(.disabled).active,.btn-secondary:not(:disabled):not(.disabled):active{color:#fff;background-color:#545b62;border-color:#4e555b}.btn-outline-success:not(:disabled):not(.disabled).active,.btn-outline-success:not(:disabled):not(.disabled):active{color:#fff;background-color:#28a745;border-color:#28a745}.btn-success:not(:disabled):not(.disabled).active:focus,.btn-success:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(72,180,97,.5)}.btn-success:not(:disabled):not(.disabled).active,.btn-success:not(:disabled):not(.disabled):active{color:#fff;background-color:#1e7e34;border-color:#1c7430}.btn-outline-info:not(:disabled):not(.disabled).active,.btn-outline-info:not(:disabled):not(.disabled):active{color:#fff;background-color:#17a2b8;border-color:#17a2b8}.btn-info:not(:disabled):not(.disabled).active:focus,.btn-info:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(58,176,195,.5)}.btn-info:not(:disabled):not(.disabled).active,.btn-info:not(:disabled):not(.disabled):active{color:#fff;background-color:#117a8b;border-color:#10707f}.btn-outline-warning:not(:disabled):not(.disabled).active,.btn-outline-warning:not(:disabled):not(.disabled):active{color:#212529;background-color:#ffc107;border-color:#ffc107}.btn-warning:not(:disabled):not(.disabled).active:focus,.btn-warning:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(222,170,12,.5)}.btn-warning:not(:disabled):not(.disabled).active,.btn-warning:not(:disabled):not(.disabled):active{color:#212529;background-color:#d39e00;border-color:#c69500}.btn-outline-danger:not(:disabled):not(.disabled).active,.btn-outline-danger:not(:disabled):not(.disabled):active{color:#fff;background-color:#dc3545;border-color:#dc3545}.btn-danger:not(:disabled):not(.disabled).active:focus,.btn-danger:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(225,83,97,.5)}.btn-danger:not(:disabled):not(.disabled).active,.btn-danger:not(:disabled):not(.disabled):active{color:#fff;background-color:#bd2130;border-color:#b21f2d}.btn-outline-light:not(:disabled):not(.disabled).active,.btn-outline-light:not(:disabled):not(.disabled):active{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa}.btn-light:not(:disabled):not(.disabled).active:focus,.btn-light:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(215,216,218,.5)}.btn-light:not(:disabled):not(.disabled).active,.btn-light:not(:disabled):not(.disabled):active{color:#212529;background-color:#dae0e5;border-color:#d3d9df}.btn-outline-dark:not(:disabled):not(.disabled).active,.btn-outline-dark:not(:disabled):not(.disabled):active{color:#fff;background-color:#343a40;border-color:#343a40}.btn-dark:not(:disabled):not(.disabled).active:focus,.btn-dark:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(82,88,93,.5)}.btn-dark:not(:disabled):not(.disabled).active,.btn-dark:not(:disabled):not(.disabled):active{color:#fff;background-color:#1d2124;border-color:#171a1d}.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.btn-outline-primary:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,.btn-outline-secondary:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(109,118,126,.5)}.btn-outline-success:not(:disabled):not(.disabled).active:focus,.btn-outline-success:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}.btn-outline-info:not(:disabled):not(.disabled).active:focus,.btn-outline-info:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(23,162,184,.5)}.btn-outline-warning:not(:disabled):not(.disabled).active:focus,.btn-outline-warning:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(255,193,7,.5)}.btn-outline-danger:not(:disabled):not(.disabled).active:focus,.btn-outline-danger:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}.btn-outline-light:not(:disabled):not(.disabled).active:focus,.btn-outline-light:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(248,249,250,.5)}.btn-outline-dark:not(:disabled):not(.disabled).active:focus,.btn-outline-dark:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}.custom-control-input:focus:not(:checked)~.custom-control-label:before{border-color:#80bdff}.custom-control-input:not(:disabled):active~.custom-control-label:before{color:#fff;background-color:#b3d7ff;border-color:#b3d7ff}.navbar-brand:focus,.navbar-brand:hover{text-decoration:none}.navbar-brand{display:inline-block;padding-top:.313rem;padding-bottom:.313rem;margin-right:1rem;font-size:1.25rem;line-height:inherit}.close:not(:disabled):not(.disabled):focus,.close:not(:disabled):not(.disabled):hover{opacity:.75}.border{border:1px solid #dee2e6!important}.border-right{border-right:1px solid #dee2e6!important}.d-flex{display:flex!important}.justify-content-between{justify-content:space-between!important}.align-items-center{align-items:center!important}@supports (position:sticky){}.mb-1{margin-bottom:.25rem!important}.mb-3{margin-bottom:1rem!important}.my-4{margin-top:1.5rem!important}.mb-4,.my-4{margin-bottom:1.5rem!important}.p-0{padding:0!important}.py-2{padding-top:.5rem!important}.py-2{padding-bottom:.5rem!important}.p-4{padding:1.5rem!important}.text-right{text-align:right!important}.text-center{text-align:center!important}@media (min-width:576px){.container{max-width:540px}}@media (min-width:768px){.container{max-width:720px}.col-md-12{flex:0 0 100%;max-width:100%}}@media (min-width:992px){.container{max-width:960px}}@media (min-width:1200px){.container{max-width:1140px}}.font-weight-light{font-weight:300!important}.font-weight-normal{font-weight:400!important}.font-weight-bold{font-weight:700!important}@media print{*,:after,:before{text-shadow:none!important;box-shadow:none!important}a:not(.btn){text-decoration:underline}thead{display:table-header-group}img,tr{page-break-inside:avoid}h2,p{orphans:3;widows:3}h2{page-break-after:avoid}@page{size:a3}.container,body{min-width:992px!important}.table{border-collapse:collapse!important}.table td,.table th{background-color:#fff!important}}/*!
            * Bootstrap-select v1.13.10 (https://developer.snapappointments.com/bootstrap-select)
            *
            * Copyright 2012-2019 SnapAppointments, LLC
            * Licensed under MIT (https://github.com/snapappointments/bootstrap-select/blob/master/LICENSE)
            *//*!
            * Datetimepicker for Bootstrap 3
            * version : 4.17.47
            * https://github.com/Eonasdan/bootstrap-datetimepicker/
            */@font-face{font-family:slick;font-weight:400;font-style:normal;src:url(fonts/slick.eot);src:url(fonts/slick.eot?#iefix) format("embedded-opentype"),url(fonts/slick.woff) format("woff"),url(fonts/slick.ttf) format("truetype"),url(fonts/slick.svg#slick) format("svg")}@font-face{font-family:lg;src:url(../fonts/lg.eot?n1z373);src:url(../fonts/lg.eot?#iefixn1z373) format("embedded-opentype"),url(../fonts/lg.woff?n1z373) format("woff"),url(../fonts/lg.ttf?n1z373) format("truetype"),url(../fonts/lg.svg?n1z373#lg) format("svg");font-weight:400;font-style:normal}
        /* Plugins styles only for this page ends */

        /* Page Styles */
        @import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);body{font-size:14px}.text-darkblue{color:#103358}.btn-outline-canceled:not(:disabled):not(.disabled).active,.btn-outline-canceled:not(:disabled):not(.disabled):active,.btn-outline-pink:not(:disabled):not(.disabled).active,.btn-outline-pink:not(:disabled):not(.disabled):active{color:#fff;background-color:#ed5485;border-color:#ed5485}.btn-outline-darkblue:not(:disabled):not(.disabled).active,.btn-outline-darkblue:not(:disabled):not(.disabled):active{color:#fff;background-color:#103358;border-color:#103358}.btn-dashboard:not(:disabled):not(.disabled).active:focus,.btn-dashboard:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(208,211,215,.5)}.btn-outline-dashboard:not(:disabled):not(.disabled).active,.btn-outline-dashboard:not(:disabled):not(.disabled):active{color:#212529;background-color:#f0f3f7;border-color:#f0f3f7}.btn-dashboard:not(:disabled):not(.disabled).active,.btn-dashboard:not(:disabled):not(.disabled):active{color:#212529;background-color:#cfd8e5;border-color:#c6d2e1}.btn-canceled:not(:disabled):not(.disabled).active:focus,.btn-canceled:not(:disabled):not(.disabled):active:focus,.btn-pink:not(:disabled):not(.disabled).active:focus,.btn-pink:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(240,110,151,.5)}.btn-canceled:not(:disabled):not(.disabled).active,.btn-canceled:not(:disabled):not(.disabled):active,.btn-pink:not(:disabled):not(.disabled).active,.btn-pink:not(:disabled):not(.disabled):active{color:#fff;background-color:#e82664;border-color:#e71a5c}.btn-darkpink:not(:disabled):not(.disabled).active:focus,.btn-darkpink:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(218,102,139,.5)}.btn-outline-darkpink:not(:disabled):not(.disabled).active,.btn-outline-darkpink:not(:disabled):not(.disabled):active{color:#fff;background-color:#d44b76;border-color:#d44b76}.btn-darkpink:not(:disabled):not(.disabled).active,.btn-darkpink:not(:disabled):not(.disabled):active{color:#fff;background-color:#be2e5b;border-color:#b42b56}.btn-completed:not(:disabled):not(.disabled).active:focus,.btn-completed:not(:disabled):not(.disabled):active:focus,.btn-green:not(:disabled):not(.disabled).active:focus,.btn-green:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(80,196,167,.5)}.btn-outline-completed:not(:disabled):not(.disabled).active,.btn-outline-completed:not(:disabled):not(.disabled):active,.btn-outline-green:not(:disabled):not(.disabled).active,.btn-outline-green:not(:disabled):not(.disabled):active{color:#fff;background-color:#31b997;border-color:#31b997}.btn-completed:not(:disabled):not(.disabled).active,.btn-completed:not(:disabled):not(.disabled):active,.btn-green:not(:disabled):not(.disabled).active,.btn-green:not(:disabled):not(.disabled):active{color:#fff;background-color:#269176;border-color:#24876e}.btn-yellow:not(:disabled):not(.disabled).active:focus,.btn-yellow:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(222,182,84,.5)}.btn-outline-yellow:not(:disabled):not(.disabled).active,.btn-outline-yellow:not(:disabled):not(.disabled):active{color:#212529;background-color:#ffd05c;border-color:#ffd05c}.btn-yellow:not(:disabled):not(.disabled).active,.btn-yellow:not(:disabled):not(.disabled):active{color:#212529;background-color:#ffc129;border-color:#ffbe1c}.btn-seagreen:not(:disabled):not(.disabled).active:focus,.btn-seagreen:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(59,146,158,.5)}.btn-outline-seagreen:not(:disabled):not(.disabled).active,.btn-outline-seagreen:not(:disabled):not(.disabled):active{color:#fff;background-color:#187f8d;border-color:#187f8d}.btn-seagreen:not(:disabled):not(.disabled).active,.btn-seagreen:not(:disabled):not(.disabled):active{color:#fff;background-color:#115861;border-color:#0f4e57}.btn-black:not(:disabled):not(.disabled).active,.btn-black:not(:disabled):not(.disabled):active,.btn-outline-black:not(:disabled):not(.disabled).active,.btn-outline-black:not(:disabled):not(.disabled):active{color:#fff;background-color:#000;border-color:#000}.btn-black:not(:disabled):not(.disabled).active:focus,.btn-black:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(38,38,38,.5)}.btn-darkgray:not(:disabled):not(.disabled).active:focus,.btn-darkgray:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(101,102,103,.5)}.btn-outline-darkgray:not(:disabled):not(.disabled).active,.btn-outline-darkgray:not(:disabled):not(.disabled):active{color:#fff;background-color:#4a4b4d;border-color:#4a4b4d}.btn-darkgray:not(:disabled):not(.disabled).active,.btn-darkgray:not(:disabled):not(.disabled):active{color:#fff;background-color:#313233;border-color:#2b2b2c}.btn-textgray:not(:disabled):not(.disabled).active:focus,.btn-textgray:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(134,134,136,.5)}.btn-outline-textgray:not(:disabled):not(.disabled).active,.btn-outline-textgray:not(:disabled):not(.disabled):active{color:#fff;background-color:#6f7072;border-color:#6f7072}.btn-textgray:not(:disabled):not(.disabled).active,.btn-textgray:not(:disabled):not(.disabled):active{color:#fff;background-color:#565758;border-color:#505052}.btn-normalgray:not(:disabled):not(.disabled).active:focus,.btn-normalgray:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(159,153,156,.5)}.btn-outline-normalgray:not(:disabled):not(.disabled).active,.btn-outline-normalgray:not(:disabled):not(.disabled):active{color:#212529;background-color:#b4aeb0;border-color:#b4aeb0}.btn-normalgray:not(:disabled):not(.disabled).active,.btn-normalgray:not(:disabled):not(.disabled):active{color:#212529;background-color:#9b9496;border-color:#958d90}.btn-lightgray:not(:disabled):not(.disabled).active:focus,.btn-lightgray:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(206,207,207,.5)}.btn-outline-lightgray:not(:disabled):not(.disabled).active,.btn-outline-lightgray:not(:disabled):not(.disabled):active{color:#212529;background-color:#eee;border-color:#eee}.btn-lightgray:not(:disabled):not(.disabled).active,.btn-lightgray:not(:disabled):not(.disabled):active{color:#212529;background-color:#d5d5d5;border-color:#cecece}.btn-blue:not(:disabled):not(.disabled).active:focus,.btn-blue:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(38,143,255,.5)}.btn-outline-blue:not(:disabled):not(.disabled).active,.btn-outline-blue:not(:disabled):not(.disabled):active{color:#fff;background-color:#007bff;border-color:#007bff}.btn-blue:not(:disabled):not(.disabled).active,.btn-blue:not(:disabled):not(.disabled):active{color:#fff;background-color:#0062cc;border-color:#005cbf}.btn-darkblue:not(:disabled):not(.disabled).active:focus,.btn-darkblue:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(52,82,113,.5)}.btn-darkblue:not(:disabled):not(.disabled).active,.btn-darkblue:not(:disabled):not(.disabled):active{color:#fff;background-color:#081a2d;border-color:#061422}.btn-white:not(:disabled):not(.disabled).active:focus,.btn-white:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(221,221,223,.5)}.btn-outline-white:not(:disabled):not(.disabled).active,.btn-outline-white:not(:disabled):not(.disabled):active{color:#212529;background-color:#fff;border-color:#fff}.btn-white:not(:disabled):not(.disabled).active,.btn-white:not(:disabled):not(.disabled):active{color:#212529;background-color:#e6e6e6;border-color:#dfdfdf}.btn-lightwhite:not(:disabled):not(.disabled).active:focus,.btn-lightwhite:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(209,210,210,.5)}.btn-outline-lightwhite:not(:disabled):not(.disabled).active,.btn-outline-lightwhite:not(:disabled):not(.disabled):active{color:#212529;background-color:#f0f0f0;border-color:#f0f0f0}.btn-lightwhite:not(:disabled):not(.disabled).active,.btn-lightwhite:not(:disabled):not(.disabled):active{color:#212529;background-color:#d7d7d7;border-color:#d0d0d0}.btn-error:not(:disabled):not(.disabled).active:focus,.btn-error:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(218,78,78,.5)}.btn-outline-error:not(:disabled):not(.disabled).active,.btn-outline-error:not(:disabled):not(.disabled):active{color:#fff;background-color:#d32f2f;border-color:#d32f2f}.btn-error:not(:disabled):not(.disabled).active,.btn-error:not(:disabled):not(.disabled):active{color:#fff;background-color:#ab2424;border-color:#a02222}.btn-inprogress:not(:disabled):not(.disabled).active:focus,.btn-inprogress:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(71,169,243,.5)}.btn-outline-inprogress:not(:disabled):not(.disabled).active,.btn-outline-inprogress:not(:disabled):not(.disabled):active{color:#fff;background-color:#279af1;border-color:#279af1}.btn-inprogress:not(:disabled):not(.disabled).active,.btn-inprogress:not(:disabled):not(.disabled):active{color:#fff;background-color:#0e80d7;border-color:#0d79cb}.btn-tovalidate:not(:disabled):not(.disabled).active:focus,.btn-tovalidate:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(244,132,113,.5)}.btn-outline-tovalidate:not(:disabled):not(.disabled).active,.btn-outline-tovalidate:not(:disabled):not(.disabled):active{color:#fff;background-color:#f27059;border-color:#f27059}.btn-tovalidate:not(:disabled):not(.disabled).active,.btn-tovalidate:not(:disabled):not(.disabled):active{color:#fff;background-color:#ee472a;border-color:#ed3d1e}.btn-outline-dashboard:not(:disabled):not(.disabled).active:focus,.btn-outline-dashboard:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(240,243,247,.5)}.btn-outline-canceled:not(:disabled):not(.disabled).active:focus,.btn-outline-canceled:not(:disabled):not(.disabled):active:focus,.btn-outline-pink:not(:disabled):not(.disabled).active:focus,.btn-outline-pink:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(237,84,133,.5)}.btn-outline-darkpink:not(:disabled):not(.disabled).active:focus,.btn-outline-darkpink:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(212,75,118,.5)}.btn-outline-completed:not(:disabled):not(.disabled).active:focus,.btn-outline-completed:not(:disabled):not(.disabled):active:focus,.btn-outline-green:not(:disabled):not(.disabled).active:focus,.btn-outline-green:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(49,185,151,.5)}.btn-outline-yellow:not(:disabled):not(.disabled).active:focus,.btn-outline-yellow:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(255,208,92,.5)}.btn-outline-seagreen:not(:disabled):not(.disabled).active:focus,.btn-outline-seagreen:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(24,127,141,.5)}.btn-outline-black:not(:disabled):not(.disabled).active:focus,.btn-outline-black:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(0,0,0,.5)}.btn-outline-darkgray:not(:disabled):not(.disabled).active:focus,.btn-outline-darkgray:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(74,75,77,.5)}.btn-outline-textgray:not(:disabled):not(.disabled).active:focus,.btn-outline-textgray:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(111,112,113,.5)}.btn-outline-normalgray:not(:disabled):not(.disabled).active:focus,.btn-outline-normalgray:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(179,173,175,.5)}.btn-outline-lightgray:not(:disabled):not(.disabled).active:focus,.btn-outline-lightgray:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(237,237,237,.5)}.btn-outline-blue:not(:disabled):not(.disabled).active:focus,.btn-outline-blue:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}.btn-outline-darkblue:not(:disabled):not(.disabled).active:focus,.btn-outline-darkblue:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(16,51,88,.5)}.btn-outline-white:not(:disabled):not(.disabled).active:focus,.btn-outline-white:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(255,255,255,.5)}.btn-outline-lightwhite:not(:disabled):not(.disabled).active:focus,.btn-outline-lightwhite:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(240,240,240,.5)}.btn-outline-error:not(:disabled):not(.disabled).active:focus,.btn-outline-error:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(211,47,47,.5)}.btn-outline-inprogress:not(:disabled):not(.disabled).active:focus,.btn-outline-inprogress:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(39,154,241,.5)}.btn-outline-tovalidate:not(:disabled):not(.disabled).active:focus,.btn-outline-tovalidate:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(242,113,90,.5)}.text-pink{color:#ed5485}.text-blue{color:#007bff}body{font-family:Montserrat,sans-serif;color:#1d1d1b;line-height:1.6;overflow-x:hidden}::-webkit-scrollbar{width:8px;background-color:#aaa}::-webkit-scrollbar:horizontal{height:8px;background-color:#aaa}::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px transparent;background-color:#aaa;border-radius:4px}::-webkit-scrollbar-thumb{border-radius:3px;background:gray}.container{width:100%;max-width:1340px;padding:0 30px}@media screen and (min-width:767px){.container{padding:0 15px}}:focus{outline:0!important;outline:-webkit-focus-ring-color auto 0!important;box-shadow:0 0 0 0 transparent!important}.text-normalgray{color:#b4aeb0}.fz-10{font-size:.625rem}.fz-12{font-size:.75rem}.fz-14{font-size:.875rem}.fz-16{font-size:1rem}.fz-22{font-size:1.375rem}.fz-25{font-size:1.563rem}.fz-30{font-size:1.875rem}@media (max-width:1200px){.fz-16{font-size:calc(.944rem + .075vw);min-width:0}.fz-22{font-size:calc(.981rem + .525vw);min-width:0}.fz-25{font-size:calc(1rem + .75vw);min-width:0}.fz-30{font-size:calc(1.031rem + 1.125vw);min-width:0}}.w-5{width:5%}.w-20{width:20%}.w-30{width:30%}.w-45{width:45%}.text-textgray{color:#6f7072}.bg-lightgray,.invoice-details-table thead{background-color:#eee}.invoice-footer{border-left:5px solid #ed5485}.invoice-body,.invoice-header{border-bottom:2px solid #b4aeb0}.invoice-details-table th .border-right{border-right-color:#b4aeb0!important}
        /* Page Styles ends */
    </style>
</head>

<body>
<div class="container pixcity-invoice-wrap">
    <div class="row">
        <!-- Invoice contents -->
        <div class="col-md-12 pixcity-invoice-content">
            <div class="row">
                <div class="col-md-12 invoice-header d-flex align-items-center justify-content-between p-0 py-2">

                    <h1 class="invoice-title font-weight-light text-normalgray">
                        Devis
                    </h1>
                </div>

                <div class="col-md-12 invoice-body p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="invoice-client-details">
                            <div class="text-normal-gray fz-14">
                                Client
                            </div>
                            <div class="text-blue fz-30 font-weight-bold">
                                {{ mission.client.firstname }}
                            </div>
                            <div class="text-darkblue fz-16">
                                {{ mission.client.ClientInfo.address~' '~mission.client.ClientInfo.postalCode }}<br>
                                {{ mission.client.ClientInfo.email }}
                            </div>
                        </div>
                        <div class="invoice-number text-right text-darkblue font-weight-bold">
                            <div class="fz-22">
                                Numéro de devis
                            </div>
                            <div class="fz-16 font-weight-normal">
                                PX-{{ mission.id }}-{{ missionLog.id }}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="invoice-client-details">
                            <div class="text-normal-gray fz-14">
                                City-Maker
                            </div>
                            <div class="text-pink fz-25 font-weight-bold">
                                {{ mission.user.firstname }}<br>
                            </div>
                            <div class="text-darkblue fz-16">
                                {{ mission.user.pixie.billing.address.address~' '~mission.user.pixie.billing.address.zipcode }}
                                {% if mission.userMissionPayment.clientTotal - mission.userMissionPayment.clientPrice != 0 %}
                                    {{ mission.user.pixie.billing.companyName }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="invoice-number text-right text-darkblue font-weight-bold">
                            <div class="fz-22">
                                Date de devis
                            </div>
                            <div class="fz-16 font-weight-normal">
                                {{ mission.updatedAt | date('d/m/Y') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="invoice-details-table col-md-12 p-0 my-4">
                    <table class="table">
                        <thead>
                        <tr class="bg-lightgray border">
                            <th class="w-5">
                                <div class="border-right">
                                    #
                                </div>
                            </th>
                            <th class="w-45">
                                <div class="border-right">
                                    DESCRIPTION
                                </div>
                            </th>
                            <th class="w-30">
                                <div class="border-right">
                                    QUANTITE
                                </div>
                            </th>
                            <th class="w-20">
                                MONTANT
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>01</td>
                            <td>{{ mission.referencePack.packskill.name~' / '~mission.title }}</td>
                            <td>01</td>
                            <td>{{ last_result['client_price'] | round(2, 'floor') }} €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>SOUS-TOTAL</td>
                            <td></td>
                            <td>{{  last_result['client_price'] | round(2, 'floor') }} €</td>
                        </tr>
                        {% if last_result['client_total'] - last_result['client_price'] | round(2, 'floor') != 0 %}
                            <tr>
                                <td></td>
                                <td>TVA  20%</td>
                                <td></td>
                                <td>{{ last_result['client_tax'] | round(2, 'floor') }} €</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td></td>
                            <td class="text-dargblue font-weight-bold">SOUS TOTAL HT</td>
                            <td></td>
                            <td class="text-dargblue font-weight-bold">{{ last_result['client_total'] |round(2, 'floor') }} € <br><br></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td class="text-dargblue font-weight-bold">TOTAL TTC</td>
                            <td></td>
                            <td class="text-dargblue font-weight-bold">{{ last_result['client_total'] |round(2, 'floor') }} €</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12 invoice-footer mb-3">
                    <p class="text-darkblue font-weight-bold fz-12 mb-1">
                        NOTICE:
                    </p>
                    <p class="text-textgray fz-14 mb-1">
                        Conditions d'escompte Néant / La prestation est réalisée et payée selon les conditions générales d'utilisation du City Maker, ainsi que selon les stipulations pour autrui nées de l'acceptation par les parties des conditions générales Pix.city Services que les parties reconnaissent avoir lues et acceptées et qui sont disponibles à l'adresse <a href="https://docs.google.com/document/d/1UKKQBA3rl-LGjtMfJJvjTHtaDo9U1Yc2nTxFjqn4oXM/edit#heading=h.mgkbkicnug0t" target="_blank">Conditions générales d’utilisation et vente Pix.City Services</a>.
                        <br>
                        devis établie par Pix.City Services pour le compte du City-maker.<br>
                        Le prix affiché comprend la commission de Pix.City Services de 25%.<br>
                        En cas de retard de paiement s'applique une pénalité égale au taux d'intérêt appliqué par la Banque Centrale Européenne (BCE) à son opération de refinancement la plus récente majorée de 10 points.
                        <br>
                        Indemnité forfaitaire pour frais de recouvrement de 40 euros.
                    </p>
                </div>


            </div>
        </div>
        <!-- Invoice contents ends -->
    </div>
</div>

</body>

</html>