{% extends 'b2b/page.html.twig' %}
{%  block meta_title %}{{ page.metaTitle }}{% endblock %}
{%  block meta_description %}{{ page.metaDescription }}{% endblock %}

{%  block meta_robots %}{% if page.indexed == false %}noindex,follow{% else %}{{ parent() }}{% endif %}{% endblock %}
{% block content %}

    <div class="tab-pane active" id="billing" role="tabpanel">
        <div class="col-md-12 tab-content-header bg-white d-flex justify-content-between align-items-center p-3 shadow-sm">
            <div class="d-flex align-items-center fz-20 text-darkblue"><i class="fas fa-file-invoice-dollar fz-30 mr-2"></i>Facturation</div>
            <div class="col-md-12 tab-content-header bg-white d-flex justify-content-between align-items-center p-3 shadow-sm">
                <div class="d-flex align-items-center fz-20 text-darkblue"><i class="fas fa-file-invoice-dollar fz-30 mr-2"></i> Facturation</div>
                {% embed 'b2b/shared/_notification_header.html.twig' with {'notifications':notifications} %}{% endembed %}

            </div>
{#            <div class="col-md-7 ml-auto mt-2 mt-lg-0">#}
{#                <div class="frow">#}
{#                    <div class="offset-md-6 col-md-4">#}
{#                        {% if app.user.missionProposalsToCityMaker | length > 0 and app.user.userPacks | length > 0 %}#}
{#                            <a href="{{ url('b2b_mission_create') }}" class="btn btn-outline-darkblue btn-pill"#}
{#                               onclick="{{ url('b2b_mission_create') }}">Créer une nouvelle#}
{#                                mission</a>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                    <div class="col-md-1 col-2">#}
{#                        <a href="/connexion/signout" class="btn btn-outline-darkblue btn-pill">Logout</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
{#        <div class="modal" id="invoicePreviewModal">#}
{#            <div class="modal-dialog modal-lg">#}
{#                <div class="modal-content">#}

{#                    <!-- Modal Header -->#}
{#                    <div class="modal-header">#}
{#                        <h4 class="modal-title">Invoice Preview</h4>#}
{#                        <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#                    </div>#}

{#                    <!-- Modal body -->#}
{#                    <div class="modal-body" id="invoice-preview-body" style="height:400px !important;">#}
{#                        Loading preview#}
{#                    </div>#}

{#                    <!-- Modal footer -->#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>#}
{#                    </div>#}

{#                </div>#}
{#            </div>#}
{#        </div>#}
        {% if missions | length == 0 %}
            <div class="col-md-12 tab-pane-content p-4 d-flex align-items-center justify-content-center">
                <div class="d-flex flex-column justify-content-center w-50 align-items-center text-center">
                    <div class="w-60">
                        <img class="img-fluid" src="{{ absolute_url('/assets/images/dash-invoice-empty.png') }}" alt="My Facturation">
                    </div>
                    <h4 class="mt-4 text-darkblue">Pour facturer, faut bosser !</h4>
                    <p> Ici vous trouverez le récapitulatif de vos factures. <a href="{{ url('front_faq_index') }}">Consultez la FAQ</a> si vous avez des questions.
                    </p>
                    <div class="d-block text-center mt-4">
                        <a href="javascript:;" class="btn btn-darkblue btn-pill d-none">Créer un pack</a>
                    </div>
                </div>
            </div>
        {% else %}
        <div class="col-md-12 tab-pane-content p-4" data-simplebar="init"><div class="simplebar-wrapper" style="margin: -24px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content" style="padding: 24px; height: 100%; overflow: hidden;">
            <table class="table table-sm table-borderless my-billings-list-table">
                                <thead>
                                <tr class="text-normalgray fz-12">
                                    <th class="font-weight-normal w-5"><span class="sr-only">Mission filetype</span></th>
                                    <th class="font-weight-normal w-30">Nom du fichier </th>
                                    <th class="font-weight-normal w-15">Date d’émission</th>
                                    <th class="font-weight-normal w-15">Dernière modification</th>
                                    <th class="font-weight-normal w-15">Montant</th>
                                    <th class="font-weight-normal w-15">Statut du paiement</th>
                                    <th class="font-weight-normal w-5"><span class="sr-only">Mission actions</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for mission in missions %}
                                    <tr class="text-darkgray fz-14">
                                        <td valign="middle" class="text-center">
                                            <i class="far fa-file-alt fz-25"></i>
                                        </td>
                                        <td valign="middle">{{ mission.title }}</td>
                                        <td valign="middle">{{ mission.createdAt | date('d/m/Y') }}</td>
                                        <td valign="middle">{{ mission.updatedAt | date('d/m/Y') }}</td>
                                        <td valign="middle">{{ mission.userMissionPayment.cmTotal }}€</td>
                                        <td valign="middle"><span class="text-inprogress">En cours</span></td>
                                        <td valign="middle">
                                            <div class="d-flex align-items-center">
                                                <a href="javascript:;" class="text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none check-the-quote" data-id="{{ mission.id }}"><i class="fas fa-eye fz-16"></i></a>
                                                <a href="/client/download/invoice/{{ mission.id }}/{{ mission.getCityMakerInvoice() }}/cm" class="text-darkgray d-flex align-items-center justify-content-center p-2 text-decoration-none"><i class="fas fa-download fz-16"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
        </div></div></div><div class="simplebar-placeholder" style="width: 1280px; height: 384px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar simplebar-visible" style="transform: translate3d(0px, 0px, 0px); visibility: hidden;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar simplebar-visible" style="transform: translate3d(0px, 0px, 0px); visibility: hidden;"></div></div></div>
        {% endif %}
    </div>


{#    <div class="col-md-10 offset-md-2 dash-right vh-100 ">#}
{#        <div class="container">#}
{#            <table class="table table-striped">#}
{#                <thead>#}
{#                    <th>ID</th>#}
{#                    <th>Mission</th>#}
{#                    <th>Amount</th>#}
{#                    <th></th>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for mission in missions %}#}
{#                    <tr>#}
{#                        <td>#{{ mission.id }}</td>#}
{#                        <td>{{ mission.title }}</td>#}
{#                        <td>{{ mission.userMissionPayment.total }}</td>#}
{#                        <td>#}
{#                            <a href="#" class="btn btn-sm btn-info invoice-preview-btn" id="" data-id="{{ mission.id }}"  data-toggle="modal" data-target="#invoicePreviewModal">Preview</a>#}
{#                            <a href="#" class="btn btn-sm btn-success invoice-generate-btn" id="">Generate</a>#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#            <!-- The Modal -->#}
{#        </div>#}
{#    </div>#}

    <div class="facturation-show-container col-sm-12 p-0 vh-100">
        <div class="overlay-dashboard"></div>
        <div class="col-sm-10 offset-sm-2 facturation-show-content bg-white p-0">
            <a href="javascript:;" class="btn btn-circle-40 btn-black opacity-50 btn-no-hover close-invoice-preview">
                <i class="fal fa-times fz-20 opacity-50"></i>
            </a>
            <iframe id="invoice-path" src="" style="width:100%; height:100%;" frameborder="0"></iframe>
        </div>
        <nav class="col-sm-10 offset-sm-2 navbar navbar-expand-lg fixed-bottom nav-bar-main internal-nav bottom-info-status">
            <div class="container-fluid align-items-center justify-content-end">
                <div class="d-flex client-infos flex-grow-1 justify-content-start align-items-center">
                    <!-- <div class="client-image btn-circle-50 p-0 mr-3">
                        <img src="../images/USER-AVATAR.jpg" class="img-fluid rounded-circle" alt="client Logo">
                    </div>
                    <div class="client-name-mission-status mr-4">
                        <p class="mb-0 fz-11 text-inprogress mission-status">Mission en cours</p>
                        <p class="mb-0 text-darkgray client-name">@Lily_Bordeaux</p>
                    </div>
                    <div class="mr-4">
                        <p class="mb-0 fz-12 text-normalgray">Région</p>
                        <p class="mb-0 text-darkgray client-region">PARIS</p>
                    </div>
                    <div class="mr-4">
                            <p class="mb-0 fz-12 text-normalgray">Prix</p>
                            <p class="mb-0 text-darkgray user-price">160€</p>
                    </div>
                    <div class="mission-invoice d-flex align-items-center mr-4">
                        <p class="mb-0 fz-12 text-darkgray"><i class="fas fa-file-invoice-dollar fz-35 mr-2"></i></p>
                        <p class="mb-0 text-darkgray">
                            Devis PX-13032109-00752
                            <a href="javascript:;" class="d-block fz-12 text-inprogress">Version 1: 03/04/2019</a>
                        </p>
                    </div> -->
                    <div class="d-flex w-100 justify-content-center">
                        <a href="javascript:;" class="btn btn-green btn-pill validate-quote"><i class="fas fa-check fz-14 mr-2"></i>Devis validé</a>
                        {#                                <a href="javascript:;" class="btn btn-green btn-pill validate-the-quote">Valider le devis</a>#}
                    </div>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}




{% block javascripts %}

<script>

    $(document).on('click',
        'a.close-invoice-preview, a.preview-invoice, a.validate-quote, a.validate-the-quote, a.check-the-quote',
        function () {
            if ($(this).is('a.preview-invoice')) {
                $('.validate-the-quote, .dash-right').fadeOut()
                $('.facturation-show-container, .validate-quote').fadeIn();
            } else if ($(this).is('a.close-invoice-preview')) {
                $('.facturation-show-container').fadeOut();
                $('.validate-the-quote, .dash-right').fadeIn()
            } else if ($(this).is('a.validate-quote')) {
                $('.validate-quote-toast').toast('show').css({
                    'z-index': '1050'
                });
            } else if ($(this).is('a.validate-the-quote')) {
                $('.facturation-show-container').fadeOut()
                $('.dash-right, .validate-quote').fadeIn('fast', function(){
                    $('.invoice-signed-toast').toast('show').css({
                        'z-index': '1050'
                    });
                })
            } else if ($(this).is('a.check-the-quote')) {
                $('.dash-right, .validate-quote').fadeOut();

                var id = $(this).attr('data-id');

                $.ajax({
                    url:'/city-maker/factures/preview/'+id,
                    type:'GET',
                    dataType:'json',
                    success: function(data){
                        console.log(data);
                        $("#invoice-path").attr('src',data.url);

                        $('.facturation-show-container, .to-validate-quote').fadeIn('slow', function () {
                            // $('.to-validate-quote-toast').toast('show').css({
                            //     'z-index': '1050'
                            // });
                        });

                        return false;
                    }
                });


            }
        });


 </script>

{% endblock %}