{% extends 'admin/pages/notifications/page.html.twig' %}

{% form_theme form 'admin/_forms/fields.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('admin_admins_list') }}">{{ 'label.administrators'|trans }}</a></li>
    <li class="active">{{ ((item is defined)?'action.edit':'action.add')|trans }}</li>
{% endblock %}

{% block inner %}

    {{ form_start(form) }}

    {{ form_row(form.message) }}
    {{ form_row(form.comments) }}
    {{ form_row(form.sent_to) }}

    <div class="flex-row-space-between">
        <a href="{{ path('admin_notification_list') }}" class="btn btn-lg bg-grey m-t-15 waves-effect">Annuler</a>
        <button type="submit" class="btn btn-lg bg-pink m-t-15 waves-effect">Enregistrer</button>
    </div>

    {{ form_end(form) }}

{% endblock %}