{% extends 'emails/_base.html.twig' %}

{% block body %}

<p>
 Bonjour {{ firstName }},
</p>
<p>
 Félicitations, ta 1ere CARD test a été mise en ligne, tu deviens donc officiellement un(e) CITY MAKER EXPLORER !
</p>
 <p> Tu peux la consulter <a href="{{ url('front_homepage_index')~slug~'.html' }}">ici</a> ! En tant que EXPLORER tu peux désormais accéder à notre espace services <a href="{{ url('front_pixie_account_homepage') }}">ici:</a>  et devenir un community manager ou influenceur local en gérant la visibilité de commerçants de ta région!!! :)
 </p>
 <p> Tu peux également et dès à présent continuer à envoyer tes sujets de CARDS à l’adresse mail: <a href="mailTo:redaction@pix.city">redaction@pix.city</a>.
</p>
<p> Elles seront alors disponibles dans ton espace perso et te permettront d'augmenter de niveau et de gagner toujours +++ de lots!
</p>
<p> Afin que l’on puisse reposter ta card {{ cardName }} sur notre compte insta @pix_city, nous t’avons mis en forme le post avec 2 photos.
</p>
<p> Tu as les deux photos ci-dessous et en pièces jointes. Pense à nous faire un petit coucou dans ton post en ajoutant @pix_city : et les hashtags nous permettant de t'identifier
</p>
<p> #pixcity #pixcity{{ cityName }} #pixcity{{ regionName }}
</p>
<p> A très vite!
</p>
<p> La Team Pix.City</p>

{%  endblock %}