{% extends 'emails/_base.html.twig' %}

{% block body %}

    <p>Bonjour {{ firstName }},</p>
    <p>
        Merci encore pour ta dernière card. Comme elle est canon, elle sera en ligne dans quelques minutes sur Pix.City et tu vas pouvoir la partager sur Instagram (et tes autres réseaux !).
    </p>
    <p>
        Tu peux la consulter <a href="{{ url('front_homepage_index')~slug~'.html' }}">ici</a> !

    </p>
    <p>
        Afin que l’on puisse reposter ta card {{ cardName }} sur notre compte insta <strong><a href="https://www.instagram.com/pix_city/?hl=fr">@pix_city</a></strong>, nous t’avons mis en forme le post avec 2 photos.
    </p>
    <p>
        Tu as les deux photos ci-dessous et en pièces jointes. Pense à nous faire un petit coucou dans ton post en ajoutant <strong><a href="https://www.instagram.com/pix_city/?hl=fr">@pix_city</a></strong> ;)

    <p>
        <img src="{{ url('front_homepage_index') }}/{{ card.thumb.getUrl() }}" style="height:250px;width:250px"/>
    </p>
    <img src="{{ url('front_homepage_index') }}/{{ bannerUrl }}" style="height:250px;width:450px"/>
    </p>
    </p>
    <p>
        #pix_city #pixcity{{ cityName }} #pixcity{{ regionName }}
    </p>
    <p>
        Merci,
    </p>
    <p>
        La Team Pix.City
    </p>

{% endblock %}