{% extends 'front/base.html.twig' %}

{% block body_class %}{{ parent() }} login{% endblock %}

{%  block meta_robots %}{% if page.indexed == false %}noindex,follow{% else %}{{ parent() }}{% endif %}{% endblock %}

{% block body %}

    <div class="wrapper">
        <div class="row">
            <div class="col-md-4 text-left">
                <a href="{{ path('front_homepage_index') }}"><img id="logo" src="{{ asset('build/images/logo-color.svg') }}" alt="Pix.City"></a>
            </div>
            <div class="col-md-8 text-right loginCancel">
                <a href="{{ path('front_homepage_index') }}">Annuler</a>
            </div>
        </div>

        <div class="col-md-4 left box">

            <h1>Connexion à votre compte</h1>
            <p>Vous pouvez vous connecter à votre compte Pix.City via Facebook, Gmail ou avec votre adresse email.</p>

        </div>
        <div class="col-md-8 right box">

            <form action="{{ path('front_login') }}" id="sign_in" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-at"></i>
                        </div>
                        <input class="form-control" type="email" name="_username" placeholder="{{ 'label.email'|trans }}" required autofocus value="{{ last_username }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <div class="input-group simple">
                        <input class="form-control" type="password" name="_password" placeholder="{{ 'label.password'|trans }}" required>
                        <a href="{{ path('front_forgot_password') }}" class="pwForgotten text-right">Mot de passe oublié?</a>
                    </div>
                </div>


                <input type="hidden" name="_target_path" value="{{ path('front_homepage_index') }}">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {% if error %}
                    <div class="form-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if redirect is not null %}
                    <input type="hidden" name="_target_path" value="{{ redirect }}" />
                {% endif %}

                <button class="btn transFx green btn-submit fa fa-envelope" type="submit"><span>Envoyer</span></button>

            </form>
            <span class="sepOu">OU</span>
            <div class="text-center">
                <a href="{{ path('front_login_facebook', {type: 'user'}) }}" class="fab fa-facebook-f"></a>
                <a href="{{ path('front_login_google', {type: 'user'}) }}" class="fab fa-google"></a>
            </div>

        </div>
        <div class="row text-right"><a href="{{ path('front_user_register_mode') }}" class="greenPos">Pas encore de compte ?</a></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}