<tr data-id="{{ item[0].id }}">
	<td> {{ item[0].id }}</td>
    <td>{{ item[0].firstName }}</td>
    <td>{{ item[0].lastName }}</td>
    <td>{{ item[0].email }}</td>
    <td data-order='{{ item[0].cmUpgradeB2bDate|date('YmdHi') }}'> {{ item[0].cmUpgradeB2bDate|localizeddate('medium', 'short') }}</td>
    <td><a href="{{path('admin_user_packs_view', {'id': item[0].id , 'usrtype':'user'})  }}" title="view" > {{ item.userPack }}</a> </td>
    {#<td>#}
        {#<label class="switch">#}
            {#<input type="checkbox" id="status_{{ item[0].id }}" {{ item[0].active ? "checked" : " "}}>#}
            {#<span class="slider round"></span>#}
        {#</label>#}
    {#</td>#}
    <td>
        {% if item[0].b2bCmApproval == 2 %}
            Waiting for Approval
        {% elseif item[0].b2bCmApproval == 1 %}
            Approved
        {% elseif item[0].b2bCmApproval == 0 %}
            Rejected
        {% else %}
            N/A
        {% endif %}
    </td>
    <td class="text-right">
        <div class="item-actions">
            <a title="{{ 'action.edit'|trans }}" href="{{ path('front_auto_login', {'id': item[0].id}) }}" target="_blank" class="btn btn-circle bg-pink waves-effect waves-circle waves-float">
                <i class="material-icons">A</i>
            </a>
            <a title="{{ 'action.edit'|trans }}" href="{{ path('admin_users_edit', {'id': item[0].id}) }}" class="btn btn-circle bg-pink waves-effect waves-circle waves-float">
                <i class="material-icons">edit</i>
            </a>

            {#|#}
            <a href="{{ path('admin_admins_show', {'id': item[0].id}) }}" class="btn btn-circle bg-pink waves-effect waves-circle waves-float" title="{{ 'action.detail_view'|trans }}">
                <i class="material-icons">visibility</i>
            </a>
            <form method="post" class="delete-form" action="{{ path('admin_admins_soft_delete', {'id': item[0].id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item[0].id) }}">
                <button class="btn btn-circle bg-grey waves-effect waves-circle waves-float"><i class="material-icons">delete_forever</i></button>
            </form>

        </div>
    </td>
</tr>
{% block javascripts  %}
    <script>
        $(function () {
            $('#status_'+{{ item[0].id }}).on( "click", function() {
                if ($('#status_'+{{ item[0].id }}).is(':checked'))
                {
                    $.ajax('{{ url('admin_admins_status_update',{ 'id': item[0].id, 'status': 1} )}}',{
                        method: 'GET',
                        success: function(result)
                        {
                            alert('Status Updated to Active..!');
                        }
                    });
                }else{
                    $.ajax('{{ url('admin_admins_status_update',{ 'id': item[0].id, 'status': 0} )}}',{
                    method: 'GET',
                    success: function(result)
                    {
                        alert('Status Updated to Inactive..!');
                    }
                });

                }
            });
        })
    </script>
{% endblock %}