{% extends 'campaign/pixie/base.html.twig' %}

{% block body %}
    <header class="banner-wrap">
        <img src="{{ asset('build/images/banner-hero-01.jpg') }}" class="banner-image" alt="Pix.City" />
        <div class="row banner-content-container">
            <div class="col-md-2 offset-md-3 banner-icon">
                <img src="{{ asset('build/images/banner-icon.png') }}" alt="Pix.City">
            </div>
            <div class="col-md-6 banner-content">
                <h1>C’EST LA SAISON DES <span><img src="{{ asset('build/images/banner-hash.png') }}"></span> DANS VOTRE RÉGION ?</h1>
                <p class="tagline">FAITES RAYONNER VOTRE RÉGION, DEVENEZ CITY-MAKER* EN PARTAGEANT VOS ADRESSES PERSOS SUR PIX.CITY + VOTRE COMPTE INSTAGRAM. VOUS DEVIENDREZ PEUT-ÊTRE UN DES COMMUNITY MANAGER INCONTOURNABLE DE VOTRE LOCALITÉ/RÉGION.</p>
                <img src="{{ asset('build/images/logo-banner.png') }}" class="logo-banner" alt="Pix.City" />
                <p class="tagline">The city-maker's community</p>
            </div>
        </div>
{#        <div class="asterisk">#}
{#            * INFLUENCEUR LOCAL.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#        </div>#}
    </header><!-- /header -->
    <div class="container-fluid">
        <div class="col-md-12 mt-5 mb-5 service-wrap">
            <div class="row">
                <div class="col-md-4 service-container bordered">
                    <img src="{{ asset('build/images/service-1.png') }}" alt="">
                    <h2>METTRE EN LUMIÈRE UN COMMERCE, UNE BOUTIQUE LOCALE… MAIS AUSSI VOTRE COMPTE INSTAGRAM.</h2>
                    <p>Une super adresse n’est rien si personne n’est au courant et ce fameux courant vous met aussi en lumière : Plus de photos / Plus de # / Plus de clients / Plus de followers qui suivent vos recommandations.</p>
                </div>
                <div class="col-md-4 service-container bordered">
                    <img src="{{ asset('build/images/service-2.png') }}" alt="">
                    <h2>ÊTRE SÉLECTIONNÉ(e) POUR MES ADRESSES ET ÊTRE RÉMUNÉRÉ(e) POUR EN FAIRE UNE INTERVIEW</h2>
                    <p>Si votre adresse & profil sont conformes à notre cahier des charges, ils auront plus de chances d’aboutir.</p>
                </div>
                <div class="col-md-4 service-container">
                    <img src="{{ asset('build/images/service-3.png') }}" alt="">
                    <h2>POURSUIVRE L’AVENTURE ET DEVENIR COMMUNITY MANAGER DANS VOTRE LOCALITÉ : ÊTRE LE CITY-MAKER* DE VOTRE COIN.</h2>
                </div>
            </div>
{#            <div class="asterisk">#}
{#                * INFLUENCEUR LOCAL.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#            </div>#}
        </div>
    </div>
    <!-- /services -->
    <div class="testimonials-wrap">
        <div class="container-fluid">
            <div class="col-md-8 pt-5 pb-5 testimonials-container">
                <div class="testimonial-list">
                    <div class="testimonial-content">
                        <div class="row">
                            <div class="col-md-12 mb-4 testimonial">
                                "Une grande liberté d'écriture et des interviews bien guidées pour un contenu original et unique. Merci pour cette aventure Pix.City!"
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 user-container">
                                <div class="row">
                                    <div class="col-md-4 user-info">
                                        <div class="row">
                                            <div class="col-md-4 user-image">
                                                <img src="{{ asset('build/images/sylvaine.jpg') }}" alt="user name" />
                                            </div>
                                            <div class="col-md-8 d-flex justify-content-center user">
                                                Sylvaine SANSONE,<span>sissyinparis</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 instagram-info d-flex align-items-center">
                                        <ul class="d-flex">
                                            <li><img src="{{ asset('build/images/instagram-icon.png') }}" alt="Instagram"></li>
                                            <li>196 <span>publications</span></li>
                                            <li>1,142 <span>abonnés</span></li>
                                            <li>260 <span>abonnements</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="row">
                            <div class="col-md-12 mb-4 testimonial">
                                "Déjà 3 cards rédigées, publiées et paiement reçu - La réactivité et la bonne humeur de l'équipe Pix rendent l'aventure encore plus fun !"
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 user-container">
                                <div class="row">
                                    <div class="col-md-4 user-info">
                                        <div class="row">
                                            <div class="col-md-4 user-image">
                                                <img src="{{ asset('build/images/stephane.jpg') }}" alt="user name" />
                                            </div>
                                            <div class="col-md-8 d-flex justify-content-center user">
                                                Stéphane Kassis,<span>will_daulive</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 instagram-info d-flex align-items-center">
                                        <ul class="d-flex">
                                            <li><img src="{{ asset('build/images/instagram-icon.png') }}" alt="Instagram"></li>
                                            <li>97 <span>publications</span></li>
                                            <li>873 <span>abonnés</span></li>
                                            <li>723 <span>abonnements</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="row">
                            <div class="col-md-12 mb-4 testimonial">
                                "Je suis ravie d’être une Pixie ! Grâce aux paiements rapides je peux me faire plaisir en vous faisant part de mes découvertes !"
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 user-container">
                                <div class="row">
                                    <div class="col-md-4 user-info">
                                        <div class="row">
                                            <div class="col-md-4 user-image">
                                                <img src="{{ asset('build/images/morgane.jpg') }}" alt="user name" />
                                            </div>
                                            <div class="col-md-8 d-flex justify-content-center user">
                                                Morgane Potelle,<span>mlle__morgane</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 instagram-info d-flex align-items-center">
                                        <ul class="d-flex">
                                            <li><img src="{{ asset('build/images/instagram-icon.png') }}" alt="Instagram"></li>
                                            <li>313 <span>publications</span></li>
                                            <li>1,458 <span>abonnés</span></li>
                                            <li>529 <span>abonnements</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonials -->
    <div class=" pt-5 pb-5 newsletter-wrap">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4" id="selectionContainer">
                        <div class="selection-container">
                            <h4>CHARTE DE SÉLECTION <span>POUR ÊTRE RETENU VOS ADRESSES &amp; VOTRE COMPTE INSTAGRAM DOIVENT IDÉALEMENT COMPORTER :</span></h4>
                            <p>Mini 30 publications photos nettes & cadrées sur 1 ou 2 régions max</p>
                            <p>Biographie remplie avec géolocalisation figurant dans l'une des 13 régions ou dans le 50 top villes.</p>
                            <p>Avoir au moins une passion en rapport avec le voyage, la découverte ou le partage</p>
                            <p>Une photo de "vous" en photo principale du compte.</p>
                            <p>Des photos de paysages, des devantures de commerce ou maisons, des plats de restaurants, des objets dans des boutiques, des lieux insolites d'une ville.</p>
                            <p>Il peut y avoir des photos personnelles (de vous & vos proches) mais un compte ne peut pas comporter 100% de selfies ou des mises en avant dénudées (20% des photos "selfistes" est un maximum). Un Selfie suggéré est clairement apprécié.</p>
                            <p>Le nombre d’abonnés importe peu chez nous même si nous ciblons des influenceurs mini de 50 followers.</p>
                            <p><b>Le +</b> : Le nombre de likes/photo et le taux d’engagement/photo sont évidemment pris en compte mais pas pour ceux qui débutent</p>
                        </div>
                    </div>
                    <div class="col-md-8 d-flex align-items-center" id="newsletterContainer">
                        <div class="newsletter-container">
                            <h4 class="mb-5">JE SOUHAITE PARTAGER MES ADRESSES <span>ET CRÉER MON PROFIL SUR <img src="{{ asset('build/images/logo-service.png') }}" alt=""></span></h4>
                            <form class="newsletter-inputs">
                                <div class="row mb-3">
                                    <div class="col-md-3 col-sm-5 d-flex">
                                        <button type="submit" id="submit-btn" class="btn btn-block">ENVOYER</button>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-12 d-flex newsletter-check-container">
                                        <div class="custom-control custom-checkbox mr-3 newsletter-check">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">
                                                J'ai lu et j'accepte les <span>Conditions Générales d'Utilisation</span>
                                            </label>
                                        </div>
                                        <div class="custom-control custom-checkbox mr-3 newsletter-check">
                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                            <label class="custom-control-label" for="customCheck2">
                                                J'ai lu et j'accepte la <span>Politique de protection des données personnelles</span>
                                            </label>
                                        </div>
                                        <div class="custom-control custom-checkbox newsletter-check">
                                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                                            <label class="custom-control-label" for="customCheck3">
                                                Je confirme avoir plus de 16 ans.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 newsletter-terms">
                                        <p>Si vous mentionnez votre mail dans ce formulaire, cette information sera stockée et conservée conformément aux principes énoncés par le RGPD (Règlement Général sur la Protection des Données), et ce exclusivement dans le but de traiter votre demande ou/ et de vous mettre en relation avec des futures marques pour une mise en relation avec eux. Vous disposez d'un droit d'accès, de rectification, d'effacement, de portabilité et d'opposition à la prospection commerciale. N'hésitez pas à consulter notre politique de protection des données à ce sujet.</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-wrap pt-4 pb-4">
        <div class="container-fluid">
            <div class="col-md-12">
                <img src="{{ asset('build/images/logo-footer.png') }}" alt="Pix.City" /> The Happy city-finder's community
            </div>
        </div>
    </footer>
<script>
    $(document).ready(function()
    {
       $('#submit-btn').on('click', function(e)
       {
           e.preventDefault();
           window.location.href = '/pixie/inscription/mode';
       })
    });
</script>
{% endblock %}