{% extends 'admin/page.html.twig' %}
{% form_theme form 'admin/_forms/fields.html.twig' %}
{% block content %}
    <ol class="breadcrumb breadcrumb-col-teal">
        <li><a href="{{ path('admin_dashboard_index') }}"><i class="material-icons">home</i> Accueil</a></li>
        <li class="active">{{ 'label.blogcategory'|trans }}</li>
    </ol>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        {{ 'label.blogcategory'|trans }}
                    </h2>
                    <a href="{{ path('admin_blog_category_index') }}" class="btn btn-green">back to list</a>
                    {{ include('admin/b2b/blog_category/_delete_form.html.twig') }}
                </div>
                <div class="body">
                    <h1>Edit Category</h1>
                    {{ include('admin/b2b/blog_category/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
