
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="col-sm-3">
                    <a class="brand" href="{{ path('front_homepage_index') }}"><img src="{{ asset('build/images/logo-pc-white.svg') }}" alt="PIXCITY" /></a>
                </div>
                <div class="col-md-3 col-3 container-insta-image">
                    {{ menu('footer-1', 'footerMenu') | raw }}
                </div>
                <div class="col-sm-4">
                    {{ menu('footer-2', 'footerMenu') | raw }}
                </div>
            </div>

            <!-- INSTAGRAM FEED -->
            <div id="feedInstagram" class="col-md-4">
                <div class="col-md-12">
                    <div id="headerFeedInstagram">
                        <a class="linkInstagram" href="{{ options()["instagram-link"] }}" rel="noopener" target="_blank"><i class="fab fa-instagram"></i>Instagram</a><a class="linkInstaProfile" rel="noopener" href="{{ options()["instagram-link"] }}" target="_blank">@pix_city</a>
                    </div>

                    <ul>
                    {% for post in instagramFeed() %}

                        <li>
                            <a href="{{ post.link }}" target="_blank" rel="noopener">
                                <img src="{{ post.image }}" alt="{{ post.title }}">
                            </a>
                        </li>

                    {% endfor %}
                    </ul>

                </div>
            </div>

        </div>
        <div class="col-md-12">
            <hr>

        </div>

        <div id="footerEnd" class="col-md-12">

            <span class="credits">{{ options()["copyright"] }}</span>
            <ul class="socialMenu">
                <li class="fab fa-facebook">
                    <a href="{{ options()["facebook-link"] }}" target="_blank" rel="noopener"></a>
                </li>
                <li class="fab fa-linkedin">
                    <a href="{{ options()["linkedin-link"] }}" target="_blank" rel="noopener"></a>
                </li>
                <li class="fab fa-instagram">
                    <a href="{{ options()["instagram-link"] }}" target="_blank" rel="noopener"></a>
                </li>
            </ul>
        </div>


    </div>
    <!--/.container-->

</footer>