<div class="social-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-footer">
                    {% if page.platform == 0 %}
                        <img src="{{ absolute_url(asset('build/images/footer-logo-main.svg')) }}">
                    {% else %}
                        <a  href="{{ path('front_homepage_index') }}"><img src="/assets/images/services-footer-logo.svg" alt="Pix.City Services"></a>
                    {% endif %}
                </div>
                <div class="container-propos">
                    <h4>A Propos De Nous</h4>
                    {% if page.platform == 0 %}
                        {{ menu('footer-1', 'footerMenu') | raw }}
                        {{ menu('footer-2', 'footerMenu') | raw }}
                    {% else %}
                        {{ menu('footer-3', 'footerMenu') | raw }}
                        <ul>
                            {#<li>#}
                                {#<a href="https://www.pix.city/services">Pix.city Services</a>#}
                            {#</li>#}
                            <li>
                                <a href="{{ path('front_faq_index') }}">FAQ de Pix.City Services</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
                <div class="container-social">
                    <h4>Pix.city Sur Les Reseaux Sociaux</h4>
                    <ul>
                        <li><a href="https://www.facebook.com/pix.city.france/"><i class="fab fa-facebook-square"></i> <span>Facebook</span></a></li>
                        <li><a href="https://www.linkedin.com/company/pixcityservices/"><i class="fab fa-linkedin"></i> <span>Linkedin</span></a></li>
                        <li><a href="https://instagram.com/pix_city/"><i class="fab fa-instagram"></i> <span>Instagram</span></a></li>
                    </ul>
                </div>
            </div>
            <!--googleoff: all-->
            <!--googleon: all-->
        </div>
    </div>
    <!--/.container-->
</div>
<div class="footer-wrap">
    <div class="container">
        {% if page.platform == 0 %}
            {{ options()["copyright"] }}
        {% else %}
            © 2019 Pix City Services
        {% endif %}
    </div>
</div>