<div class="modal fade modal-follow" id="followCityMakerModal" tabindex="-1" role="dialog" aria-labelledby="followCityMakerModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 modal-logo-city-maker">
                        <img src="{{ absolute_url('/assets/images/header-logo-main.svg') }}" alt="Pix.City" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Vous souhaitez suivre les publications des prochaines cards de ce city-maker?</p>
                        <p>Cliquez et ajoutez-le à vos city-makers favoris dans votre compte voyageur (en créant ou en accédant à votre compte).</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 modal-footer-button">
                    <a href="javascript:;" class="btn btn-outline-pink btn-block" data-dismiss="modal">PLUS TARD</a>
                </div>
                <div class="col-md-6 modal-footer-button">
                    <a href="javascript:;" class="btn btn-green btn-block">ACCEDER A MON COMPTE VOYAGEUR</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Folllow the City Maker modal ends -->
<!-- Remove pack confirmation modal -->
<div class="modal fade alert-modal remove-pack-confirmation-modal" id="removePackConfirmation" tabindex="-1" role="dialog" aria-labelledby="removePackConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fz-16">Supprimer le Pack</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sur de vouloir supprimer votre pack?
                    Cette action est irréversible, vous ne pourrez plus accéder au pack supprimé.</p>
                <p>Si vous avez des question sur le fonctionnement Pix.City Services, n’hésitez pas à consulter les <a href="#">pages de FAQ.</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white-cancel" data-dismiss="modal">RETOUR</button>
                <button type="button" class="btn btn-pink" id="confirmPackDelete" data-id="">SUPPRIMER PACK</button>
            </div>
        </div>
    </div>
</div>
<!-- Remove pack confirmation modal ends -->
<!-- Cancel pack edition confirmation modal -->
<div class="modal fade alert-modal cancel-pack-edition-confirmation-modal" id="cancelPackEditionConfirmation" tabindex="-1" role="dialog" aria-labelledby="cancelPackEditionConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fz-16">Vous souhaitez annuler l'édition du pack ? </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr(e) de vouloir annuler l'édition de votre pack ? Toutes les modifications apportées ne seront pas sauvegardées.</p>
                <p>Si vous avez des questions sur cette annulation, n'hésitez pas à consulter notre page d'aide.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white-cancel" data-dismiss="modal">RETOUR</button>
                <button type="button" class="btn btn-pink close-preview">ANNULER L'ÉDITION</button>
            </div>
        </div>
    </div>
</div>
<!-- Cancel pack edition confirmation modal ends -->

<!-- Cancel mission edition confirmation modal -->
<div class="modal fade alert-modal cancel-mission-edition-confirmation-modal" id="cancelMissionEditionConfirmation" tabindex="-1" role="dialog" aria-labelledby="cancelMissionEditionConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fz-16">Annuler l'édition de mission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sur de vouloir annuler l'édition de votre mission?
                    Toutes les modifications apporter en cours de route ne seront pas sauvegarder.</p>
                <p>Si vous avez des questions sur le fonctionnementde Pix.City services, n’hésitez pas à
                    à consulter nos pages d’aide dédiées</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white-cancel" data-dismiss="modal">RETOUR</button>
                <button type="button" class="btn btn-pink close-preview">ANNULER LA CREATION</button>
            </div>
        </div>
    </div>
</div>
<!-- Cancel mission edition confirmation modal ends -->

<!-- Mission edition confirmation modal -->
<div class="modal fade alert-modal mission-edition-confirmation-modal" id="missionEditionConfirmation" tabindex="-1" role="dialog" aria-labelledby="missionEditionConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fz-16">Editer la mission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Attention, les informations que vous avez modifiés vont générer un nouveau devis
                    à votre client.</p>
                <p>Voulez-vous continuer ?
                    <a href="javascript:;" class="d-block">Voir le nouveau devis.</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white-cancel" data-dismiss="modal">ANNULER</button>
                <button type="button" class="btn btn-pink mission-log-update">ENVOYER DEVIS</button>
            </div>
        </div>
    </div>
</div>
<!-- Mission edition confirmation modal ends -->

<!-- End mission confirmation modal -->
<div class="modal fade alert-modal end-mission-confirmation-modal" id="endMissionConfirmation" tabindex="-1" role="dialog" aria-labelledby="endMissionConfirmation" aria-hidden="true" style="">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fz-16">Vous souhaitez terminer la mission ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>En cliquant sur « terminer la mission », une notification de fin de mission sera envoyée au client.</p>
                <p>Dès sa validation, le paiement de votre mission pourra avoir lieu sous 48h.</p>
                <p>Vous serez averti sur votre dashboard City-maker. Pour plus d’informations, consultez notre <a href="javascript:;">FAQ</a> ».</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white-cancel" data-dismiss="modal">ANNULER</button>
                <button type="button" class="btn btn-pink" id="terminate-mission" terminate-data-id="">TERMINER LA MISSION</button>
            </div>
        </div>
    </div>
</div>
<!-- End mission confirmation modal ends -->
<!-- Modals Ends-->
<!-- Toasts starts -->
<!-- Preview pack toast -->
<div class="toast preview-pack-toast fade w-100 m-0 bg-darkgray text-white border-0 rounded-0 fixed-top align-items-center d-flex opacity-90"
     role="alert" data-delay="5000" aria-live="assertive" aria-atomic="true">
    <div class="toast-body text-center align-items-center justify-content-center d-flex position-relative w-100 fz-16">
        Votre pack tel qu'il est vu par votre client
        <button type="button" class="close position-absolute d-flex align-items-center" data-dismiss="toast"
                aria-label="Close">
            <i class="fas fa-times-circle text-white fz-14"></i>
        </button>
    </div>
</div>
<!-- Preview pack toast ends -->
<!-- Saved changes toast -->
<div class="toast save-changes-toast fade w-100 m-0 bg-green text-white border-0 rounded-0 fixed-top align-items-center d-flex"
     role="alert" data-delay="5000" aria-live="assertive" aria-atomic="true">
    <div class="toast-body text-center align-items-center justify-content-center d-flex position-relative w-100 fz-16">
        <i class="fas fa-check-circle text-white mr-2 fz-20"></i> Vos changement ont bien été sauvegardés
        <button type="button" class="close position-absolute d-flex align-items-center" data-dismiss="toast"
                aria-label="Close">
            <i class="fas fa-times-circle text-white fz-14"></i>
        </button>
    </div>
</div>
<!-- Saved changes toast ends -->
<!-- Toasts ends -->

<!-- Remove document confirmation modal -->
<div class="modal fade alert-modal remove-document-confirmation-modal" id="removeDocumentConfirmation" tabindex="-1" role="dialog" aria-labelledby="removePackConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fz-16">Supprimer le Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Supprimer un document
                </p>
                <p>
                    Êtes-vous sûr de vouloir supprimer ce document ?
                    Si vous avez des questions sur le fonctionnement de Pix.City Services, n’hésitez pas à consulter nos <a href="#">pages de FAQ.</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white-cancel" data-dismiss="modal">RETOUR</button>
                <button type="button" class="btn btn-pink" id="confirmDocumentDelete" data-id="">SUPPRIMER Document</button>
            </div>
        </div>
    </div>
</div>
<!-- Remove documents confirmation modal ends -->

<!-- Cancel Mission Success modal -->
<div class="modal fade alert-modal cancel-mission-confirmation-modal" id="cancelMissionConfirmation" tabindex="-1" role="dialog" aria-labelledby="removePackConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fz-16">Annuler La Mission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    A votre demande, avez accepté d’annuler la mission.<br/>
                    Une notification a été envoyée au client pour qu’il accepte cette annulation<br/>
                    Votre mission apparaîtra comme annulée dans votre dashboard et le client sera re-crédité de son pré-paiement.<br/>
                    Si vous avez des questions, consultez notre <a href="#">FAQ</a>
                </p>
            </div>
            <div class="modal-footer">
{#                <button type="button" class="btn btn-white-cancel" data-dismiss="modal">RETOUR</button>#}
                <button type="button" class="btn btn-pink" id="confirmMissionCancel" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Cancel Mission Success modal ends -->

<!-- Notification Modal Starts -->
<div class="modal fade alert-modal" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        {% for notification in app.user.notifications|sort|reverse %}
                        <a href="javascript:;" class="notification-card card p-3 text-darkblue text-decoration-none mb-2 unread">
                            <div class="row">
                                <div class="col-1 d-flex align-items-center justify-content-center">
                                    {% if
                                        notification.type == 'edit_mission_cm' or notification.type == 'terminate_mission_cm' or notification.type == 'cancel_mission_cm' or notification.type == 'mission_client_paid'
                                        or notification.type == 'edit_mission' or notification.type == 'terminate_mission' or notification.type == 'mission_paid' or notification.type == 'cancel_mission'
                                    %}
                                        <i class="fas fa-check-circle text-green fz-40"></i>
                                    {% elseif
                                        notification.type == 'create_mission_cm' or notification.type == 'mission_accepted_edit' or notification.type == 'mission_client_paid' or notification.type == 'terminate_mission_accept' or notification_type == 'mission_request'
                                        or notification.type == 'create_mission' or notification.type == 'cancel_mission_accept' or notification.type == 'mission_accepted_edit_client' or notification.type == 'mission_cliet_paid_complete'
                                    %}
                                        <i class="fas fa-piggy-bank fz-40"></i>
                                    {% elseif notification.client is not null %}
                                        <img src="/uploads/clients/{{ notification.client.id }}/{{ notification.client.profilePhoto }}" class="notification-img rounded-circle">
                                    {% endif %}
                                </div>
                                <div class="col-11">
                                    <h6 class="mb-0 font-weight-normal">{{ ('b2b.label.' ~ notification.type)|trans| upper }}</h6>
                                    <p class="mb-1 font-weight-light">{{ notification.message }}</p>
                                    <small class="text-normalgray fz-10">09 AVRIL 2019 - 12:39{{ notification.createdAt | date('d M Y - H:i') }}</small>
                                </div>
                            </div>
                        </a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Notification Modal Ends -->