<table class="table table-striped">
<tr>
    <th>
        <h1>Client:{{ mission.client }}</h1>
        <p>{{ mission.client.clientInfo.address }}</p>
    </th>
    <th>
        <h1>City Maker: {{ mission.user }}</h1>
    </th>

</tr>
<tr>
    <td>Numéro de facture PCS </td>
    <td>Automatique</td>
</tr>
<tr>
    <td>Date de facture</td>
    <td>Facultatif</td>
</tr>
<tr>
    <td>Date de facture</td>
    <td>{{ mission.createdAt | date('dd/mm/Y') }}</td>
</tr>
</table>
<table class="table table-striped">
    <tr>
        <th>Description</th>
        <th>Quantitie</th>
        <th>Montat</th>
    </tr>
    <tr>
        <td>{{ mission.referencePack }}/{{ mission.title }}</td>
        <td>1</td>
        <td>{{ mission.userMissionPayment.userBasePrice }}€</td>
    </tr>
    <tr>
        <td>Total</td>
        <td></td>
        <td>{{ mission.userMissionPayment.cmTotal }}€</td>
    </tr>
    {% if mission.userMissionPayment.cmTax  > 0 %}
    <tr>
        <td>Tax/VAT</td>
        <td></td>
        <td>{{ mission.userMissionPayment.cmTax }}€</td>
    </tr>
    {% endif %}
    {% if mission.userMissionPayment.pcsPrice > 0%}
    <tr>
        <td>Pix City Services</td>
        <td></td>
        <td>{{ mission.userMissionPayment.pcsPrice }}€</td>
    </tr>
    {% endif %}
    {% if mission.userMissionPayment.pcsTax > 0 %}
    <tr>
        <td>Pix City Services Tax</td>
        <td></td>
        <td>{{mission.userMissionPayment.pcsTax  }}€</td>
    </tr>
    {% endif %}

    {% if mission.userMissionPayment.pcsTotal > 0 %}
        <tr>
            <td>Pix City Services Total</td>
            <td></td>
            <td>{{mission.userMissionPayment.pcsTotal  }}€</td>
        </tr>
    {% endif %}
</table>
{% if mission.userMissionPayment.cmTax == 0 %}
Conditions d'escompte Néant / La prestation est réalisée et payée selon les conditions générales d'utilisation du City Maker, ainsi que selon les stipulations pour autrui nées de l'acceptation par les parties des conditions générales Pix.city Services que les parties reconnaissent avoir lues et acceptées et qui sont disponibles à l'adresse [URL]XXXX.
    <br/>
    TVA non applicable, art. 293 B du CGI 
    <br/>
    En cas de retard de paiement s'applique une pénalité égale au taux d'intérêt appliqué par la Banque Centrale Européenne (BCE) à son opération de refinancement la plus récente majoré de 10 points.
    <br/>
    Indemnité forfaitaire pour frais de recouvrement de 40 euros
    <br/>
    Coordonnées bancaires du CONTRIBUTEUR
    <table class="table table-striped">
    <tr>
        <th>NOM</th><td></td>
    </tr>
    <tr>
        <th>PAYS</th><td></td>
    </tr>
    <tr>
        <th>IBAN</th><td></td>
    </tr>
    <tr>
        <th>BIC</th><td></td>
    </tr>
    </table>
    <br/>
    Facture établie par Pix.City Services pour le compte du City Maker
    <br/>
    La commission de Pix.city Services est de 25% sur le prix TTC.
{% endif %}