<table class="table table-striped">
    {% if mission.userMissionPayment.taxValue == 0 %}
        <tbody>
        <tr>
            <td>
                <h3>{{ mission.client }}</h3>
                <br/>
                {{ mission.client.clientInfo.address~' - '~mission.client.clientInfo.postalCode~' '~mission.client.clientInfo.city~' - PAYS' }}
            </td>
            <td>
                <h3>City-Maker</h3>
                <br/>
                {{ mission.user.pixie.billing.address.address }}<br>
                {{ mission.user.pixie.billing.address.zipcode~' '~mission.user.pixie.billing.address.city }}<br/>
            </td>
        </tr>
        <tr>
            <td><strong>Numéro de facture PCS</strong></td><td> Automatique</td><td></td><td></td>
        </tr>
        <tr>
            <td>Numéro de facture du contributeur ou client</td><td> Facultatif</td>
        </tr>
        <tr>
            <td>Date de facture</td><td>{{ mission.updatedAt | date('d-M-Y') }} </td>
        </tr>
        <tr>
            <th>Description</th>
            <th>QUANTITE</th>
            <th>MONTANT</th>
        </tr>
        <tr>
            <td>Pack 1 / Instagram Pro Gestion</td>
            <td>1</td>
            <td>{{ mission.userMissionPayment.clientPrice }} €</td>
        </tr>
        <tr>
            <td>Comments (automatically adding from the pack)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>SOUS-TOTAL</td>
            <td></td>
            <td>{{ mission.userMissionPayment.clientPrice }} €</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>SOUS TOTAL</td>
            <td></td>
            <td>{{ mission.userMissionPayment.clientPrice }} €</td>
        </tr>
        <tr>
            <td>TOTAL</td>
            <td></td>
            <td>{{ mission.userMissionPayment.total }} €</td>
        </tr>
        </tbody>
    {% else %}
        <tbody>
        <tr>
            <td>
                <h3>{{ mission.client }}</h3>
                <br/>
                {{ mission.client.clientInfo.address~' - '~mission.client.clientInfo.postalCode~' '~mission.client.clientInfo.city~' - PAYS' }}
            </td>
            <td>
                <h3>City-Maker</h3>
                <br/>
                {{ mission.user.pixie.billing.address.address }}<br>
                {{ mission.user.pixie.billing.address.zipcode~' '~mission.user.pixie.billing.address.city }}<br/>
            </td>
        </tr>
        <tr>
            <td><strong>Numéro de facture PCS</strong></td><td> Automatique</td><td></td><td></td>
        </tr>
        <tr>
            <td>Numéro de facture du contributeur ou client</td><td> Facultatif</td>
        </tr>
        <tr>
            <td>Date de facture</td><td>{{ mission.updatedAt | date('d-M-Y') }} </td>
        </tr>
        <tr>
            <th>Description</th>
            <th>QUANTITE</th>
            <th>MONTANT</th>
        </tr>
        <tr>
            <td>{{ mission.referencePack }}/{{ mission.title }}</td>
            <td>1</td>
            <td>{{ mission.userMissionPayment.userBasePrice }} €</td>
        </tr>
        <tr>
            <td>Comments (automatically adding from the pack)   </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>SOUS-TOTAL</td>
            <td></td>
            <td>{{ mission.userMissionPayment.clientPrice }} €</td>
        </tr>
        <tr>
            <td>TVA {{ mission.userMissionPayment.taxPercentage }}%</td>
            <td></td>
            <td>{{ mission.userMissionPayment.taxValue }} €</td>
        </tr>
        <tr>
            <td>SOUS TOTAL Post Com°</td>
            <td></td>
            <td>{{ mission.userMissionPayment.total }} €</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>TOTAL TTC</td>
            <td></td>
            <td>{{ mission.userMissionPayment.total }} €</td>
        </tr>
        <tr>
            <td colspan="3">
                Conditions d'escompte Néant / La prestation est réalisée et payée selon les conditions générales d'utilisation du City Maker, ainsi que selon les stipulations pour autrui nées de l'acceptation par les parties des conditions générales Pix.city Services que les parties reconnaissent avoir lues et acceptées et qui sont disponibles à l'adresse [URL]XXXX.
            </td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="3">
                En cas de retard de paiement s'applique une pénalité égale au taux d'intérêt appliqué par la Banque Centrale Européenne (BCE) à son opération de refinancement la plus récente majorée de 10 points.
            </td>
        </tr>
        <tr>
            <th>NOM</th>
            <td></td>
            <td>{{ mission.user }}</td>
        </tr>
        <tr>
            <th>PAYS</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>IBAN</th>
            <td></td>
            <td>{{ mission.user.pixie.billing.billingIban }}</td>
        </tr>
        <tr>
            <th>BIC</th>
            <td></td>
            <td>{{ mission.user.pixie.billing.billingBic }}</td>
        </tr>
        </tbody>
    {% endif %}
</table>