{% extends 'front/account/pixie/base.html.twig' %}
{% import "front/_shared/macros.html.twig" as macro %}

{% block body_class %}{{ parent() }} pixieAccount account parametres{% endblock %}

{%  block meta_title %}{{ page.metaTitle }}{% endblock %}
{%  block meta_description %}{{ page.metaDescription }}{% endblock %}

{%  block meta_robots %}{% if page.indexed == false %}noindex,follow{% else %}{{ parent() }}{% endif %}{% endblock %}

{% form_theme form 'front/_forms/fields.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('build/css/dropzone.css')) }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block page_content %}



    <div class="container main">
        <div class="row">
            <div class="col-md-12 text-center">
                <p style="color:#484848 !important; padding-top:20px; font-size:20px;"><strong>Paramètres</strong></p>
            </div>
        </div>

        {% if errors | length > 0 %}
        <ul class="form-errors">
            <li class="icon"><i class="fa fa-exclamation-triangle"></i></li>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="col-md-12 plTabs">

            <!-- NAV TABS -->
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav nav-tabs">
                        <p></p>

                        {%  if '/city-maker/compte/community/manager' not in app.request.headers.get('referer') %}
                            <li class="tab1 active"><a href="#general-tab" data-noautscroll="true" data-toggle="tab">Général</a></li>
                        {% else %}
                            <li class="tab1"><a href="#general-tab" data-noautscroll="true" data-toggle="tab">Général</a></li>
                        {% endif %}
                        <li class="tab2"><a href="#connexion-tab" data-noautscroll="true" data-toggle="tab">Connexion</a></li>
                        <li class="tab3"><a href="#regions-tab" data-noautscroll="true" data-toggle="tab">Régions</a></li>
                        <li class="tab4"><a href="#jaime-jaimepas-tab" data-noautscroll="true" data-toggle="tab" class="disable" disabled="">Catégories favorites</a></li>
                        <li class="tab5"><a href="#remuneration-tab" data-noautscroll="true" data-toggle="tab">Rémunération</a></li>
                        <li class="tab6"><a href="#notifications-tab" data-noautscroll="true" data-toggle="tab">Notifications</a></li>
                        <li class="tab7"><a href="#security-tab" data-noautscroll="true" data-toggle="tab">Sécurité et confidentialité</a></li>
                        {%  if '/city-maker/compte/community/manager' in app.request.headers.get('referer') %}
                            <li class="tab8 active"><a href="#community-manager-tab" data-noautscroll="true" data-toggle="tab"> Espace Services</a></li>
                        {% else %}
                            <li class="tab8"><a href="#community-manager-tab" data-noautscroll="true" data-toggle="tab"> Espace Services</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <!-- TABS -->
            {{ form_start(form,{'attr':{'enctype' : 'multipart/form-data'}}) }}

            <div class="tab-content" id="pixie-parametres">

                <!-- GENERAL -->
                    {%  if '/city-maker/compte/community/manager' not in app.request.headers.get('referer') %}
                        <div class="tab-pane active tp1" id="general-tab">
                    {% else %}
                            <div class="tab-pane tp1" id="general-tab">
                    {% endif %}

                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group col-sm-12 input-container">
                                <div class="portraitCompte bigPc fa fa-user user-avatar-field upload-zone">
                                    <input name="file-avatar" type="file" class="file-input" data-type="single" />
                                    <div class="field">{{ form_widget(form.avatar.name) }}</div>
                                    <div class="thumb crop-src" style="background-image: url({% if form.avatar.vars.value.id is defined %}{{ form.avatar.vars.value.getUrl() }}{% endif %});"></div>
                                    <span class="label">
                                        <span class="text">Modifier</span>
                                        <i class="fas fa-spinner fa-spin"></i>
                                    </span>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-9">
                            <div class="col-sm-12">
                                <span class="maj">Informations</span>
                            </div>

                            {{ form_row(form.firstname, {'icon': 'fa-user'}) }}
                            {{ form_row(form.lastname, {'icon': 'fa-user'}) }}
                            {{ form_row(form.phone, {'icon': 'fa-phone'}) }}

                            <div class="col-sm-6 form-group type-birthdate">
                                {{ form_label(form.birthdate) }}
                                <div class="input-container input-group">
                                    {{ form_widget(form.birthdate) }}
                                </div>
                            </div>


                            {{ form_row(form.currentLocation, {'icon': 'fa-home'}) }}
                            {{ form_row(form.gender) }}

                            {{ form_row(form.birthLocation) }}


                            <!-- RESEAUX SOCIAUX -->
                            <div class="col-sm-12">
                                <span class="maj">Réseaux sociaux</span>
                            </div>

                            <ul class="repeater-container user-links-collection" data-prototype="{{ form_widget(form.links.vars.prototype)|e('html_attr') }}">

                                {% for link in form.links %}
                                    {{ form_widget(link) }}
                                {% endfor %}

                                <li class="col-sm-6 align-center addRs-container">
                                    <label>Ajouter</label>
                                    <div class="form-group">
                                        <div class="input-group form-row addRs">
                                            <div class="input-group-addon"><i class="fa fa-link"></i><span class="dropdown"></span></div>
                                            <select class="form-control" name="other-rs">
                                                <option value="facebook">{{ 'label.network.facebook'|trans }}</option>
                                                <option value="twitter">{{ 'label.network.twitter'|trans }}</option>
                                                <option value="instagram">{{ 'label.network.instagram'|trans }}</option>
                                                <option value="youtube">{{ 'label.network.youtube'|trans }}</option>
                                                <option value="blog">{{ 'label.network.blog'|trans }}</option>
                                                <option value="other">{{ 'label.network.other'|trans }}</option>
                                            </select>
                                            <button class="fa fa-plus add-item"></button>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>


                </div>

                <!-- CONNEXION -->
                <div class="tab-pane tp2" id="connexion-tab">
                    <div class="row">

                        <div class="row">
                            <div class="col-sm-12">
                                {{ form_row(form.email, {'icon': 'fa-at'}) }}
                            </div>
                        </div>

                        {{ form_row(form.plainPassword.first, {'icon': 'fa-lock'}) }}
                        {{ form_row(form.plainPassword.second, {'icon': 'fa-lock'}) }}

                    </div>
                </div>


                <!-- J AIME / J AIME PAS -->
                <div class="tab-pane tp3" id="jaime-jaimepas-tab">
                    <div class="row">

                        {#<div class="col-md-12 maj">#}
                            {#J'aime / J'aime pas</div>#}



                        {#<div class="col-sm-6 input-container form-row form-group">#}
                            {#<div class="row">#}
                                {#<div class="col-xs-6">#}
                                    {#<label>{{ form_label(form.pixie.dislikeText) }}...</label>#}
                                {#</div>#}
                                {#<div class="col-xs-6 text-right">#}
                                    {#<div class="count-words-status dislike">Mots <span class="current"></span>/<span class="limit">500</span></div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="input-container">#}
                                {#{{ form_widget(form.pixie.dislikeText) }}#}
                                {#{{ form_errors(form.pixie.dislikeText) }}#}
                            {#</div>#}
                        {#</div>#}

                        <div class="col-md-12 maj">
                            Catégories favorites
                            <div class="count-categories-status">(<span class="current"></span>/<span class="limit">5</span>)</div>
                        </div>

                        {{ form_widget(form.favoriteCategories) }}
                    </div>
                </div>

                <!-- REGIONS -->
                <div class="tab-pane tp4" id="regions-tab">
                    <div class="row">


                        <div class="col-md-12 maj">J’ai des bons plans dans les régions suivantes (max 2)</div>

                        {{ form_widget(form.pixie.regions) }}
                        {{ form_errors(form.pixie.regions) }}

                    </div>
                </div>

                <!-- REMUNERATION -->
                <div class="tab-pane tp5" id="remuneration-tab">
                    <div class="row">

                        <div class="col-sm-12">
                            <span class="maj">Rétribution monétaire</span>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_row(form.pixie.billing.status) }}
                            </div>
                        </div>

                        {{ form_row(form.pixie.billing.companyName) }}
                        {{ form_row(form.pixie.billing.firstname) }}
                        {{ form_row(form.pixie.billing.lastname) }}
                        {{ form_row(form.pixie.billing.phone) }}

                        <div class="col-md-6 address-module form-group">

                            {{ form_label(form.pixie.billing.address.address) }}

                            <div class="row">
                                <div class="col-xs-12 input-container">
                                    {{ form_widget(form.pixie.billing.address.address) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 input-container">
                                    {{ form_widget(form.pixie.billing.address.zipcode) }}
                                </div>
                                <div class="col-md-7 input-container">
                                    {{ form_widget(form.pixie.billing.address.city) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 input-container">
                                    {{ form_widget(form.pixie.billing.address.country) }}
                                </div>
                            </div>
                        </div>

                        {{ form_row(form.pixie.billing.tva) }}

                        <!--CHOIX DE REMUNERATION -->

                        <div class="col-sm-12 form-group">
                            <label for="mode-paiement" class="maj">Rémunération</label>
                        </div>

                        {#<div class="col-sm-12">#}
                            {#<div class="col-sm-4 contact-frame">#}
                                {#<p class="text-left">Vos infos bancaires actuelles</p>#}
                                {#<ul class="text-left">#}
                                    {#<li>IBAN:{{ user.pixie.billing.billingIban }}</li>#}
                                    {#<li>BIC:{{ user.pixie.billing.billingBic }}</li>#}
                                {#</ul>#}
                            {#</div>#}
                            {#<div class="col-sm-8">#}
                                {#<div class="contact-frame">#}
                                    {#<p>Si vous souhaitez modifier vos informations de rémunération, vous pouvez contactez le support Pix.City :</p>#}
                                    {#<a href="mailto:{{ options()["email_support"] }}" class="btn green fa fa-envelope transFx"><span>{{ options()["email_support"] }}</span></a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        <div class="row" style="display: none;">
                            <div class="col-xs-12">
                                {{ form_row(form.pixie.billing.billingType) }}
                            </div>
                        </div>
                        {{ form_row(form.pixie.billing.billingIban) }}
                        {{ form_errors(form.pixie.billing.billingIban) }}

                        {{ form_row(form.pixie.billing.billingBic) }}
                        {{ form_errors(form.pixie.billing.billingBic) }}
                    </div>
                </div>

                <!-- NOTIFICATIONS -->
                <div class="tab-pane tp6" id="notifications-tab">
                    <div class="row">

                        <div class="col-md-12">
                            <p>J’aimerais recevoir par email les notifications suivantes :</p>

                            {{ form_row(form.optin.newsletter) }}
                            {{ form_row(form.optin.pixieCardProjectReceived) }}
                            {{ form_row(form.optin.pixieCardStatusUpdated) }}

                        </div>
                    </div>
                </div>

                <!-- Security -->
                <div class="tab-pane tp7" id="security-tab">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="maj">Protection des données</div>
                            <p>La société Pixielanes accorde une grande importance au respect de votre vie privée et avons à cœur de construire avec vous des relations fortes et durables. La protection de vos données personnelles est primordiale à nos yeux. C’est pourquoi, nous mettons à votre disposition notre Politique de protection des données afin de vous informer de la façon la plus claire possible des traitements mis en œuvre dans le cadre de l’utilisation des services du site.</p>
                            <a class="btn green multiline" href="{{ path('front_pages_index', {slug: "politique-de-protection-des-donnees"}) }}"><span>Consulter notre politique de protection des données</span></a>
                        </div>

                    </div>
                    <br><br><br>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="maj">Supprimer votre compte</div>
                            <p>Si vous souhaitez supprimer votre compte, vous pouvez le faire sur simple demande à notre support technique.</p>
                            <a class="btn green" href="mailto:{{ options()["email_support"] }}"><span>{{ options()["email_support"] }}</span></a>
                        </div>

                    </div>
                </div>

                <!-- community Manager -->
                    {%  if '/city-maker/compte/community/manager' in app.request.headers.get('referer') %}
                        <div class="tab-pane active tp8" id="community-manager-tab">
                    {% else  %}
                        <div class="tab-pane tp8" id="community-manager-tab">
                    {% endif %}

                    <div class="row">
                        <div class="col-md-12 maj">Skills</div>
                        {{ form_widget(form.userSkill) }}
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12 maj">Region</div>
                        {{ form_widget(form.userRegion) }}
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12 maj">Images</div>
                        <div class="dropzone">
                            <div id="dropzone-custom" style="background:#fff8f8;height:300px;width:auto"></div>
                        </div>
                    </div>

                </div>




                <!-- ENREGISTRER / ANNULER -->

                {% if app.user.password is not null %}
                <div class="col-xs-12 text-right password-protected-form">
                    <p>Pour confirmer vos modifications, veuillez saisir votre mot de passe :</p>

                    <div class="row">
                        {{ form_row(form.oldPassword, {'icon': 'fa-lock'}) }}
                    </div>
                </div>
                {% endif %}

                <div class="col-sm-12 text-right save-container">
                    <a href="{{ path('front_pixie_account_settings') }}" class="btn cancelModif">Annuler la modification</a>

                    <button type="submit" class="btn transFx green fa fa-save btn-save" id="submitform"><span>Sauvegarder</span></button>
                </div>
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>

    {% embed "front/_modals/image-crop.html.twig" %}{% endembed %}

    {% for message in app.flashes('account_saved_settings') %}
        {% embed "front/_modals/settings-saved.html.twig" with {'message': message} %}{% endembed %}
    {% endfor %}

    <div id="api-routes"
         data-upload-route="{{ path('front_user_ajax_upload_avatar') }}"
    ></div>

{% endblock %}

{% block footer_class %}simpleFooter{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/front/js/pages/pixie-settings.js') }}"></script>
    <script src="{{ asset('build/js/dropzone.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <script>
        $(document).ready(function(){

            $("#user_userRegion").select2({
                maximumSelectionLength: 2,
                placeholder: {
                    id: '-1', // the value of the option
                    text: 'Select an region'
                }
            });

            var $dropZone  = $('#dropzone-custom').dropzone({
                url:'{{ path('front_pixie_account_fileuploadhandler') }}',
                maxFiles: 7,
                acceptedFiles: 'image/*',
                maxFilesize: 2,  // in Mb
                addRemoveLinks: true,
                autoProcessQueue:false,
                parallelUploads: 100,

                dictRemoveFileConfirmation:'Are you sure you want to save this image?',
                removedfile: function(file) {
                    var name = file.name;

                    $.ajax({
                        type: 'POST',
                        url: '{{ path('front_pixie_account_delete_image') }}',
                        data: {name: name,request: 2},
                        sucess: function(data){
                            console.log('success: ' + data);
                        }
                    });

                    var _ref;
                    if (file.previewElement) {
                        if ((_ref = file.previewElement) != null) {
                            _ref.parentNode.removeChild(file.previewElement);
                        }
                    }
                    return this._updateMaxFilesReachedClass();

                },
                init: function () {


                    this.on("maxfilesexceeded", function(file) {
                        this.removeFile(file);
                        alert('please upload maximum 7 files');
                    });
                    this.on("sending", function(file, xhr, formData) {
                        // send additional data with the file as POST data if needed.
                        // formData.append("key", "value");
                    });
                    this.on("success", function(file, response) {
                        if (response.uploaded)
                            console.log('File Uploaded: ' + response.fileName);
                    });

                    thisDropzone = this;

                    $.get('{{ path('front_pixie_account_display_image') }}', function(data) {

                        if(data.length){
                            $.each(data, function(key,value){

                                var mockFile = { name: value.name, size: value.size };

                                thisDropzone.options.addedfile.call(thisDropzone, mockFile);

                                thisDropzone.options.thumbnail.call(thisDropzone, mockFile, "/uploads/community_media/"+value.id+'/'+value.name);

                            });
                        }else{
                            $("#dropzone-custom").height(250);
                        }


                    });
                }
            });


            $("#submitform").on('click',function(){
                $dropZone[0].dropzone.processQueue();
            });

        });
    </script>
{% endblock %}

{% block javascripts_footer %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=googleMapsApiInit&libraries=places" async defer></script>
{% endblock %}
